*{
    box-sizing: border-box;
}
body{
    font-family: Inter,Helvetica,sans-serif!important;
    overflow-x: hidden;
    margin: 0!important;
}
:root {
    --black: #01223a;
    --dark-card: #1e1e2d;
    --dark: #035158;
    --light: #468694;
    --white: #FCF7F8;
    --blue: #009EF7;
    --soft: #F1FAFF;
    --inactive-action: #a1a5b7;
    --grey: #5e6278;
    --soft-border: #f4f4f4;

    --dark-chat-message-get-background: #2f264f;
    --dark-chat-message-send-background: #212e48;
    --light-chat-message-get-background: #f8f5ff;
    --light-chat-message-send-background: #f1faff;

    --input-dark-background: #1b1b29;
    --input-light-background: #f9f9f9;
    --input-light-border: #e1e3ea;
    --input-focus-dark-background: #2b2b40;
    --input-focus-light-background: #f4f4f4;
    --input-placeholder: #92929f;

    --btn-blue-background: #f1faff;
    --btn-blue-color: #009ef7;
    --btn-green-background: #e8fff3;
    --btn-green-color: #50cd89;
    --btn-dark-background: #212e48;
    --btn-dark-color: #7e8299;
    --btn-dark-blue-background: #212e48;
    --btn-dark-green-background: #1c3238;

    /*****FIELDS*****/
    /*INPUT*/
    --input-width: 100%;
    --input-height: 60px;
    --input-background: #F5EEEF;
    --input-padding: 19px 24px;
    --input-border-radius: 10px 10px 0 0;
    --input-border: none;
    --input-border-bottom: 2px solid #C3CBD0;
    --input-filled-size: 14px;

    --input-focus-outline: none;
    --input-focus-box-shadow: none;
    --input-focus-border: none;
    --input-focus-border-bottom: 2px solid #035158;

    --input-placeholder-color: #181C32;
    --input-placeholder-size: 16px;
    --input-placeholder-weight: 400;
    --input-placeholder-font-style: normal;
    --input-placeholder-line-height: 21px;
    /*SELECTOR*/
    --selector-width: 100%;
    --selector-height: 60px;
    --selector-background: #F5EEEF;
    --selector-padding: 19px 24px;
    --selector-border-radius: 10px 10px 0 0;
    --selector-border: none;
    --selector-border-bottom: 2px solid #C3CBD0;

    --selector-focus-outline: none;
    --selector-focus-box-shadow: none;
    --selector-focus-border: none;
    --selector-focus-border-bottom: 2px solid #C3CBD0;

    /*TEXTAREA*/
    --textarea-width: 100%;
    --textarea-height: 160px;
    --textarea-background: #F5EEEF;
    --textarea-padding: 19px 24px;
    --textarea-border-radius: 10px 10px 0 0;
    --textarea-border: none;
    --textarea-border-bottom: 2px solid #C3CBD0;
    --textarea-filled-size: 14px;

    --textarea-focus-outline: none;
    --textarea-focus-box-shadow: none;
    --textarea-focus-border: none;
    --textarea-focus-border-bottom: 2px solid #035158;

    --textarea-placeholder-color: #181C32;
    --textarea-placeholder-size: 16px;
    --textarea-placeholder-weight: 400;
    --textarea-placeholder-font-style: normal;
    --textarea-placeholder-line-height: 21px;
}
.w-600{
    width: 600px
}
input[type='radio'],input[type='radio']:focus{
    outline: none;
    box-shadow: none;
    color: #035158;
    border-color: #035158
}
.flat-picker-single-field{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.flat-picker-field{
    width: var(--input-width);
    height: var(--input-height);
    background: var(--input-background);
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    border-bottom: var(--input-border-bottom);
    color: #000;
    font-size: var(--input-filled-size);
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}
.flat-picker-field:focus,.flat-picker-field.filled{
    outline: var(--input-focus-outline);
    box-shadow: var(--input-focus-box-shadow);
    border: var(--input-focus-border);
    border-bottom: var(--input-focus-border-bottom);
}
.flat-picker-field::placeholder{
    color: var(--input-placeholder-color);
    font-size: var(--input-placeholder-size);
    font-style: var(--input-placeholder-font-style);
    font-weight: var(--input-placeholder-weight);
    line-height: var(--input-placeholder-line-height);
}
.flat-picker-single-field .selector-label{
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    pointer-events:none;
    transition: 0.2s ease all;
    color: #181C32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    z-index: 2;
}
.flat-picker-single-field .selector-label.focused{
    top: 7px;
    transform: translateY(0);
    color: #035158;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}
.multiselect-field.filled{
    border: none!important;
    box-shadow: none!important;
    border-bottom: 2px solid #035158!important;
}
a, a:hover{
    text-decoration: none;
    transition: 0.3s;
}
span, button{
    transition: 0.3s;
}
ul{
    margin: 0;
    padding: 0;
}
.separator {
    display: block;
    height: 0;
    border-bottom: 1px solid #f4f4f4;
}
.clearfix{
    clear: both;
}
.auth-background{
    background: #f9f9f9;
}
.mb-16{
    margin-bottom: 16px;
}
.mt-60{
    margin-top: 60px;
}
.main-container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.main-workspace{
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.main-content{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.main-content-full{
    width: 100%;
    padding: 0 30px;
}
.main-content-full .main-workspace{
    border-radius: 0;
}
.main-content .main-workspace{
    border-radius: 5px;
}
.main-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}
.hoverable-dropdown{
    position: relative;
}
.hoverable-dropdown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
    padding-top: 2px;
}
.hoverable-dropdown-menu.dropdown-menu-end{
    right: 0;
    left: unset;
}
.hoverable-dropdown:hover .hoverable-dropdown-menu{
    display: flex;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-name: smoothDropdown;
    animation-duration: 0.4s;
}
@keyframes smoothDropdown{
    from {transform: translateY(10px);}
    to {transform: translateY(0);}
}
/****HEADER****/
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.main-navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-side{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar-logo{
    display: flex;
    margin-right: 32px;
}
.navbar-logo a{
    display: flex;
}
.navbar-logo a img{
    max-width: 100%;
    height: 25px;
    object-fit: contain;
}
.navbar-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-menu > ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar-menu > ul > li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar-menu > ul > li > a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 13px;
    color: white;
    font-weight: 500;
    margin-right: 6px;
    border-radius: .475rem;
    font-size: 13px;
    letter-spacing: .3px;
}
.navbar-menu > ul > li > a:hover,
.navbar-menu > ul > li > a.active{
    background: rgba(255,255,255,.1);
}
.menu-btn{
    display: none;
}
/*DROPDOWN MENU*/
.dropper{
    position: relative;
}
.dropper > span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 13px;
    color: white;
    font-weight: 500;
    margin-right: 6px;
    border-radius: 0.475rem;
    font-size: 13px;
    letter-spacing: .3px;
    cursor: default;
}
.dropper > span:hover{
    background: rgba(255,255,255,.1);
}
.dropper > span.active{
    background: rgba(255,255,255,.1);
}
.list-items-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 21px;
    z-index: -1;
}
.dropper:hover .list-items-dropdown{
    z-index: 999;
}
.list-items-dropdown-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: white;
    padding: 15px;
    min-width: 175px;
    border-radius: 0.475rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: ease-in-out 0.2s;
    transform: translateY(-20px);
}
.dropper:hover .list-items-dropdown-inner{
    opacity: 1;
    transform: translateY(0);
}
.list-items-dropdown-item a{
    color: #3f4254;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}
.list-items-dropdown-item a:hover{
    color: #cdcdde;
}
.list-items-dropdown-item a.active{
    color: #cdcdde;
}
/****TOOLS****/
.navbar-side.navbar-tools{
    justify-content: flex-end;
}
.navbar-tool-item:not(:last-child){
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .475rem;
    margin-right: .75rem;
}
.navbar-tool-item:hover{
    background: rgba(255,255,255,.1);
}
.navbar-tool-item i{
    color: white;
    font-size: 22px;
}
.navbar-tool-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .475rem;
}
.navbar-tool-icon:hover{
    background: rgba(255,255,255,.1);
}
/*SEARCH TOOL*/
.tool-search{}
.TS-dropdown-box{
    width: 375px;
    max-width: 100%;
    padding: 22px;
    display: flex;
    flex-direction: column;
}
.TS-dropdown-box-search-area {
    width: 584px;
    padding: 16px 8px;
}
.TS-dropdown-box-search{
    display: flex;
    flex-direction: column;
}
.TS-dropdown-box-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tsdbh-side{
    display: flex;
    align-items: center;
    width: 100%;
}
.tsdbh-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.tsdbh-search-icon{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tsdbh-search-icon i{
    font-size: 23px!important;
    color: var(--inactive-action)!important;
}
.tsdbh-search-input {
    width: 100%;
}
.tsdbh-search-input input{
    width: 100%;
    border: none;
    background: transparent;
}
.tsdbh-search-input input:focus{
    outline: none;
    box-shadow: none;
}
.tsdbh-settings{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tsdbh-settings-filter{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.tsdbh-settings-filter i{
    color: var(--inactive-action);
    font-size: 20px!important;
}
.tsdbh-settings-filter:hover i{
    color: var(--blue);
}
.tsdbh-settings-details{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tsdbh-settings-details i{
    color: var(--inactive-action);
    font-size: 20px!important;
}
.tsdbh-settings-details:hover i{
    color: var(--blue);
}
.TS-dropdown-box-body{
    width: 100%;
    display: flex;
}
.tsdbb-title{
    font-size: 14px;
    color: var(--inactive-action);
    margin-bottom: 13px;
    font-weight: 500;
}
.tsdbb-lists{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tsdbb-list-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.tsdbb-list-item-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tsdbb-list-item-icon i{
    font-size: 20px!important;
    color: var(--blue);
}
.tsdbb-list-item-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.tsdbb-list-item-title a{
    font-size: 13px;
    color: var(--dark);
    font-weight: 600;
}
.tsdbb-list-item-code{
    font-size: 12px;
    color: var(--inactive-action);
}
.TS-dropdown-box-filter{
    display: flex;
    flex-direction: column;
}
.tsdbf-title{
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 22px;
    color: var(--black);
    font-weight: 500;
}
.tsdbf-lists{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tsdbf-list-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.tsdbf-list-item-title{
    font-size: 14px;
    color: var(--grey);
    font-weight: 500;
}
.checkbox-slide-switcher .switch {
    display: inline-block;
    height: 19px;
    position: relative;
    width: 32px;
}
.checkbox-slide-switcher .switch input {
    display:none;
}
.checkbox-slide-switcher .slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.checkbox-slide-switcher .slider:before {
    background-color: #fff;
    bottom: 1px;
    content: "";
    height: 17px;
    left: 2px;
    position: absolute;
    transition: .4s;
    width: 17px;
}
.checkbox-slide-switcher input:checked + .slider {
    background-color: var(--blue);
}
.checkbox-slide-switcher input:checked + .slider:before {
    transform: translateX(11px);
}
.checkbox-slide-switcher .slider.round {
    border-radius: 34px;
}
.checkbox-slide-switcher .slider.round:before {
    border-radius: 50%;
}
.tsdbf-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tsdbf-footer-cancel{
    margin-right: 10px;
    padding: 8px 17px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
}
.tsdbf-footer-submit{
    color: var(--white);
    background: var(--blue);
    margin-right: 10px;
    padding: 8px 17px;
    font-size: 12px;
    border-radius: 7px;
    font-weight: 500;
    text-transform: capitalize;
}
.TS-dropdown-box-settings{
    display: flex;
    flex-direction: column;
}
.tsdbs-title{
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 22px;
    color: var(--black);
    font-weight: 500;
}
.tsdbs-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tsdbs-input-area{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.tsdbs-input-block{
    width: 100%;
    display: flex;
}
.tsdbs-input-block input{
    width: 100%;
    height: 34px;
    color: #5e6278;
}
.tsdbs-input-block input:focus{
    box-shadow: none;
    outline: none;
}
.tsdbs-input-block input::placeholder{
    font-size: 12px;
    font-weight: 500;
    color: var(--input-placeholder);
}
.tsdbs-types{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.tsdbs-type-item{
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typesx4 > .tsdbs-type-item{
    width: calc(100% / 4 - 8px);
}
.typesx2 > .tsdbs-type-item{
    width: calc(100% / 2 - 4px);
}
.tsdbs-type-item span{
    display: flex;
    padding: 8px 17px;
    font-size: 12px;
    color: var(--grey);
    border-radius: 6px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.tsdbs-type-item:hover span,
.tsdbs-type-item span.active{
    background: var(--blue);
    color: white;
}
.tsdbs-selector-area{
    margin-bottom: 20px;
    display: flex;
    width: 100%;
}
.tsdbs-selector-block{
    width: 100%;
    display: flex;
}
.tsdbs-selector-block .multiselect{
    min-height: 34px;
    height: 34px;
    border: none;
    box-shadow: none;
    outline: none;
    background: none;
}
.tsdbs-selector-block .multiselect-wrapper{
    background: none;
}
.tsdbs-selector-block .multiselect.is-active{
    border: none;
    box-shadow: none;
}
.tsdbs-selector-block .multiselect input{
    height: 34px;
    box-shadow: none;
    outline: none;
}
.tsdbs-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tsdbs-footer-cancel{
    margin-right: 10px;
    padding: 8px 17px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
}
.modal-footer-cancel{
    margin-right: 10px;
    padding: 8px 17px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}
.modal-footer-submit{
    padding: 8px 17px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}
.modal-footer-submit:disabled{
    background-color: #cccccc!important;
    color: #666666!important;
}
.tsdbs-input-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.tsdbs-footer-submit{
    color: var(--white);
    background: var(--blue);
    margin-right: 10px;
    padding: 8px 17px;
    font-size: 12px;
    border-radius: 7px;
    font-weight: 500;
    text-transform: capitalize;
}
/*TASKS TOOL*/
.tool-tasks{}
.task-dialog-content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.task-dialog-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 30px;
}
.task-dialog-title{
    font-weight: 600;
    font-size: 17px;
    color: var(--dark);
}
.task-dialog-settings{}
.task-dialog-settings > span{
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    transition: 0.3s;
    cursor: pointer;
}
.task-dialog-settings > span i{
    color: var(--inactive-action)!important;
    font-size: 20px!important;
    transition: 0.3s;
}
.task-dialog-settings > span:hover{
    background: var(--btn-blue-background);
}
.task-dialog-settings > span:hover i{
    color: var(--btn-blue-color)!important;
}
.task-dialog-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 26px 30px;
    height: calc(100% - 145px);
    overflow-y: auto;
}
.task-dialog-items::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.task-dialog-items::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
.task-dialog-items::-webkit-scrollbar-thumb {
    background: #efefef;
}
.task-dialog-items:hover::-webkit-scrollbar-thumb {
    background: #dedede;
}


.TN-dropdown-email-items::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.TN-dropdown-email-items::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
.TN-dropdown-email-items::-webkit-scrollbar-thumb {
    background: #efefef;
}
.TN-dropdown-email-items:hover::-webkit-scrollbar-thumb {
    background: #dedede;
}
/* Handle on hover */
.task-dialog-items::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.task-item{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.task-item:not(:last-child):before{
    content: '';
    position: absolute;
    top: 35px;
    left: 20px;
    width: 1px;
    height: 100%;
    border-left: 2px dotted #e1e3ea;
    transform: translateX(-50%);
}
.task-item-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.task-item-icon{
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
}
.task-item-icon i{
    color: var(--inactive-action)!important;
    font-size: 20px!important;
}
.task-item-heading{
    width: calc(100% - 55px);
    display: flex;
    flex-direction: column;
}
.task-item-title{
    font-size: 15px;
    color: black;
    font-weight: 500;
    margin-bottom: 6px;
}
.task-item-time{
    font-size: 12px;
    color: var(--inactive-action);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.task-item-time img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: top center;
    margin-left: 5px;
    border-radius: 50%;
}
.task-item-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding-left: 80px;
}
.task-lists{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.task-list-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.task-list-item-column{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.task-list-item-title{
    max-width: 270px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: black;
}
.task-list-item-type{
    max-width: 175px;
    width: 100%;
}
.task-list-item-type span{
    padding: 0 5px;
    font-size: 11px;
    font-weight: 500;
}
.task-list-item-user{
    min-width: 100px;
}
.task-list-item-user .avatar-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-group-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-left: -10px;
}
.task-list-item-user .avatar-group a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.task-list-item-user .avatar-group a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
}
.task-list-item-user .avatar-group-item:hover{
    z-index: 2;
}
.task-list-item-status{
    font-size: 11px;
    font-weight: 600;
    min-width: 125px;
}
.task-list-item-status span{
    padding: 0 5px;
}
.task-list-item-action{
    min-width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-list-item-action a{
    padding: 8px 17px;
    font-size: 12px;
    border-radius: 7px;
    transition: 0.3s;
}
.task-list-item-action a:hover{
    background: var(--btn-blue-background);
    color: var(--btn-blue-color);
}
.task-files{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task-file-item{
    width: calc(100% / 3 - 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.task-file-item-icon{
    width: 30px;
    margin-right: 10px;
}
.task-file-item-icon img{
    width: 100%;
    height: 40px;
    object-fit: contain;
}
.task-file-item-details{
    display: flex;
    flex-direction: column;
}
.tfid-title a{
    font-size: 14px;
    color: var(--blue);
    font-weight: 600;
}
.tfid-size{
    font-size: 13px;
    color: var(--inactive-action);
}
.task-blocks{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
}
.task-block-item{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
    transition: 0.3s;
}
.task-block-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.task-block-item a{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 8px 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--blue);
    color: white;
    border-radius: 6px;
    font-size: 12px;
    transition: 0.3s;
}
.task-block-item:hover a{
    display: flex;
}
.task-notification{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.task-notification-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px;
    background: var(--btn-blue-background);
}
.tni-side{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.tni-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 45px;
    margin-right: 20px;
}
.tni-icon i{
    font-size: 30px!important;
    color: var(--btn-blue-color)!important;
}
.tni-details{
    display: flex;
    flex-direction: column;
}
.tni-title{
    font-size: 16px;
    font-weight: 600;
    color: black
}
.tni-info{
    font-size: 14px;
    color: var(--grey);
}
.tni-action{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tni-action-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue);
    padding: 11px 19px;
    text-transform: capitalize;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.task-dialog-footer{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.task-dialog-footer a{
    font-size: 14px;
    color: var(--dark);
    font-weight: 500;
    text-transform: capitalize;
}
.task-dialog-footer a i{
    font-size: 14px!important;
    color: var(--dark)!important;
}
/*NOTIFICATIONS TOOL*/
.tool-notifications{}
.TN-dropdown-menu{
    min-width: 375px;
    display: flex;
    flex-direction: column;
    background: white;
}
.TN-dropdown-header{
    width: 100%;
    height: 120px;
    padding: 0 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    background-size: cover;
    background: url('/images/modals/menu-header-bg.jpg') no-repeat top center;
}
.TN-dropdown-header-title{
    font-size: 17px;
    color: var(--white);
    font-weight: 600;
    margin: 30px 0 20px
}
.TN-dropdown-header-title span{
    font-size: 11px;
    color: var(--inactive-action);
    padding-left: 10px;
}
.TN-dropdown-header-tabs{}
.TN-dropdown-header-tabs ul{
    margin: 0;
}
.TN-dropdown-header-tabs ul li{
    margin-right: 20px;
}
.TN-dropdown-header-tabs ul li button{
    color: var(--inactive-action)!important;
    background-color: transparent!important;
    font-size: 13px;
    padding: 6px 0 13px;
    margin-bottom: -2px;
    border-radius: 0!important;
    font-weight: 500;
}
.TN-dropdown-header-tabs ul li button:hover{
    border-bottom: 2px solid var(--light);
    color: var(--white)!important;
}
.TN-dropdown-header-tabs ul li button.active{
    border-bottom: 2px solid var(--light);
    color: var(--white)!important;
}
.TN-dropdown-body-tabs{
    margin: 16px 0;
    padding: 0 26px;
}
.TN-dropdown-email-items {
    height: 265px;
    overflow-y: auto;
}
.TN-dropdown-alert-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px
}
.TN-dropdown-alert-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.TN-dropdown-alert-item-side{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.TN-dropdown-alert-item-icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.TN-dropdown-alert-item-icon i{
    font-size: 20px!important;
}
.TN-dropdown-alert-item-log-status{
    min-width: 70px;
    white-space: nowrap;
    font-size: 11px;
    border-radius: 7px;
    padding: 5px 10px;
    font-weight: 600;
    margin-right: 15px;
    text-transform: uppercase;
    text-align: center;
}
.TN-dropdown-alert-item-log-status.green-log{
    background: rgba(0, 166, 90, 0.1);
    color: #00a65a;
}
.TN-dropdown-alert-item-log-status.red-log{
    background: rgba(241, 65, 108, 0.1);
    color: #f1416c;
}

.TN-dropdown-alert-item-log-status.sent-email{
    background: rgba(0, 166, 90, 0.1);
    color: #00a65a;
}
.TN-dropdown-alert-item-log-status.fail-email{
    background: rgba(241, 65, 108, 0.1);
    color: #f1416c;
}
.TN-dropdown-alert-item-log-status.pending-email{
    background: #5e627838;
    color: #5e6278;
}
.TN-dropdown-alert-item-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.TN-dropdown-alert-item-title a{
    font-size: 13px;
    color: black;
    font-weight: 600;
}
.TN-dropdown-alert-item-title a:hover{
    color: var(--dark);
}
.TN-dropdown-alert-item-title span{
    font-size: 12px;
    color: var(--inactive-action);
}
.TN-dropdown-alert-item-time{
    display: flex;
    align-items: center;
    justify-content: center;
}
.TN-dropdown-alert-item-time span{
    color: black;
    font-size: 11px;
}
.TN-dropdown-alert-items-more{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0;
}
.TN-dropdown-alert-items-more a{
    font-size: 14px;
    color: var(--inactive-action);
}
.TN-dropdown-alert-items-more a:hover{
    color: var(--dark);
}
.TN-dropdown-alert-items-more a i{
    font-size: 14px!important;
    color: var(--inactive-action);
}
.TN-dropdown-alert-items-more a:hover i{
    color: var(--dark);
}
/*CHAT TOOL*/
.tool-chat{
    position: relative;
}
.tool-chat:before{
    content: '';
    position: absolute;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: slide-bottom 0.7s ease-in-out infinite alternate both;
}
@keyframes slide-bottom{
    0% {
        background: transparent;
    }
    100% {
        background: #50cd89;
    }
}

.chat-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.chat-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    padding: 0 16px 0 30px;
}
.chs-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.chs-name{
    font-size: 16px;
    font-weight: 600!important;
    color: var(--dark);
    margin-bottom: 5px;
}
.chs-status{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    color: var(--light);
}
.chs-status span{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background: #50cd89;

}
.chs-action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.chs-settings{
    margin-right: 10px;
}
.chs-settings i{
    font-size: 20px!important;
    color: var(--light);
}
.chs-settings:hover i{
    color: var(--dark);
}
.contact-dropdown-menu-header{
    font-size: 12px;
    color: #a1a5b7;
    padding: 10px 16px;
}
.chat-settings-dropdown{
    width: 200px;
}
.chat-settings-dropdown li > span{
    cursor: pointer;
    font-size: 13px;
    min-height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chs-close i{
    font-size: 20px!important;
    color: var(--light);
}
.chs-close:hover i{
    color: var(--dark);
}
.chat-body{
    height: calc(100% - 70px - 136px);
    overflow-y: auto;
    padding: 26px 30px;
    transition: 0.2s;
}
.chat-body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.chat-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.chat-body::-webkit-scrollbar-thumb {
    background: #efefef;
}
.chat-body:hover::-webkit-scrollbar-thumb {
    background: #dedede;
}

/* Handle on hover */
.chat-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.chat-message-item{
    width: 430px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.chat-message-item.chat-message-sent{
    align-items: flex-end;
    float: right;
}
.chat-message-from{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.chat-message-sent .chat-message-from{
    flex-direction: row-reverse;
}

.cmf-avatar img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    margin-right: 10px;
}
.chat-message-sent .chat-message-from .cmf-avatar img{
    margin-left: 10px;
    margin-right: 0;
}
.cmf-name{
    font-size: 15px;
    color: var(--dark);
    margin-right: 5px;
    font-weight: 600!important;
}
.chat-message-sent .chat-message-from .cmf-name{
    margin-left: 5px;
    margin-right: 0;
}
.cmf-time{
    font-size: 12px;
    color: var(--light);
}
.chat-message-text{
    font-size: 13px;
    padding: 16px;
}
.chat-footer{
    padding: 13px 30px 25px;
}
.chat-textarea textarea{
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: 15px;
}
.chat-textarea textarea.form-control:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.chat-textarea textarea::placeholder{
    color: #a4a8b9;
    font-weight: 600!important;
    font-size: 14px;
}
.chat-footer-action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chat-attachments{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.chat-attachments > span{
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: transparent;
    transition: 0.3s;
    cursor: pointer;
}
.chat-attachments > span:hover{
    background: var(--light);
}
.chat-attachments > span i{
    font-size: 20px!important;
    color: #a4a8b9;
}
.chat-attachments > span:hover i{
    color: var(--soft);
}
.chat-submit{}
.chat-submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: var(--light);
    color: var(--soft);
    border-radius: 5px;
}
/*LINKS TOOL*/
.tool-links{}
.TL-dropdown-menu{
    min-width: 325px;
    padding: 0;
    border: none;
    border-radius: .475rem;
    overflow: hidden;
}
.TL-dropdown-header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background: url('/images/modals/menu-header-bg.jpg') no-repeat top center;
}
.TL-dropdown-header-title{
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.TL-dropdown-header-subtitle{
    background: var(--light);
    font-size: 11px;
}
.TL-dropdown-body{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.TL-dropdown-items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.TL-dropdown-item{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.TL-dropdown-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TL-dropdown-item-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TL-dropdown-item-icon i{
    font-size: 30px;
    color: var(--light)!important;
}
.TL-dropdown-item-title{
    font-size: 15px;
    font-weight: 500 !important;
    color: var(--dark);
}
.TL-dropdown-item-subtitle{
    font-size: 12px;
    color: var(--light);
}
.TL-dropdown-footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.TL-dropdown-footer a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark)!important;
    font-size: 14px!important;
}
.TL-dropdown-footer a i{
    color: var(--dark)!important;
    font-size: 14px!important;
    margin-left: 5px;
}
/*THEME TOOL*/
.tool-theme{}
.TT-dropdown{
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 13px 0;
    border-radius: 8px;
}
.TT-dropdown-menu-list{
    margin: 0;
    padding: 0;
}
.TT-dropdown-menu-list li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 10px;
}
.TT-dropdown-menu-list .dropdown-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 10px;
    font-size: 13px;
}
.TT-dropdown-menu-list .dropdown-item i{
    font-size: 20px!important;
    margin-right: 5px;
}
/*TOOL PROFILE (TP)*/
.tool-profile{}
.TP-avatar{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .475rem;
}
.TP-avatar:hover{
    background: rgba(255,255,255,.1);
}
.TP-avatar img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    object-position: top center;
    border-radius: .475rem;
}
.TP-dropdown-menu{
    min-width: 275px;
    padding: 15px;
}
.TP-dropdown-menu-header{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.TP-dropdown-menu-header-avatar{
    margin-right: 15px;
}
.TP-dropdown-menu-header-avatar img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top center;
    border-radius: .475rem;
}
.TP-dropdown-menu-header-info{
    display: flex;
    flex-direction: column;
}
.TP-dropdown-menu-header-info-name{
    font-size: 15px;
    color: black;
}
.TP-dropdown-menu-header-info-email{
    font-size: 13px;
    color: #a1a5b7;
}
.dropdown-item{
    font-size: 15px;
    font-weight: 500;
}
/*BREADCRUMBS*/
.breadcrumbs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2.5rem;
    padding: 1.25rem 30px 3.75rem;
}
.main-content-full .breadcrumbs{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
}

.page-title{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.main-content-full .page-title{
    color: black;
}
.page-path{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.page-path > div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.page-path a,
.page-path span{
    opacity: 0.8;
    color: white;
    font-size: 12px;
    margin-right: 5px;
}
.main-content-full .page-path a,
.main-content-full .page-path span{
    color: black;
    position: relative;
    margin-right: 15px;
}
.page-path a:hover{
    opacity: 1;
}
.page-path span:hover{
    opacity: 1;
    cursor: default;
}
.page-path a:after{
    content: '-';
    padding-left: 5px;
}
.main-content-full .page-path a:after{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    padding: 0;
    margin-left: 5px;
    background-color: black;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
}
.cw-50{
    width: 50px!important;
}
.cw-100{
    width: 100px!important;
}
.form-outher{
    padding: 20px;
}
.dual-fields{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.group-fields{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.multiple-group-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px 0 #80808063;
    padding: 10px;
    position: relative;
}
.multiple-group-fields .remove-group-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: var(--dark);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 11px;
    transform: translate(50%, -50%);
    cursor: pointer;
}
.single-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.dual-fields > .single-field{
    width: calc(100% / 2 - 10px);
}
.dual-fields > .multiselect-single-field{
    width: calc(100% / 2 - 10px);
}
.group-fields > .single-field{
    padding: 0 10px;
}
.group-fields > .single-field:last-child, .group-fields > .single-field:first-child{
    padding: 0;
}
.single-field.full{
    width: 100%;
}
.group-field-sides{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.group-field-side{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-direction: column;
}
.field-with-icon{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.field-with-icon i{
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 2;
    transform: translateY(-50%);
}
.field-with-icon input{
    padding-left: 40px;
    border: none!important;
    box-shadow: none!important;
}
.radio-group-field{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
.radio-group-item{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.company-statuses-control{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
/****WORKSPACE****/
.workspace{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.custom-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.custom-pagination > li a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
}
.custom-pagination .page-item .page-link{
    margin: 0 5px;
}
.page-item.disabled:last-child{
    margin-left: 5px;
}
.customer-name{
    color: #009EF7;
    font-weight: bold;
}
.remove-company-status-btn{
    background: #ff250014;
    color: #c0392b;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 12px;
}
.remove-company-status-btn svg{
    margin-left: 5px;
}
.data-table-btn-warning:disabled,.data-table-btn-danger:disabled{
    background: grey;
    cursor: not-allowed;
}
.modal-vue3-footer {
    display: none !important;
}
.remove-btn{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    background: #c0392b;
    border-radius: 50%;
    cursor: pointer;
}
.accept-btn{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    background: var(--btn-green-color);
    border-radius: 50%;
    cursor: pointer;
}
.edit-btn{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    background: #009EF7;
    border-radius: 50%;
    cursor: pointer;
}
.input-readOnly{
    border: none!important;
}
.add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
    background: #27ae60;
    border-radius: 0.375rem;
    cursor: pointer;
    padding: 3px 15px;
}
.editable-gallery{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 20px;
    background: #ecf0f1;
    padding: 10px;
}
.editable-gallery-item{
    width: 100px;
    height: 100px;
    display: flex;
    position: relative;
    margin: 5px 10px;
}
.editable-gallery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.editable-gallery-item span{
    position: absolute;
    top: 0;
    right: -10px;
}
.editable-attachment{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: #ecf0f1;
    padding: 10px;
}
.editable-attachment-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.editable-attachment-item:not(:last-child){
    border-bottom: 1px solid #dedede;
}
.editable-custom-fields{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: #ecf0f1;
    padding: 10px;
}
.dark-theme .theme-input option{
    background: white;
    color: black
}
.dark-theme select.theme-input{
    color: white
}
.editable-custom-field-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.editable-custom-field-item:not(:last-child){
    border-bottom: 1px solid #dedede;
}
.new-custom-fields{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 20px;
}
.new-custom-fields > input{
    margin-top: 0;
    margin-right: 5px;
}
.products-data-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.data-table-head-action-side{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.data-table-head-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.products-data-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.data-table-head-action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.file-name{
    width: calc(100% - 50px);
    word-break: break-all;
}
.confirm-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.confirm-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e67e22;
    border: 2px solid #e67e22;
    font-size: 20px;
    margin-bottom: 10px;
}
.confirm-title{
    font-size: 20px;
    margin-bottom: 20px;
}
.confirm-text{
    font-size: 17px;
}
.confirm-action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirmation-reject-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 14px;
    color: white;
    background: #34495e;
    padding: 5px 30px;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
}
.confirmation-aproved-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 14px;
    color: white;
    background: #00a65a;
    padding: 5px 30px;
    border-radius: 3px;
    margin: 0 5px;
    cursor: pointer;
}
.additional-table{
    width: 100%;
}
.additional-table thead{
    border-bottom: 1px solid #C3CBD0;
}
.additional-table thead th{
    color: #849293;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.197px;
    padding: 16px 10px 16px 0;
}
.additional-table tbody td{
    color: #849293;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.197px;
    padding: 16px 10px 16px 0;
}
.product-package-action{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.product-package-submit{
    border-radius: 10px;
    border: 1px solid #EDE3DE;
    background: #F5EEEF;
    color: #035158;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    padding: 16px 40px;
    cursor: pointer;
}
.new-responsible-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-danger{
    color: #c0392b;
}
.export-options{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--btn-blue-background);
    color: var(--btn-blue-color);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 7px;
    margin-right: 5px;
}
.export-options:hover{
    background: var(--blue);
    color: white;
}
.export-options i{
    margin-right: 5px;
    font-size: 20px!important;
}
.export-options:hover i{
    color: white!important;
}
.export-option-list{
    background: var(--white);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.export-option-list li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
}
.export-option-list li:not(:last-child){
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--soft-border);
}
.export-option-list li:hover{
    color: var(--dark)
}
.auth-input{
    background: none;
    color: #5e6278;
    height: 43px;
}
.auth-input::placeholder{
    color: #a1a5b7;
}
.auth-input:focus{
    background: none;
    border-color: #b5b5c3;
    outline: none;
    box-shadow: none;
}
.auth-submit{
    width: 100%;
    height: 43px;
    background: #0095e8;
    border-radius: 7px;
    color: white;
}
.auth-link{
    color: #0095e8;
    text-decoration: none;
}
.auth-register-link{
    width: 100%;
    font-size: 14px;
    color: #a1a5b7;
    font-weight: 500;
}
.auth-register-link a{
    color: #0095e8;
}
.auth-checkbox input{
    width: 22px;
    height: 22px;
}
.auth-multiselect{
    background: none!important;
}
.auth-multiselect input{
    background: none;
    color: #5e6278;
    /*height: 43px;*/
}
.auth-multiselect input::placeholder{
    color: #a1a5b7;
}
.auth-multiselect input:focus{
    background: none;
    border-color: #b5b5c3;
    outline: none;
    box-shadow: none;
}
.dropdown-body{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown-list{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.dropdown-list-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 20px;
    font-size: 13px;
    cursor: pointer;
}
.dropdown-list-item.active{
    color: var(--blue);
}
.dashboard-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dashboard-cards{
    width: 250px;
    display: flex;
    flex-direction: column;
}
.dashboard-card-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    border-radius: 5px;
    background: #FFF;
    margin-bottom: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.dashboard-card-item-title{
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-card-item-action{
    display: flex;
    align-items: center;
}
.dashboard-card-create{
    cursor: pointer;
}
.dashboard-card-create i{
    color: #035158;
    font-size: 26px;
}
.dashboard-card-more{
    cursor: pointer;
    margin-right: 10px;
}
.dashboard-card-more i{
    color: #035158;
    font-size: 23px;
}
.dashboard-card-item-description{
    color: #849293;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.18px;
    margin-top: 5px;
}
.dashboard-charts{
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
    background: white;
    padding: 28px 33px;
}
.dashboard-charts-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 998;
}
.dashboard-charts-tab-bar {
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.dashboard-charts-tab-bar ul{
    border: none;
    border-bottom: 1px solid #C3CBD0;
    margin-bottom: 10px;
}
.dashboard-charts-tab-bar ul li{
    margin-right: 32px;
}
.dashboard-charts-tab-bar .nav-link{
    border: none;
    font-size: 18px;
    color: #181C32;
    padding: 10px 0;
}
.dashboard-charts-tab-bar .nav-tabs .nav-link.active{
    color: #181C32;
    font-weight: bold;
    border-bottom: 2px solid var(--dark);
}
.dashboard-blocks{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.dashboard-block-sides{
    width: calc(100% / 2 - 10px);
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    padding: 20px 15px;
}
.dashboard-statuses{}
.dashboard-notifications{}
.include-previous-year input{
    margin-right: 10px;
}
.include-previous-year{
    display: flex;
    align-items: center;
    color: #181C32;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.include-previous-year-box{
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border-radius: 3px;
    color: white;
    padding: 2px;
    border:1px solid #B200AB;
    cursor: pointer;
}
.include-previous-year-box-check{
    display: flex;
    align-items: center;
    justify-content: center;
}
.include-previous-year-box.checked{
    background: #B200AB;
}
.dashboard-charts-tools{
    width: 235px;
}
.dashboard-chart-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}
.dashboard-actions{
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.dashboard-action-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.confirmation-modal{
    max-width: 600px;
    width: 100%;
}
/*ORDER DETAILS*/
.order-general-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.order-general-item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.order-info-block{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.order-info-item{
    width: calc(100% / 3 - 15px);
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: white;
}
.order-info-title{
    font-size: 19px;
    font-weight: 600;
    color: black;
}
.order-info-list{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.order-info-list-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}
.order-info-list-key{
    color: var(--inactive-action);
    font-style: 14px;
    position: relative;
}
.order-info-list-key i{
    margin-right: 10px;
    color: var(--inactive-action);
    font-size: 14px;
}
.order-info-list-value{
    color: var(--inactive-action);
    font-weight: 500;
}
.order-info-list-value a{
    color: var(--inactive-action);
    font-weight: 500;
    text-decoration: none;
}
.order-info-list-value-inner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.order-info-avatar{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.order-detail-addresses{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.order-detail-address-item{
    width: calc(100% / 2 - 15px);
    padding: 30px 20px;
}
.order-detail-address-item h3{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}
.order-address-area{
    font-size: 14px;
}
.order-address-area p{
    margin-bottom: 0;
}
.settings-tab-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #C3CBD0;
    margin-bottom: 80px;
}
.settings-tab-bar ul{
    border: none;
}
.settings-tab-bar ul li{
    margin-right: 32px;
}
.settings-tab-bar .nav-link{
    border: none;
    font-size: 18px;
    color: #181C32;
    padding: 10px 0;
}
.settings-tab-bar .nav-tabs .nav-link.active{
    color: #181C32;
    font-weight: bold;
    border-bottom: 2px solid var(--dark);
}
.notification-switcher-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.upload-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upload-box h3{
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}
.upload-choose-btn{
    color: #468694;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    cursor: pointer;
    font-size: 20px;
}
.selected-main-image-change-btn{
    color: #468694;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer
}
.upload-box-preview{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.upload-box-preview-files{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.upload-box-preview-image{
    display: flex;
    width: 137px;
    height: 137px;
    margin-right: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 3px;
    position: relative;
}
.upload-box-preview-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.upload-box-preview-gallery-actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}
.upload-box-preview-image:hover .upload-box-preview-gallery-actions{
    visibility: visible;
}
.upload-box-preview-file{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 24px;
    border-radius: 5px;
    background: #F5EEEF;
    margin-bottom: 5px;
}
.upload-box-preview-file-details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.upload-box-preview-file-actions{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.upload-box-preview-file-details i{
    color: #777A83;
    font-size: 13px;
    margin-right: 18px;
}
.upload-box-preview-file-title{
    color: #181C32;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.short-title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.upload-box-preview-file-action-item{
    color: #035158;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
}
/*PAGE LAYOUT*/
.page-workspace{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/****PAGE LAYOUT TOP****/
.page-workspace-header{
    background: linear-gradient(91deg, rgba(3, 81, 88, 0.97) 12.3%, #34A2AC 96.81%, rgba(3, 81, 88, 0.63) 167.93%);
}
.page-workspace-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 30px;
}
.page-workspace-top-sides{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-workspace-top-side{
    display: flex;
    align-items: center;
}
.page-workspace-top-side:first-child{
    flex-direction: column;
    align-items: flex-start;
}
.page-workspace-top-side:last-child{
    justify-content: flex-end;
}
.page-workspace-top-side-top{
    display: flex;
}
.page-workspace-top-side-page-title {
    margin-right: 22px;
}
.page-workspace-top-side-page-title h2{
    color: #181C32;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}
.page-workspace-top-side-actions{
    display: flex;
    align-items: center;
}
.selected-filter-option{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 4px 16px;
    cursor: pointer;
    background: rgba(87, 139, 186, 0.3);
    color: #578BBA;
    border: 1px solid #578BBA;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
}
.selected-filter-option i{
    margin-right: 6px;
}
.page-workspace-top-side-actions-create{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 8px 16px;
    cursor: pointer;
    background: #035158;
    color: #F5EEEF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
    min-width: 120px
}
.page-workspace-top-side-actions-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 4px 16px;
    cursor: pointer;
    background: #EDE3DE;
    color: #035158;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 13px;
}
.page-workspace-top-side-actions-btn i{
    margin-right: 6px;
}
.page-workspace-top-side-breadcrumbs{
    display: flex;
    align-items: center;
}
.page-workspace-path{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.page-workspace-path-inner{
    display: flex;
    align-items: center;
}
.page-workspace-path a{
    color: #7E8299;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-right: 20px;
}
.page-workspace-path a:after{
    content: '/';
    padding-left: 20px;
}
.page-workspace-path span{
    color: #B8BBCC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.18px;
    position: relative;
    cursor: default;
}
/****PAGE LAYOUT CONTENT****/
.page-workspace-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.workspace-chart{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.workspace-chart-item{
    width: calc(100% / 12);
    cursor: pointer;
}
.workspace-chart-item-title{
    width: 100%;
    text-align: center;
    border: 1px solid #dedede;
    border-top: none;
    padding: 10px 5px;
}
.workspace-chart-item-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    border: 1px solid #dedede;
    border-bottom-width: 2px;
    padding: 10px 5px;
    position: relative;
}
.workspace-chart-item-details-cover{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    background: #0351585e;
    transition: 0.5s;
}
.workspace-chart-item-count{
    font-size: 15px;
    margin-bottom: 10px;
    transition: 0.5s;
}
.workspace-chart-item-total{
    font-size: 15px;
    transition: 0.5s;
}
.activeMonth {
    border-top: 2px solid #0351585e;
    transform: scale(1.1);
    overflow: hidden;
    background: white;
    z-index: 999;
    transition: 0.3s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dashboard-bg:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('/images/general/dashboard-bg.png');
    background-size:100%;
    background-repeat: no-repeat;
    background-position: top center;
}
.workspace-data-table{
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.workspace-wrapper{
    width: 100%;
}
.custom-tooltip{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 18px;
    width: 18px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 12px;
    cursor: help;
}
.custom-tooltip i{
    font-size: 10px;
}
.custom-tooltip-text{
    position: absolute;
    left: 30px;
    width: 245px;
    padding: 9px 9px 9px 21px;
    background: #FFEEC3;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    color: #181C32;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.18px;
}
.custom-tooltip-text:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right:10px solid #FFEEC3;
}
.custom-tooltip:hover .custom-tooltip-text{
   display: flex;
}
.form-section-title{
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}
/****CUSTOMER PROFILE****/
.customer-profile-content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.customer-card{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.customer-workspace{
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.customer-tab-pane-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
}
.transaction-history h2{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}
.customer-tabs{
    background-color: transparent;
    border: none;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #C3CBD0;
}
.customer-tabs .customer-tab-item{
    background-color: transparent;
    margin-right: 30px;
}
.customer-tabs .customer-tab-item .customer-tab-link{
    position: relative;
    background-color: transparent;
    margin: 0;
    border: none;
    outline: none;
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding: 0;
}
.customer-tabs .customer-tab-item .customer-tab-link:before{
    display: none;
    content: '';
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #181C32;
}
.customer-tabs .customer-tab-item .customer-tab-link:hover,
.customer-tabs .customer-tab-item .customer-tab-link.active{
    background-color: transparent;
    margin: 0;
    border: none;
    outline: none;
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    padding: 0;
}
.customer-tabs .customer-tab-item .customer-tab-link:hover:before,
.customer-tabs .customer-tab-item .customer-tab-link.active:before{
    display: block;
}
.customer-profile-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.customer-profile-headquarter{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.headquarter-general-side{
    width: 310px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 5px;
}
.headquarter-transaction-history-side{
    width: calc(100% - 350px);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 5px;
}
.customer-profile-general{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.customer-profile-avatar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-profile-avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    border: 1px solid #e1e1e1;
}
.customer-profile-name{
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    padding: 20px 0;
}
.customer-profile-details{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.customer-profile-detail-item{
    margin-bottom: 15px;
    color: #181C32;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.18px;
}
.customer-profile-detail-item span{
    font-weight: 600;
}
.order-list-title{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 0;
    margin-right: 16px;
}
/*COMPANY SETTINGS*/
/****COMPANY DELIVERY/SALES PIPELINES****/
.company-status-content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.company-status-list{
    width: 595px;
    display: flex;
    flex-direction: column;
}
.company-status-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 24px;
}
.company-status-item-header{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.company-status-title{
    display: flex;
    align-items: flex-start;
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 12px;
}
.company-status-title-color{
    width: 22px;
    height: 22px;
    border-radius: 3px;
    margin-right: 8px;
}
.company-status-actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.company-status-actions > span{
    color: #035158;
    margin: 0 6px;
    cursor: pointer;
}
.company-status-actions > span:last-child{
    color: #7B0404;
}
.company-status-description{
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    margin-bottom: 12px;
}
.company-default-status{
    display: flex;
    align-items: center;
    color: #181C32;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.company-default-status-box{
    width: 22px;
    height: 22px;
    display: block;
    margin-right: 8px;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    padding: 2px;
}
.company-default-status-box span{
    display: block;
    width: 100%;
    height: 100%;
}
.company-default-status-box.checked{
    border-color: #035158;
}
.company-default-status-box.checked span{
    background: #035158;
}
.company-status-action{
    display: flex;
    justify-content: flex-end;
}
.company-status-action-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    color: #035158;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    border-radius: 10px;
    border: 1px solid #EDE3DE;
    background: #F5EEEF;
    cursor: pointer;
}
/****COMPANY MEMBERS****/
.company-members-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.company-members-action{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.company-members-table{
    padding: 20px 40px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.company-member-status{
    padding: 10px;
    border-radius: 5px;
}
.company-member-status.Expired{
    border: 1px solid rgba(185, 66, 66, 0.30);
    background: rgba(166, 86, 86, 0.15);
    color: #A65656;
}
.company-member-status.Accepted{
    border: 1px solid rgba(66, 185, 66, 0.30);
    background: rgba(86, 166, 86, 0.15);
    color: #42B942;
}
.company-member-status.Invited{
    border: 1px solid rgba(200, 110, 45, 0.30);
    background: rgba(200, 110, 45, 0.15);
    color: #C86E2D;
}
/****COMPANY GENERAL SETTINGS****/
.company-settings-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.company-settings-action{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.company-settings-info{
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.company-settings-info-side{
    position: relative;
    width: calc( 100% / 3 - 30px);
    display: flex;
    flex-direction: column;
}
.company-settings-info-side:before{
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    width: 1px;
    height: 100%;
    background: #C3BAB3;
}
.company-settings-info-side.contact-side:before{
    display: none;
}
.company-settings-info-title{
    color: #5E6278;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: 16px;
}
.company-media-area{
    width: 100%;
    display: flex;
    margin-bottom: 24px;
}
.company-media-logo{
    max-width: 100%;
    height: 82px;
    object-fit:contain;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}
.company-settings-info-list{
    display: flex;
    flex-direction: column;
}
.company-settings-info-list p{
    color: #181C32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.24px;
    margin-bottom: 10px;
}
.company-settings-info-list p span{
    font-weight: 600;
}
/*VALIDATION STYLE*/
.input-box-error .input-text{
    border-color: #FF0000!important;
}
.selector-error{
    border-color: #FF0000!important;
}
.input-error-message{
    color: #FF0000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.18px;
}

.TS-dropdown-box-body-fist-sec {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #C3CBD0;
}
.TS-dropdown-box-body-fist-sec-content {
    width: 100%;
}
.search-section-head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px
}
.search-section-head a {
    color: #035158;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    width: 180px;
    border-radius: 10px;
    border: 1px solid #EDE3DE;
    background: #F5EEEF;
    text-align: center;
    padding: 16px 0;
}
.search-section-head span {
    color: #849293;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    margin-left: 20px
}
.search-section-body {
    width: 100%;
}
.search-section-body-content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.search-section-body-content span {
    color: #468694;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.search-section-body-content a {
    color: #468694;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}
.search-section-body-item {
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
    cursor: default;
}
.search-section-body-item a, .search-section-body-item span {
    color: #849293;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}
.search-section-body-item:hover {
    background: #035158;
}
.search-section-body-item:hover a  {
    color: #FCF7F8;
}
.search-section-body-item:hover span  {
    color: #FCF7F8;
    cursor: default;
}
.TS-dropdown-box-body-last-sec {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.search-section-head-last {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.search-section-head-last span {
    display: flex;
    height: 50px;
    align-items: center;
}
.supplier-tab {
    margin-bottom: 40px;
    border-bottom: 1px solid #C3CBD0;
    padding: 8px 0;
}
.supplier-tab span {
    font-size: 18px;
    padding: 10px 0;
    margin-right: 20px;
    color: #181C32;
    font-weight: bold;
    border-bottom: 2px solid var(--dark);
}
.supplier-tab a {
    font-size: 18px;
    color: #181C32;
    margin-right: 20px;
    text-decoration: none;
}
/* LOGIN  */
.login-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: stretch;
}
.login-container-leftbar{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}
.login-container-leftbar-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form-title{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin: 50px 0;
}
.login-form-social{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 40px;
}
.login-form-social-inner{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-form-social-inner a{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #5E6278;
    font-size: 16px;
}
.login-form-social-google a img{
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
.login-form-social-apple a img{
    width: 12px;
    height: 15px;
    margin-right: 20px;
}
.login-form-social-google a{
    justify-content: left;
}
.login-form-social-apple a{
    justify-content: right;
}
.login-form-with-email{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px
}
.login-form-with-email span{
    font-size: 16px;
    color: #A1A5B7;
    cursor: default;
}
.login-form{
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form form{
    width: 100%;
}
.login-form-footer{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.form-language-change{
    display: flex;
    cursor: pointer;
}
.form-language-change span{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    color: #5E6278;
}
.form-language-change span img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.login-form-footer-menu ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login-form-footer-menu ul li{
    margin-left: 20px;
}
.login-form-footer-menu ul li a{
    color: #035158;
    font-size: 16px;
}
.login-container-rightbar{
    width: 50%;
    background-color: rgba(2,81,88,1);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.login-container-rightbar:after{
    content: '';
    width: 700px;
    height: 700px;
    position: absolute;
    background-image: url("images/icons/login_Icona_outline.png");
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: -0px;
}
.login-container-rightbar-logo{
    width: 100%;
    max-width: 345px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.login-container-rightbar-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain
}
.login-container-rightbar-chart-img{
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.login-container-rightbar-chart-img img{
    width: 100%;
    height: 100%
}
.login-container-rightbar-info{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-container-rightbar-info-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}
.login-container-rightbar-info-text{
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: white;
}
.auth-link-login{
    text-decoration: none;
    color: #035158;
    font-size: 16px;
    magin-top: 10px;
    margin-bottom: 10px;
}
.auth-submit-login{
    width: 100%;
    height: 43px;
    background: #035158;
    border-radius: 7px;
    color: white;
    margin-bottom: 30px
}
.auth-register-link a{
    color: #035158;
}

@media screen and (max-width: 1024px) {
    .main-menu {
        position: absolute;
        z-index: 999;
        top: 79px;
        left: 0;
        width: 30%;
        height: 100%;
        flex-direction: column;
        background: linear-gradient(91deg, rgba(3, 81, 88, 1) 12.3%, #34A2AC 96.81%, rgba(3, 81, 88, 0.63) 167.93%);
        transition: 0.5s all ease;
        /* visibility: hidden; */
        display: none;
        align-items: center;
        transform: translateX(-350px);
        padding-top: 60px;
    }

    .main-menu.showMobileMenu {
        transform: translateX(0px);
        transition: 0.5s all ease;
    }
    .main-menu > li > a {
        margin-bottom: 10px;
        display: block;
    }
    .menu-btn {
        display: flex;
        color: white;
        font-size: 1.5rem;
    }
    .navbar-logo a img{
        width: 80px;
    }
    .navbar-logo{
        margin-left: 30px;
    }
    /*DROPDOWN ACCORDION MENU START*/
    .navbar-menu > ul > li{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    .list-items-dropdown.target {
        display: flex;
        padding-top: 0;
    }
    .list-items-dropdown-inner{
        background: none;
        padding: 0 0 0 20px;
        box-shadow: none;
        opacity: 1;
        transform: translateY(0);
    }
    .list-items-dropdown-item a{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 13px;
        color: white;
        font-weight: 500;
        margin-right: 6px;
        border-radius: 0.475rem;
        font-size: 13px;
        letter-spacing: .3px;
    }
    .list-items-dropdown {
        position: relative;
        top: unset;
        left: unset;
        display: none;
        transition: max-height 0.5s;
    }
    /*DROPDOWN ACCORDION MENU END*/
    .data-table-btns{
        width: 60px!important;
    }
    .right-side-modal-body{
        width: 100%!important;
    }
    .dashboard-details{
        flex-direction: column;
    }
    .dashboard-cards{
        width: 100%;
    }
    .dashboard-charts{
        width: 100%;
        padding: 0;
    }
    .company-status-list{
        width: 70%;
    }
    .company-status-action{
        width: 30%;
        margin-left: 20px;
    }
    .login-container{
        flex-direction: column-reverse;
    }
    .login-container-leftbar{
        width: 100%;
    }
    .login-container-rightbar{
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .login-container-rightbar{
        height: auto;
        justify-content: flex-start;
        padding: 20px;
    }
    .login-container-rightbar-logo{
        height: 40px;
    }
    .login-container-rightbar-chart-img{
        position: relative;
        top: unset;
        height: 300px;
    }
    .login-container-rightbar-chart-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .login-container-rightbar-info{
        display: none;
    }
    .login-container-leftbar{
        padding: 20px;
    }
    .page-workspace-top-sides{
        flex-direction: column;
        align-items: flex-start;
    }
    .page-workspace-top-side{
        margin-bottom: 20px;
    }
    .company-settings-info{
        flex-direction: column;
    }
    .company-settings-info-side{
        width: 100%;
    }
    .company-settings-info-side:before{
        display: none;
    }
    .login-container-rightbar:after{
        width: 350px;
        height: 350px;
    }
    .login-form-title{
        margin: 10px 0 30px 0;
    }
}
@media screen and (max-width: 650px) {
    .login-form-social{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .login-form-social-apple a{
        justify-content: center;
    }
    .login-form-social-google a{
        justify-content: center;
    }
    .login-form-social-inner{
        width: 100%;
    }
    .login-form-social-google{
        margin-bottom: 20px;
    }
    .dashboard-charts-heading{
        flex-direction: column;
    }
    .dashboard-charts-tab-bar{
        width: 100%;
        margin-bottom: 20px;
    }
    .dashboard-charts-tools{
        width: 100%;
        margin-bottom: 20px;
    }
    .dashboard-blocks{
        flex-direction: column;
    }
    .dashboard-block-sides{
        width: 100%;
        margin-bottom: 20px;
    }
    .company-status-content{
        flex-direction: column-reverse;
    }
    .company-status-list{
        width: 100%;
    }
    .company-status-action{
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .settings-tab-bar{
        margin-bottom: 40px;
    }
    .settings-tab-bar ul li{
        margin-right: 20px;
    }
    .settings-tab-bar .nav-link{
        font-size: 16px;
    }
}
@media screen and (max-width: 520px) {
    .settings-tab-bar .nav-link{
        font-size: 14px;
    }
    .company-status-action-btn{
        font-size: 14px;
    }
    .company-status-title{
        font-size: 16px;
    }
    .company-status-description{
        font-size: 16px;
    }
    .company-default-status{
        font-size: 12px;
    }
    .page-workspace-top-side-page-title h2{
        font-size: 22px;
    }
}
@media screen and (max-width: 470px){
    .settings-tab-bar .nav-link{
        font-size: 12px;
    }
    .settings-tab-bar ul li{
        margin-right: 10px;
    }
    .main-container{
        padding: 0 15px;
    }
}
@media screen and (max-width: 420px){
    .login-form-footer{
        flex-direction: column;
        margin-top: 20px
    }
    .form-language-change{
        width: 100%;
        margin-bottom: 20px
    }
    .form-language-change span{
        justify-content: center;
    }
    .login-form-footer-menu{
        width: 100%;
    }
    .login-form-footer-menu ul{
        justify-content: center;
    }
}
