.multiselect-single-field{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.multiselect-field{
    --ms-font-size: 1rem;
    --ms-line-height: 1.375;
    --ms-bg: #f5eeef;
    --ms-bg-disabled: #F3F4F6;
    --ms-border-color: #D1D5DB;
    --ms-border-width: 1px;
    --ms-border-color-active: #D1D5DB;
    --ms-border-width-active: 1px;
    --ms-radius: 10px 10px 0 0;
    --ms-py: 0.5rem;
    --ms-px: 0.875rem;
    --ms-ring-width: 3px;
    --ms-ring-color: #10B98130;
    --ms-placeholder-color: #9CA3AF;
    --ms-max-height: 10rem;

    --ms-spinner-color: #10B981;
    --ms-caret-color: #999999;
    --ms-clear-color: #999999;
    --ms-clear-color-hover: #000000;

    --ms-tag-font-size: 0.875rem;
    --ms-tag-line-height: 1.25rem;
    --ms-tag-font-weight: 600;
    --ms-tag-bg: #10B981;
    --ms-tag-bg-disabled: #9CA3AF;
    --ms-tag-color: #FFFFFF;
    --ms-tag-color-disabled: #FFFFFF;
    --ms-tag-radius: 4px;
    --ms-tag-py: 0.125rem;
    --ms-tag-px: 0.5rem;
    --ms-tag-my: 0.25rem;
    --ms-tag-mx: 0.25rem;

    --ms-tag-remove-radius: 4px;
    --ms-tag-remove-py: 0.25rem;
    --ms-tag-remove-px: 0.25rem;
    --ms-tag-remove-my: 0rem;
    --ms-tag-remove-mx: 0.125rem;

    --ms-dropdown-bg: #FFFFFF;
    --ms-dropdown-border-color: #D1D5DB;
    --ms-dropdown-border-width: 1px;
    --ms-dropdown-radius: 4px;

    --ms-group-label-py: 0.3rem;
    --ms-group-label-px: 0.75rem;
    --ms-group-label-line-height: 1.375;
    --ms-group-label-bg: #E5E7EB;
    --ms-group-label-color: #374151;
    --ms-group-label-bg-pointed: #D1D5DB;
    --ms-group-label-color-pointed: #374151;
    --ms-group-label-bg-disabled: #F3F4F6;
    --ms-group-label-color-disabled: #D1D5DB;
    --ms-group-label-bg-selected: #059669;
    --ms-group-label-color-selected: #FFFFFF;
    --ms-group-label-bg-selected-pointed: #0c9e70;
    --ms-group-label-color-selected-pointed: #FFFFFF;
    --ms-group-label-bg-selected-disabled: #75cfb1;
    --ms-group-label-color-selected-disabled: #D1FAE5;

    --ms-option-font-size: 1rem;
    --ms-option-line-height: 1.375;
    --ms-option-bg-pointed: #FFFFFF;
    --ms-option-color-pointed: #1F2937;
    --ms-option-bg-selected: #10B981;
    --ms-option-color-selected: #FFFFFF;
    --ms-option-bg-disabled: #FFFFFF;
    --ms-option-color-disabled: #D1D5DB;
    --ms-option-bg-selected-pointed: #26C08E;
    --ms-option-color-selected-pointed: #FFFFFF;
    --ms-option-bg-selected-disabled: #FFFFFF;
    --ms-option-color-selected-disabled: #D1FAE5;
    --ms-option-py: 0.5rem;
    --ms-option-px: 0.75rem;

    --ms-empty-color: #4B5563;

    /*CUSTOM*/
    min-height: 60px!important;
    border: none!important;
    border-bottom: 2px solid #C3CBD0!important;
}

.multiselect-field input, .multiselect-field input:focus{
    box-shadow: none;
    border: none;
    outline: none;
    padding-left: 25px;
}
.multiselect-field.is-active,.multiselect-field.filled{
    border: none!important;
    box-shadow: none!important;
    border-bottom: 2px solid #035158!important;
}
.multiselect-single-field .selector-label{
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    pointer-events:none;
    transition: 0.2s ease all;
    color: #181C32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    z-index: 2;
}
.multiselect-single-field .selector-label.focused,
.selector-label:has(+ .multiselect-field.is-active){
    top: 7px;
    transform: translateY(0);
    color: #035158;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}
.multiselect-single-field .multiselect-single-label{
    left: 10px
}
