:root {
    --easy-table-border: none!important;
    --easy-table-row-border: 1px solid #C3CBD0!important;

    --easy-table-header-font-size: 12px!important;
    --easy-table-header-height: 22px;
    --easy-table-header-font-color: #849293!important;
    --easy-table-header-background-color: #2d3a4f;

    --easy-table-header-item-padding: 0 10px 0 0!important;

    --easy-table-body-even-row-font-color: #fff;
    --easy-table-body-even-row-background-color: #4c5d7a;

    --easy-table-body-row-font-color: #849293!important;
    --easy-table-body-row-background-color: #2d3a4f;
    --easy-table-body-row-height: 50px;
    --easy-table-body-row-font-size: 14px;

    --easy-table-body-row-hover-font-color: #849293!important;
    --easy-table-body-row-hover-background-color: none!important;

    --easy-table-body-item-padding: 16px 10px 16px 0!important;

    --easy-table-footer-background-color: #2d3a4f;
    --easy-table-footer-font-color: #c0c7d2;
    --easy-table-footer-font-size: 14px;
    --easy-table-footer-padding: 0px 10px;
    --easy-table-footer-height: 50px;

    --easy-table-rows-per-page-selector-width: 70px;
    --easy-table-rows-per-page-selector-option-padding: 10px;
    --easy-table-rows-per-page-selector-z-index: 1;


    --easy-table-scrollbar-track-color: #2d3a4f;
    --easy-table-scrollbar-color: #2d3a4f;
    --easy-table-scrollbar-thumb-color: #4c5d7a;;
    --easy-table-scrollbar-corner-color: #2d3a4f;

    --easy-table-loading-mask-background-color: #2d3a4f;
}
.vue3-easy-data-table__header th{
    text-transform: uppercase;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.18px;
}
.data-table-short-notes{
    max-width: 300px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.data-table-image-preview{
    width: 67px;
    height: 67px;
    border-radius: 5px;
    background: #FCF7F8;
}
.data-table-image img{
    width: 67px;
    height: 67px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}
.datatable-create-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--white);
    background: var(--blue);
}
.data-table-btns{
    display: flex;
    align-items: center;
    width: 120px;
}
.data-table-action-btn{
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.data-table-action-btn i{
    font-size: 17px!important;
    color: #a1a5b7;
}
.data-table-action-btn-refresh i{
    color: #C86E2D;
}
.data-table-action-btn-edit i{
    color: #035158;
}
.data-table-action-btn-delete i{
    color: #7B0404;
}
.vue3-easy-data-table__body tr{
    font-weight: 600!important
}
/*TABLE STATUS COLUMN*/
.data-table-status{
    display: inline-flex;
    padding: 3px 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-transform: capitalize;
    white-space: nowrap;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.18px;
    border: 1px solid transparent;
}
.data-table-status.dts-published,.data-table-status.dts-completed{
    background: rgba(86, 166, 86, 0.15);
    color: #56A656;
    border: 1px solid rgba(66, 185, 66, 0.30);
}
.data-table-status.dts-draft{
    background: rgba(166, 86, 86, 0.15);
    color: #A65656;
    border: 1px solid rgba(185, 66, 66, 0.30);
}
.data-table-status.dts-created{
    background: #34495e1A;
    color: #34495e;
}
.data-table-status.dts-refunded{
    background: #fff8dd;
    color: #ffc700;
}
.data-table-status.dts-canceled{
    background: #bdc3c71A;
    color: #bdc3c7;
}
