.light-theme .separator{
    border-color: #f4f4f4;
}
.dark-theme .separator{
    border-color: #2b2b40;
}
.main-wrapper.light-theme{
    background-image: url("/images/general/header-bg.jpg");
    background-color: #f9f9f9;
}
.main-wrapper.dark-theme{
    background-image: url("/images/general/header-bg-dark.png");
    background-color: #151521;
}
.light-theme .theme-content{
    background: #f9f9f9;
}
.dark-theme .theme-content{
    background: #151521;
}
.light-theme .main-content-full.theme-style{
    background: #f3f6f9;
}
.dark-theme .main-content-full.theme-style{
    background: #151521;
}
.light-theme .theme-card{
    background: white;
}
.dark-theme .theme-card{
    background: var(--dark-card);
}
.light-theme .theme-title{
    color: var(--black);
}
.dark-theme .theme-title{
    color: var(--white);
}
.light-theme .TP-dropdown-menu-list .dropdown-item{
    color: #3f4254;
}
.dark-theme .TP-dropdown-menu-list .dropdown-item{
    color: #cdcdde;
}
.light-theme .TP-dropdown-menu-list .dropdown-item:hover{
    color: #cdcdde;
    background: white;
}
.dark-theme .TP-dropdown-menu-list .dropdown-item:hover{
    color: white;
    background: #1b1b29;
}
.light-theme .field-with-icon i{
    color: var(--dark);
}
.dark-theme .field-with-icon i{
    color: var(--white);
}
.light-theme .field-with-icon input{
    color: var(--black);
}
.dark-theme .field-with-icon input{
    color: var(--white);
}
.dark-theme .field-with-icon input::placeholder{
    color: #a1a5b7;
}
/*PAGINATION*/
.light-theme .pagination-item a{
    background: #ecf0f1;
    color: #34495e;
    border-radius: 4px;
}
.dark-theme .pagination-item a{
    background: #ecf0f1;
    color: #34495e;
    border-radius: 4px;
}
.light-theme .page-item.disabled a{
    color: var(--light);;
}
.dark-theme .page-item.disabled a{
    color: var(--light);;
}
.light-theme .pagination-item a:hover{
    background: #34495e;
    color: var(--white);
}
.dark-theme .pagination-item a:hover{
    background: var(--light);
    color: var(--white);
}
.light-theme .pagination-item.active a{
    background: #34495e;
    color: var(--white);
}
.dark-theme .pagination-item.active a{
    background: var(--light);
    color: var(--white);
}
/*THEME CONTROL*/
.light-theme .theme-control-link{
    color: #a1a5b7;
}
.dark-theme .theme-control-link{
    color: #92929f;
}
.light-theme .theme-control-link i{
    color: var(--light);
}
.dark-theme .theme-control-link i{}

.light-theme .theme-control-link:hover{
    color: var(--dark);
}
.dark-theme .theme-control-link:hover{
    color: var(--light);
}
.light-theme .theme-control-link:hover i{
    color: var(--dark);
}
.dark-theme .theme-control-link:hover i{
    color: var(--light);
}
.light-theme .theme-radio-swithcher{
    background-color: #ccc;
}
.dark-theme .theme-radio-swithcher{
    background-color: #42424e;
}
.light-theme .theme-tsdbf-list-item{
    border-bottom: 1px solid #f4f4f4;
}
.dark-theme .theme-tsdbf-list-item{
    border-bottom: 1px solid #2b2b40;
}
.light-theme .theme-tsdbf-footer-cancel{
    color: var(--inactive-action);
}
.dark-theme .theme-tsdbf-footer-cancel{
    background: var(--btn-dark-background);
    color: var(--btn-dark-color);
}
.light-theme .theme-tsdbf-footer-cancel:hover{
    color: var(--btn-blue-color);
    background: var(--btn-blue-background);
}
.dark-theme .theme-tsdbf-footer-cancel:hover{
    color: var(--btn-blue-color);
    background: var(--btn-dark-background);
}
.light-theme .theme-input{
    background: var(--input-light-background);
    border-color: var(--input-light-border);
}
.light-theme .theme-input:focus{
    background: var(--input-focus-light-background);
    border-color: var(--input-focus-light-background);
}
.dark-theme .theme-input{
    background: var(--input-dark-background);
    border-color: var(--input-dark-background);
    color: var(--inactive-action)
}
.dark-theme .theme-input:focus{
    background: var(--input-focus-dark-background);
    border-color: var(--input-focus-dark-background);
}
.dark-theme .theme-input::file-selector-button,
.dark-theme .theme-input::file-selector-button:hover{
    background: var(--input-focus-dark-background);
    color: var(--inactive-action);
    border-color: var(--input-focus-dark-background);
}
.light-theme .theme-tsdbs-footer-cancel{
    color: var(--inactive-action);
}
.dark-theme .theme-tsdbs-footer-cancel{
    background: var(--btn-dark-background);
    color: var(--btn-dark-color);
}
.light-theme .theme-tsdbs-footer-cancel:hover{
    color: var(--btn-blue-color);
    background: var(--btn-blue-background);
}
.dark-theme .theme-tsdbs-footer-cancel:hover{
    color: var(--btn-blue-color);
    background: var(--btn-dark-background);
}
.light-theme .theme-task-list-item-type span{
    color: var(--inactive-action);
    background: #f9f9f9;
}
.dark-theme .theme-task-list-item-type span{
    color: #565674;
    background: #2b2b40;
}
.light-theme .theme-status .primary-status{
    color: var(--btn-blue-color);
    background: var(--btn-blue-background);
}
.dark-theme .theme-status .primary-status{
    color: var(--btn-blue-color);
    background: var(--btn-dark-blue-background);
}
.light-theme .theme-status .success-status{
    color: var(--btn-green-color);
    background: var(--btn-green-background);
}
.dark-theme .theme-status .success-status{
    color: var(--btn-green-color);
    background: var(--btn-dark-green-background);
}
.light-theme .task-list-item-action a{
    color: var(--inactive-action);
}
.light-theme .task-list-item-action a:hover{
    background: var(--btn-blue-background);
    color: var(--btn-blue-color);
}
.dark-theme .task-list-item-action a{
    background: var(--btn-dark-background);
    color: var(--btn-dark-color);
}
.dark-theme .task-list-item-action a:hover{
    color: var(--btn-blue-color);
    background: var(--btn-dark-background);
}
.light-theme .chat-message-text{
    background: var(--light-chat-message-get-background);
    color: black;
}
.dark-theme .chat-message-text{
    background: var(--dark-chat-message-get-background);
    color: white;
}
.light-theme .chat-message-sent .chat-message-text{
    background: var(--light-chat-message-send-background);
    color: black;
}
.dark-theme .chat-message-sent .chat-message-text{
    background: var(--dark-chat-message-send-background);
    color: white;
}
.light-theme .modal-footer-cancel{
    color: var(--inactive-action);
}
.dark-theme .modal-footer-cancel{
    background: var(--btn-dark-background);
    color: var(--btn-dark-color);
}
.light-theme .modal-footer-cancel:hover{
    color: var(--btn-blue-color);
    background: var(--btn-blue-background);
}
.dark-theme .modal-footer-cancel:hover{
    color: var(--btn-blue-color);
    background: var(--btn-dark-background);
}
.light-theme .modal-footer-submit{
    color: var(--btn-blue-color);
    background: var(--btn-blue-background);
}
.dark-theme .modal-footer-submit{
    color: var(--white);
    background: var(--btn-blue-color);
}
.light-theme .modal-footer-submit:hover{
    color: var(--white);
    background: var(--btn-blue-color);
}
.dark-theme .modal-footer-submit:hover{
    color: var(--white);
    background: var(--btn-blue-color);
}
.dark-theme .editable-custom-field-item{
    color: white;
}
.dark-theme .editable-custom-field-item:not(:last-child){
    border-color: #1b1b29;
}
.light-theme .theme-page-path a,
.light-theme .theme-page-path span{
    color: white;
}
.dark-theme .theme-page-path a,
.dark-theme .theme-page-path span{
    color: var(--dark);
}
.light-theme .main-content-full .theme-page-path a,
.light-theme .main-content-full .theme-page-path span{
    color: var(--dark);
}
.dark-theme .main-content-full .theme-page-path a,
.dark-theme .main-content-full .theme-page-path span{
    color: white;
}
