<script setup>

import Paginate from 'vuejs-paginate-next';
import {computed, onMounted, reactive, ref, watch} from "vue";
import { useStore } from 'vuex'
import TextInput from '@/Components/TextInput.vue';
import {usePage} from "@inertiajs/vue3";
import EstimateList from "@/Components/Tables/EstimateList.vue";
import 'flatpickr/dist/flatpickr.css';
import PageLayout from '@/Layouts/PageLayout.vue'
import {trans, wTrans} from "laravel-vue-i18n";

const store = useStore()
const authUser = usePage().props.auth.user


const estimates = computed(() => {
    return store.getters["estimate/estimates"]
})

const totalEstimatesByMonths = computed(() => {
    return store.getters["dashboard/totalEstimatesByMonths"]
})

const breadCrumbs = ref([
    {title: 'main.dashboard.menu.dashboards', link: '/dashboard'},
    {title: 'main.dashboard.menu.estimates'}
])


let search = ref(null);
const filterOptions = ref(null);

let bigTotal = ref(null)

let selectedMonth = ref(null)


const months = ref([
    'jan',
    'feb',
    'mar',
    'apr',
    'may',
    'jun',
    'jul',
    'aug',
    'sep',
    'oct',
    'nov',
    'dec',
]);

/*****METHODS*****/
onMounted(async () => {
    await store.dispatch('estimate/getEstimates')
    await store.dispatch('dashboard/getTotalEstimatesByMonths').then(() => {
        const values = Object.values(totalEstimatesByMonths.value);
        values.map((el) => {
            const valueFromObject = el.total;
            bigTotal.value = Math.max(bigTotal.value, valueFromObject);
        });
    })
})

const getEstimatesByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: search.value
    }
    await store.dispatch('estimate/getEstimates', data)
}

const getEstimatesByMonth = async (val = null, monthName = null) => {
    selectedMonth.value = monthName ? trans('main.datetime.months_full.' + monthName) : null
    let data = {
        month: val,
    }
    await store.dispatch('estimate/getEstimates', data)
}

const setFilter = (filter) => {
    filterOptions.value = filter
}

const updateEstimateList = () => {
    let data = {
        page: estimates.value.current_page,
        search: search.value
    }
    if(filterOptions.value) {
        Object.assign(data, filterOptions.value)
    }

    store.dispatch('estimate/getEstimates', data)
}

</script>
<template>
    <PageLayout :breadCrumbs="breadCrumbs" :enableSlotFilter="false" :enableSlotChart="true" :pageTitle="$t('main.dashboard.menu.estimates')">
        <template #workSpaceTopSearch>
            <div class="single-field">
                <TextInput
                    v-model="search"
                    :label="$t('main.global.forms.placeholder.search')"
                    inputStyle="searchable"
                    @change="updateEstimateList()"
                    :icon="`<i class='ki-duotone ki-magnifier'><span class='path1'></span><span class='path2'></span></i>`"
                />
            </div>
        </template>
        <template #workSpaceTopChart>
            <div class="workspace-chart">
                <div class="workspace-chart-item" v-for="(item, key) in months" @click="getEstimatesByMonth(key + 1, item)" :class="{activeMonth: selectedMonth === $t('main.datetime.months_full.' + item)}">
                    <div class="workspace-chart-item-title">{{ $t('main.datetime.months_full.' + item) }}</div>
                    <div class="workspace-chart-item-details">
                        <span class="workspace-chart-item-count">{{ totalEstimatesByMonths[key + 1] ? totalEstimatesByMonths[key + 1].count : 0}} doc</span>
                        <span class="workspace-chart-item-total">{{totalEstimatesByMonths[key + 1] ? totalEstimatesByMonths[key + 1].total : 0}} $</span>
                        <div class="workspace-chart-item-details-cover" :style="`height: ${totalEstimatesByMonths[key + 1] ? (totalEstimatesByMonths[key + 1].total * 100 / bigTotal) : 0}%`"></div>
                    </div>
                </div>
            </div>
        </template>
        <template #workSpaceDataTable>
            <EstimateList v-if="estimates.data" estimate="index" @resetMonth="getEstimatesByMonth" :selectedMonth="selectedMonth" :data="estimates.data" @filters="setFilter" />
        </template>
        <template #workSpaceContent>
            <div class="products-data-footer">
                <div class="products-pagination">
                    <paginate
                        v-if="estimates.data"
                        :page-count="estimates.links.length - 2"
                        :click-handler="getEstimatesByPage"
                        :prev-text="$t('main.global.prev')"
                        :next-text="$t('main.global.next')"
                        :container-class="'custom-pagination'"
                        :page-class="'pagination-item'"
                    >
                    </paginate>
                </div>
            </div>
        </template>
    </PageLayout>
</template>
