<script setup>

import Paginate from 'vuejs-paginate-next';
import {computed, onMounted, reactive, ref, watch} from "vue";
import { useStore } from 'vuex'
import PageLayout from '@/Layouts/PageLayout.vue'
import TextInput from '@/Components/TextInput.vue';
import ProductList from "@/Components/Tables/ProductList.vue";
const store = useStore()

let breadCrumbs = ref([
    {title: 'main.dashboard.menu.dashboards', link: '/dashboard'},
    {title: 'main.dashboard.menu.products'}
])
let productName = ref(null);
const filterOptions = ref(null)

const products = computed(() => {
    return  store.getters["product/products"]
})

const errors = reactive({
    name: '',
    description: '',
    identification_code: '',
    newGallery: '',
    newAttachments: '',
    newCustomField: '',
    image_gallery: '',
    attached_files: ''
})

/*****METHODS*****/
onMounted(async () => {
    await store.dispatch('product/getProducts')
})

const getProductsByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: productName.value
    }

    if(filterOptions.value && filterOptions.value.length) {
        Object.assign(data, filterOptions)
    }

    await store.dispatch('product/getProducts', data)
}

const updateProductList = () => {
    let data = {
        page: products.value.current_page,
        search: productName.value
    }

    if(filterOptions.value) {
        Object.assign(data, filterOptions.value)
    }

    store.dispatch('product/getProducts', data)
}

const setFilter = async (option) => {
    filterOptions.value = option
    updateProductList()
}

</script>
<template>
    <PageLayout :breadCrumbs="breadCrumbs" :pageTitle="$t('main.dashboard.menu.products')">
        <template #workSpaceTopSearch>
            <div class="single-field">
                <TextInput
                    v-model="productName"
                    :label="$t('main.global.forms.placeholder.search')"
                    inputStyle="searchable"
                    @change="updateProductList()"
                    :icon="`<i class='ki-duotone ki-magnifier'><span class='path1'></span><span class='path2'></span></i>`"
                />
            </div>
        </template>
        <template #workSpaceDataTable>
            <ProductList v-if="products.data" estimate="index" :data="products.data" @filters="setFilter"/>
        </template>
        <template #workSpaceContent>
            <div class="separator my-2"></div>
            <div class="products-data-footer">
                <div class="products-pagination">
                    <paginate
                        v-if="products.data"
                        :page-count="products.links.length - 2"
                        :click-handler="getProductsByPage"
                        :prev-text="$t('main.global.prev')"
                        :next-text="$t('main.global.next')"
                        :container-class="'custom-pagination'"
                        :page-class="'pagination-item'"
                    >
                    </paginate>
                </div>
            </div>
        </template>
    </PageLayout>
</template>
