<script setup>
import { Tooltip } from 'bootstrap'
import {onMounted} from "vue";

const props = defineProps({
    type: {
        type: String,
        default: ''
    },
    name: {
        type: String,
        default: ''
    },
    color: {
        type: String,
        default: null
    }
});

onMounted(async () => {
    new Tooltip(document.body, {
        selector: "[data-bs-toggle='tooltip']",
        trigger: 'hover'
    })
})
</script>
<template>
    <button data-bs-toggle="tooltip" data-bs-placement="bottom" :title="`${type} ${name}`" class="data-table-action-btn" :class="color">
        <slot name="icon" />
    </button>
</template>

