<script setup>
import { Tooltip } from 'bootstrap'
import {onMounted} from "vue";

const props = defineProps({
    type: {
        type: String,
        default: ''
    },
    name: {
        type: String,
        default: ''
    },
});

onMounted(async () => {
    new Tooltip(document.body, {
        selector: "[data-bs-toggle='tooltip']",
    })
})
</script>
<template>
    <a data-bs-toggle="tooltip" data-bs-placement="bottom" :title="`${type} ${name}`" target="_blank" class="data-table-action-btn">
        <slot name="icon" />
    </a>
</template>

