<script setup>
    const props = defineProps({
        log: {
            type: Object,
            default: {}
        },
    });
    const clearModel = (model) => {
        return model.replace('App\\Models\\','')
    }
    const getIcon = (type) => {
        let icon = "<i class=\"ki-duotone ki-flag fs-2\"><span class=\"path1\"></span><span class=\"path2\"></span></i>"

        switch (type){
            case 'created':
                icon = "<i class=\"ki-duotone ki-abstract-10\"><span class=\"path1\"></span><span class=\"path2\"></span></i>"
                break;
            case 'updated':
                icon = "<i class=\"ki-duotone ki-pencil\"><span class=\"path1\"></span><span class=\"path2\"></span></i>"
                break;
            case 'deleted':
                icon = "<i class=\"ki-duotone ki-trash\"><span class=\"path1\"></span><span class=\"path2\"></span><span class=\"path3\"></span><span class=\"path4\"></span><span class=\"path5\"></span></i>"
                break;
            case 'destroyed':
                icon = "<i class=\"ki-duotone ki-trash\"><span class=\"path1\"></span><span class=\"path2\"></span><span class=\"path3\"></span><span class=\"path4\"></span><span class=\"path5\"></span></i>"
                break;
        }
        return icon
    }
</script>
<template>
    <div class="task-item-header">
        <div class="task-item-icon" v-html="getIcon(log.type)"></div>
        <div class="task-item-heading">
            <div class="task-item-title theme-title">
                <b>{{log.user.name}}</b> {{log.type}} {{log.logable_type ? clearModel(log.logable_type) : ''}} <b>{{log.logable ? log.logable.name : log.title}}</b> {{log.logable ? '(id#' + log.logable.id + ')' : ''}}
            </div>
            <div class="task-item-time">{{log.type}} at {{log.created_at}} by <img alt="Avatar" :src="log.user.profile_photo_url"></div>
        </div>
    </div>
</template>

