<script setup>
const props = defineProps({
    log: {
        type: Object,
        default: {}
    },
});
</script>
<template>
    <div class="task-item-header">
        <div class="task-item-icon">
            <i class="ki-duotone ki-pencil fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="task-item-heading">
            <div class="task-item-title theme-title">3 new application design concepts added:</div>
            <div class="task-item-time">Created at 4:23 PM by <img alt="Avatar" src="/images/avatars/blank.png"></div>
        </div>
    </div>
    <div class="task-item-body">
        <div class="task-blocks">
            <div class="task-block-item">
                <img src="/images/design/1.jpg">
                <a href="#">Explore</a>
            </div>
            <div class="task-block-item">
                <img src="/images/design/2.jpg">
                <a href="#">Explore</a>
            </div>
        </div>
    </div>
</template>
