<script setup>
const props = defineProps({
    log: {
        type: Object,
        default: {}
    },
});
</script>
<template>
    <div class="task-item-header">
        <div class="task-item-icon">
            <i class="ki-duotone ki-disconnect fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
        </div>
        <div class="task-item-heading">
            <div class="task-item-title theme-title">3 New Incoming Project Files:</div>
            <div class="task-item-time">Sent at 10:30 PM by <img alt="Avatar" src="/images/avatars/blank.png"></div>
        </div>
    </div>
    <div class="task-item-body">
        <div class="task-files">
            <div class="task-file-item">
                <div class="task-file-item-icon">
                    <img src="/images/icons/files/pdf.svg">
                </div>
                <div class="task-file-item-details">
                    <div class="tfid-title theme-title">
                        <a href="#">Finance KPI App Guidelines</a>
                    </div>
                    <div class="tfid-size">1.9mb</div>
                </div>
            </div>
            <div class="task-file-item">
                <div class="task-file-item-icon">
                    <img src="/images/icons/files/doc.svg">
                </div>
                <div class="task-file-item-details">
                    <div class="tfid-title theme-title">
                        <a href="#">Client UAT Testing Results</a>
                    </div>
                    <div class="tfid-size">18kb</div>
                </div>
            </div>
            <div class="task-file-item">
                <div class="task-file-item-icon">
                    <img src="/images/icons/files/css.svg">
                </div>
                <div class="task-file-item-details">
                    <div class="tfid-title theme-title">
                        <a href="#">Finance Reports</a>
                    </div>
                    <div class="tfid-size">20mb</div>
                </div>
            </div>
        </div>
    </div>
</template>
