<script setup>
const props = defineProps({
    log: {
        type: Object,
        default: {}
    },
});
</script>
<template>
    <div class="task-item-header">
        <div class="task-item-icon">
            <i class="ki-duotone ki-flag fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span></i>
        </div>
        <div class="task-item-heading">
            <div class="task-item-title theme-title">Invitation for crafting engaging designs that speak human workshop</div>
            <div class="task-item-time">Sent at 4:23 PM by <img alt="Avatar" src="/images/avatars/blank.png"></div>
        </div>
    </div>
</template>
