<script setup>
const props = defineProps({
    log: {
        type: Object,
        default: {}
    },
});
</script>
<template>
    <div class="task-item-header">
        <div class="task-item-icon">
            <i class="ki-duotone ki-message-text-2 fs-2 text-gray-500"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
        </div>
        <div class="task-item-heading">
            <div class="task-item-title theme-title">There are 2 new tasks for you in “AirPlus Mobile App” project:</div>
            <div class="task-item-time theme-title">Added at 4:23 PM by <img alt="Avatar" src="/images/avatars/blank.png"></div>
        </div>
    </div>
    <div class="task-item-body">
        <div class="task-lists">
            <div class="task-list-item">
                <div class="task-list-item-column task-list-item-title theme-title">Meeting with customer</div>
                <div class="task-list-item-column task-list-item-type theme-task-list-item-type">
                    <span>Application Design</span>
                </div>
                <div class="task-list-item-column task-list-item-user">
                    <div class="avatar-group">
                        <div class="avatar-group-item">
                            <a href="#">
                                <img alt="Avatar" src="/images/avatars/blank.png">
                            </a>
                        </div>
                        <div class="avatar-group-item">
                            <a href="#">
                                <img alt="Avatar" src="/images/avatars/blank.png">
                            </a>
                        </div>
                        <div class="avatar-group-item">
                            <a href="#">
                                <img alt="Avatar" src="/images/avatars/blank.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="task-list-item-column task-list-item-status theme-status">
                    <span class="primary-status">In Progress</span>
                </div>
                <div class="task-list-item-column task-list-item-action">
                    <a href="#">View</a>
                </div>
            </div>
            <div class="task-list-item">
                <div class="task-list-item-column task-list-item-title theme-title">Project Delivery Preparation</div>
                <div class="task-list-item-column task-list-item-type theme-task-list-item-type">
                    <span>CRM System Development</span>
                </div>
                <div class="task-list-item-column task-list-item-user">
                    <div class="avatar-group">
                        <div class="avatar-group-item">
                            <a href="#">
                                <img alt="Avatar" src="/images/avatars/blank.png">
                            </a>
                        </div>
                        <div class="avatar-group-item">
                            <a href="#">
                                <img alt="Avatar" src="/images/avatars/blank.png">
                            </a>
                        </div>
                        <div class="avatar-group-item">
                            <a href="#">
                                <img alt="Avatar" src="/images/avatars/blank.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="task-list-item-column task-list-item-status theme-status">
                    <span class="success-status">In Progress</span>
                </div>
                <div class="task-list-item-column task-list-item-action">
                    <a href="#">View</a>
                </div>
            </div>
        </div>
    </div>
</template>
