<script setup>
import {computed, onMounted, reactive, ref, watch} from "vue";
import {usePage} from "@inertiajs/vue3";
import {useStore} from 'vuex'
import {trans, wTrans} from "laravel-vue-i18n";
import Paginate from 'vuejs-paginate-next';
import OrderList from "@/Components/Tables/OrderList.vue";
import ProductList from "@/Components/Tables/ProductList.vue";
import EstimateList from "@/Components/Tables/EstimateList.vue";
import CustomerList from "@/Components/Tables/CustomerList.vue";
import WarehouseList from "@/Components/Tables/WarehouseList.vue";

const store = useStore()
const authUser = usePage().props.auth.user
const customer = ref(usePage().props.customer)
const headers = reactive([
    { text: wTrans('main.global.table_headers.id'), value: "id" },
    { text: wTrans('main.global.table_headers.name'), value: "name" },
    { text: wTrans('main.global.table_headers.location'), value: "location" },
    { text: wTrans('main.global.table_headers.phone'), value: "phone" },
    { text: wTrans('main.global.table_headers.email'), value: "email" },
    { text: wTrans('main.global.table_headers.notes'), value: "notes" },
    { text: wTrans('main.global.table_headers.action'), value: "action" },
]);
const props = defineProps({
    customerId: {
        type: Number,
        default: null
    },
    result: {
        type: Object,
        default: null
    }
});
let filter = reactive({
    id: props.customerId,
    page: 1,
    search: null,
    deleted: false
})


const searchProducts = computed(() => {
    return store.getters["search/searchProducts"]
})
const searchCustomers = computed(() => {
    return store.getters["search/searchCustomers"]
})
const searchOrders = computed(() => {
    return store.getters["search/searchOrders"]
})
const searchEstimates = computed(() => {
    return store.getters["search/searchEstimates"]
})
const searchWarehouses = computed(() => {
    return store.getters["search/searchWarehouses"]
})

let reintegrate = ref(false);
let actionLoader = ref(false)

onMounted(async () => {
    let href = window.location.href.split('#');
    document.getElementById(href[1]).click()
})

const setFilter = async () => {
    filter.deleted = 'deleted' in filter;
}
const getProductsByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: props.result.search
    }
    await store.dispatch('search/getSearchProducts', data)
    props.result.products = searchProducts.value
}
const getCostumersByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: props.result.search
    }
    await store.dispatch('search/getSearchCustomer', data)
    props.result.customer = searchCustomers.value
}
const getOrdersByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: props.result.search
    }
    await store.dispatch('search/getSearchOrders', data)
    props.result.orders = searchOrders.value
}
const getEstimatesByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: props.result.search
    }
    await store.dispatch('search/getSearchEstimates', data)
    props.result.estimates = searchEstimates.value
}
const getWarehousesByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: props.result.search
    }
    await store.dispatch('search/getSearchWarehouses', data)
    props.result.warehouses = searchWarehouses.value

}


</script>
<template>
    <div v-if="result">
        <div class="settings-tab-bar">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation" v-if="result.products">
                    <button class="nav-link active" id="products-tab" data-bs-toggle="tab" data-bs-target="#products" type="button" role="tab" aria-controls="products" aria-selected="true">
                        {{ $t('main.global.tab_headers.product') }} ({{result.products.total}})</button>
                </li>
                <li class="nav-item" role="presentation" v-if="result.customers">
                    <button class="nav-link" id="customers-tab" data-bs-toggle="tab" data-bs-target="#customers" type="button" role="tab" aria-controls="customers" aria-selected="false">
                        {{ $t('main.global.tab_headers.customers') }} ({{result.customers.total}})</button>
                </li>
                <li class="nav-item" role="presentation" v-if="result.orders">
                    <button class="nav-link" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders" type="button" role="tab" aria-controls="orders" aria-selected="false">
                        {{ $t('main.global.tab_headers.orders') }} ({{result.orders.total}})</button>
                </li>
                <li class="nav-item" role="presentation" v-if="result.estimates">
                    <button class="nav-link" id="estimates-tab" data-bs-toggle="tab" data-bs-target="#estimates" type="button" role="tab" aria-controls="estimates" aria-selected="false">
                        {{ $t('main.global.tab_headers.estimates') }} ({{result.estimates.total}})</button>
                </li>
                <li class="nav-item" role="presentation" v-if="result.warehouses">
                    <button class="nav-link" id="warehouses-tab" data-bs-toggle="tab" data-bs-target="#warehouses" type="button" role="tab" aria-controls="warehouses" aria-selected="false">
                        {{ $t('main.global.tab_headers.warehouses') }} ({{result.warehouses.total}})</button>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="products" role="tabpanel" aria-labelledby="products-tab" v-if="result.products">
                <div>
                    <ProductList v-if="result.products.data" :headers="headers" :data="result.products.data" @filters="setFilter" />
                </div>
                <div class="products-data-footer">
                    <div class="products-pagination">
                        <paginate
                            v-if="result.products.data"
                            :page-count="result.products.links.length - 2"
                            :click-handler="getProductsByPage"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :container-class="'custom-pagination'"
                            :page-class="'pagination-item'"
                        >
                        </paginate>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab" v-if="result.customers">
                <div>
                    <CustomerList v-if="result.customers.data" :headers="headers" :data="result.customers.data" @filters="setFilter" />
                </div>
                <div class="products-data-footer">
                    <div class="products-pagination">
                        <paginate
                            v-if="result.customers.data"
                            :page-count="result.customers.links.length - 2"
                            :click-handler="getCostumersByPage"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :container-class="'custom-pagination'"
                            :page-class="'pagination-item'"
                        >
                        </paginate>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab" v-if="result.orders">
                <div>
                    <OrderList v-if="result.orders.data" order="index" :headers="headers" :data="result.orders.data" @filters="setFilter" />
                </div>
                <div class="products-data-footer">
                    <div class="products-pagination">
                        <paginate
                            v-if="result.orders.data"
                            :page-count="result.orders.links.length - 2"
                            :click-handler="getOrdersByPage"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :container-class="'custom-pagination'"
                            :page-class="'pagination-item'"
                        >
                        </paginate>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="estimates" role="tabpanel" aria-labelledby="estimates-tab" v-if="result.estimates">
                <div>
                    <EstimateList v-if="result.estimates.data" :headers="headers" :data="result.estimates.data" @filters="setFilter" />
                </div>
                <div class="products-data-footer">
                    <div class="products-pagination">
                        <paginate
                            v-if="result.estimates.data"
                            :page-count="result.estimates.links.length - 2"
                            :click-handler="getEstimatesByPage"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :container-class="'custom-pagination'"
                            :page-class="'pagination-item'"
                        >
                        </paginate>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="warehouses" role="tabpanel" aria-labelledby="warehouses-tab" v-if="result.warehouses">
                <div>
                    <WarehouseList v-if="result.warehouses.data" :headers="headers" :data="result.warehouses.data" @filters="setFilter" />
                </div>
                <div class="products-data-footer">
                    <div class="products-pagination">
                        <paginate
                            v-if="result.warehouses.data"
                            :page-count="result.warehouses.links.length - 2"
                            :click-handler="getWarehousesByPage"
                            :prev-text="'Prev'"
                            :next-text="'Next'"
                            :container-class="'custom-pagination'"
                            :page-class="'pagination-item'"
                        >
                        </paginate>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
