<script setup>
import {computed, onMounted, reactive, ref, watch} from 'vue';
import TextInput from '@/Components/TextInput.vue'
import TextArea from '@/Components/TextArea.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Multiselect from '@vueform/multiselect'
import {isArray} from "lodash";
import {useStore} from "vuex";

const props = defineProps({
    status: {
        type: Boolean,
        default: false,
    },
    submitAction: {
        type: Boolean,
        default: false
    },
    customer: {
        type: Object,
        default: {}
    },
    type: {
        type: String,
        default: 'modal'
    }
});

const store = useStore()
const emits = defineEmits(['updated', 'failed', 'closed'])

let editableCustomer = reactive(props.customer)
let formData = new FormData();
let choosenVat = ref({})
let previewProfileImage = ref(null)
let countryKey = ref(0)


const countryList = computed(() => {
    return store.getters["country/countryList"]
})
const vatList = computed(() => {
    return store.getters["vat/vatList"]
})
const vat = computed(() => {
    return store.getters["vat/vat"]
})

const errors = reactive({
    name: '',
    surname: '',
    email: '',
    country_id: '',
    address: '',
    mobile_phone: '',
    phone: '',
    vat: '',
    vat_exempt: '',
    sdi_code: '',
    mail_pec: '',
    additional_notes: '',
    customer_type: '',
    city: '',
    zip_code: '',
    avatar: '',
})

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        props.submitAction = false
        updateCustomer()
    }
});

watch(() => props.status, async () => {
    if (props.status) {
        // previewProfileImage.value = null
        await store.dispatch('country/getCountryList')
        await store.dispatch('vat/getVatList')
        let data = {
            'vat_name': editableCustomer['vat_name'] ?? null,
            'vat_percentage': editableCustomer['vat_percentage'] ?? null
        }
        await store.dispatch('vat/getVat', data).then(() => {
            choosenVat.value = vat.value
        })
        countryKey.value++
    }
});

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

const showImage = (path) => {
    if(path.includes('http')){
        return path
    }
    return `/storage/${path}`
}

const closeModal = () => {
    emits('closed')
}

const updateCustomer = async () => {
    for(let key in editableCustomer){
        if(key !== 'avatar' && editableCustomer[key]){
            formData.append(key, editableCustomer[key])
        }
    }
    if(previewProfileImage.value){
        formData.append('avatar', previewProfileImage.value['file'])
    }
    formData.append('_method', "PUT")
    await axios.post(route('customer.update', editableCustomer.id), formData, {
        headers: {
            "Content-Type": "multipart/form-data",
        }
    })
        .then((response) => {
            emits('updated', response.data)
        })
        .catch((error) => {
            showValidations(error)
            emits('failed', error)
        })
}

const selectNewVat = (event) => {
    editableCustomer['vat_name'] = event.vat_name
    editableCustomer['vat_percentage'] = event.vat_percentage
}

const changeCreateHandler = (e) => {
    previewProfileImage.value = null
    const files = e.target.files
    for(let key in files) {
        const fileReader = new FileReader();
        fileReader.onload = event => {
            previewProfileImage.value = {'path': event.target.result, 'file': files[key]}
        }
        fileReader.readAsDataURL(files[key]);
    }
}

const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
}

const clearValidation = (val) => {
    errors[val] = null
}
</script>
<template>
    <form @submit.prevent="updateCustomer">
        <div class="single-field mb-16">
            <InputLabel for="customerType" :value="$t('main.global.forms.labels.customer_type')" />
            <div class="flex align-items-start mt-1">
                <label class="mr-4 theme-title"><input class="mr-1" type="radio" v-model="editableCustomer.customer_type" value="user">{{ $t('main.global.user') }}</label>
                <label class="theme-title"><input class="mr-1" type="radio" v-model="editableCustomer.customer_type" value="company">{{ $t('main.global.company') }}</label>
            </div>
            <InputError class="mt-2" :message="showError(errors.customer_type)" />
        </div>
        <h3 class="form-section-title mt-60">{{$t('main.global.forms.head_title.customer_information')}}</h3>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableCustomer.name"
                :label="$t('main.global.forms.labels.name')"
                :error="errors.name"
                @input="clearValidation('name')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableCustomer.surname"
                :label="$t('main.global.forms.labels.surname')"
                :error="errors.surname"
                @input="clearValidation('surname')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableCustomer.email"
                :label="$t('main.global.forms.labels.email')"
                :error="errors.email"
                @input="clearValidation('email')"
            />
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="editableCustomer.country_id ? 'focused' : ''">
                {{$t('main.global.forms.labels.country')}}
            </span>
            <Multiselect
                :key="countryKey"
                class="multiselect-field"
                :class="choosenVat ? 'filled' : ''"
                v-model="editableCustomer.country_id"
                :close-on-select="true"
                :searchable="true"
                label="name"
                valueProp="id"
                required
                :options="countryList"
            >
            </Multiselect>
            <div v-if="errors.country_id" class="input-error-message">{{errors.country_id[0]}}</div>
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableCustomer.city"
                :label="$t('main.global.forms.labels.city')"
                :error="errors.city"
                @input="clearValidation('city')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableCustomer.address"
                :label="$t('main.global.forms.labels.address')"
                :error="errors.address"
                @input="clearValidation('address')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableCustomer.zip_code"
                :label="$t('main.global.forms.labels.zip_code')"
                :error="errors.zip_code"
                @input="clearValidation('zip_code')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableCustomer.mobile_phone"
                :label="$t('main.global.forms.labels.mobile_phone')"
                :error="errors.mobile_phone"
                @input="clearValidation('mobile_phone')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableCustomer.phone"
                :label="$t('main.global.forms.labels.phone')"
                :error="errors.phone"
                @input="clearValidation('phone')"
            />
        </div>
        <div class="single-field mb-16" v-if="editableCustomer.customer_type === 'company'">
            <TextInput
                v-model="editableCustomer.vat"
                :label="$t('main.global.forms.labels.vat')"
                :error="errors.vat"
                @input="clearValidation('vat')"
            />
        </div>
        <div v-else>
            <h3 class="form-section-title mt-60">{{$t('main.global.forms.head_title.fiscal_information')}}</h3>
            <div class="single-field mb-16">
                <TextInput
                    v-model="editableCustomer.fiscal_code"
                    :label="$t('main.global.forms.labels.fiscal_code')"
                    :error="errors.fiscal_code"
                    @input="clearValidation('fiscal_code')"
                />
            </div>
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="choosenVat ? 'focused' : ''">
                {{$t('main.global.forms.labels.vat')}}
            </span>
            <Multiselect
                class="multiselect-field"
                :class="choosenVat ? 'filled' : ''"
                v-model="choosenVat"
                :close-on-select="true"
                :searchable="true"
                label="vat_name"
                valueProp="id"
                :object="true"
                :options="vatList"
                @change="selectNewVat($event)"
            >
            </Multiselect>
            <div v-if="errors.choosenVat" class="input-error-message">{{errors.choosenVat[0]}}</div>
        </div>
        <div v-if="editableCustomer.customer_type === 'company'">
            <div class="single-field mb-16">
                <TextInput
                    v-model="editableCustomer.sdi_code"
                    :label="$t('main.global.forms.labels.sdi_code')"
                    :error="errors.sdi_code"
                    @input="clearValidation('sdi_code')"
                />
            </div>
            <div class="single-field mb-16">
                <TextInput
                    v-model="editableCustomer.mail_pec"
                    :value="$t('main.global.forms.labels.mail_pec')"
                    :error="errors.mail_pec"
                    @input="clearValidation('mail_pec')"
                />
            </div>
        </div>
        <div class="single-field mb-16">
            <div class="upload-box">
                <h3>{{$t('main.global.forms.labels.profile_image')}}</h3>
                <label for="updateMainImage">
                    <span v-if="!editableCustomer.avatar && !previewProfileImage" class="upload-choose-btn"><i class="fa fa-plus"></i></span>
                    <span v-else class="selected-main-image-change-btn">{{$t('main.global.change')}}</span>
                </label>
                <input type="file" class="hidden" id="updateMainImage" @change="changeCreateHandler($event)"  />
            </div>
            <div class="upload-box-preview" v-if="previewProfileImage || editableCustomer.avatar">
                <div class="upload-box-preview-image">
                    <img v-if="previewProfileImage" :src="previewProfileImage.path">
                    <img v-else-if="editableCustomer.avatar" :src="'/storage/' + editableCustomer.avatar">
                </div>
            </div>
            <div v-if="errors.avatar" class="input-error-message">{{errors.avatar[0]}}</div>
        </div>
        <div class="single-field mb-16">
            <TextArea
                v-model="editableCustomer.additional_notes"
                :label="$t('main.global.forms.labels.additional_notes')"
                :error="errors.additional_notes"
                @input="clearValidation('additional_notes')"
            />
        </div>
    </form>
</template>
