<script setup>
import {computed, onMounted, reactive, ref, watch} from 'vue';
import TextInput from '@/Components/TextInput.vue'
import TextArea from '@/Components/TextArea.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Multiselect from '@vueform/multiselect'
import {isArray} from "lodash";
import {useStore} from "vuex";


const store = useStore()

const props = defineProps({
    status: {
        type: Boolean,
        default: false,
    },
    submitAction: {
        type: Boolean,
        default: false
    },
});

const countryList = computed(() => {
    return store.getters["country/countryList"]
})

const vatList = computed(() => {
    return store.getters["vat/vatList"]
})

let createFormData = new FormData();
let previewProfileImage = ref(null)
let choosen_vat = ref(null)
let newCustomer = reactive({
    name: '',
    surname: '',
    email: '',
    country_id: '',
    address: '',
    mobile_phone: '',
    phone: '',
    vat: '',
    vat_name: '',
    vat_percentage: '',
    fiscal_code: '',
    sdi_code: '',
    mail_pec: '',
    additional_notes: '',
    customer_type: 'user',
    city: '',
    zip_code: '',
    avatar: null,
});
let clearCustomer = reactive({
    name: '',
    surname: '',
    email: '',
    country_id: '',
    address: '',
    mobile_phone: '',
    phone: '',
    vat: '',
    vat_name: '',
    vat_percentage: '',
    fiscal_code: '',
    sdi_code: '',
    mail_pec: '',
    additional_notes: '',
    customer_type: 'user',
    city: '',
    zip_code: '',
    avatar: null,
});
const errors = reactive({
    name: '',
    surname: '',
    email: '',
    address: '',
    mobile_phone: '',
    phone: '',
    vat: '',
    fiscal_code: '',
    vat_exempt: '',
    sdi_code: '',
    mail_pec: '',
    additional_notes: '',
    customer_type: '',
    city: '',
    zip_code: '',
    avatar: '',
    country_id: '',
    choosen_vat: ''
})

watch(() => props.status, async () => {
    if (props.status) {
        await store.dispatch('country/getCountryList')
        await store.dispatch('vat/getVatList')
    }
});

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        props.submitAction = false
        createCustomer()
    }
});

watch(choosen_vat, (val) => {
    newCustomer.vat_name = val ? val.vat_name: null
    newCustomer.vat_percentage = val ? val.vat_percentage : null
});

const emits = defineEmits(['created', 'failed', 'closed'])

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

const closeModal = () => {
    emits('close')
}


const changeCreateHandler = (e) => {
    previewProfileImage.value = null
    const files = e.target.files
    if(files.length){
        const fileReader = new FileReader();
        fileReader.onload = event => {
            previewProfileImage.value = {'path': event.target.result, 'file': files[0]}
        }
        fileReader.readAsDataURL(files[0]);
    }
}

const createCustomer = async () => {
    for(let key in newCustomer){
        if(key !== 'avatar' && newCustomer[key] !== 'null'){
            createFormData.append(key, newCustomer[key])
        }
    }
    if(previewProfileImage.value){
        createFormData.append('avatar', previewProfileImage.value['file'])
    }
    await axios.post(route('customer.store'), createFormData, {
        headers: {
            "Content-Type": "multipart/form-data",
        }
    })
        .then((response) => {
            resetFields()
            emits('created', response.data)
            newCustomer = {}
        })
        .catch((error) => {
            showValidations(error)
            emits('failed', error)
        })
}

const resetFields = () => {
    createFormData.forEach(function(val, key){
        createFormData.delete(key)
    });
    newCustomer = clearCustomer
}

const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
}

const clearValidation = (val) => {
    errors[val] = null
}

</script>
<template>
    <form @submit.prevent="createCustomer">
        <div class="single-field mb-16">
            <InputLabel for="customerType" :value="$t('main.global.forms.labels.customer_type')" class="theme-title" />
            <div class="flex align-items-start mt-1">
                <label class="mr-4 theme-title">
                    <input class="mr-1" type="radio" v-model="newCustomer.customer_type" value="user"> {{ $t('main.global.user') }}
                </label>
                <label class="theme-title">
                    <input class="mr-1" type="radio" v-model="newCustomer.customer_type" value="company"> {{ $t('main.global.company') }}
                </label>
            </div>
            <InputError class="mt-2" :message="showError(errors.customer_type)" />
        </div>
        <h3 class="form-section-title mt-60">{{$t('main.global.forms.head_title.customer_information')}}</h3>
        <div class="single-field mb-16">
            <TextInput
                v-model="newCustomer.name"
                :label="$t('main.global.forms.labels.name')"
                :error="errors.name"
                @input="clearValidation('name')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newCustomer.surname"
                :label="$t('main.global.forms.labels.surname')"
                :error="errors.surname"
                @input="clearValidation('surname')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newCustomer.email"
                :label="$t('main.global.forms.labels.email')"
                :error="errors.email"
                @input="clearValidation('email')"
            />
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="newCustomer.country_id ? 'focused' : ''">
                {{$t('main.global.forms.labels.country')}}
            </span>
            <Multiselect
                class="multiselect-field"
                :class="newCustomer.country_id ? 'filled' : ''"
                v-model="newCustomer.country_id"
                :close-on-select="true"
                :searchable="true"
                label="name"
                valueProp="id"
                required
                :options="countryList"
                @change="clearValidation('country_id')"
            >
            </Multiselect>
            <div v-if="errors.country_id" class="input-error-message">{{errors.country_id[0]}}</div>
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newCustomer.city"
                :label="$t('main.global.forms.labels.city')"
                :error="errors.city"
                @input="clearValidation('city')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newCustomer.address"
                :label="$t('main.global.forms.labels.address')"
                :error="errors.address"
                @input="clearValidation('address')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newCustomer.zip_code"
                :label="$t('main.global.forms.labels.zip_code')"
                :error="errors.zip_code"
                @input="clearValidation('zip_code')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newCustomer.mobile_phone"
                :label="$t('main.global.forms.labels.mobile_phone')"
                :error="errors.mobile_phone"
                @input="clearValidation('mobile_phone')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newCustomer.phone"
                :label="$t('main.global.forms.labels.phone')"
                :error="errors.phone"
                @input="clearValidation('phone')"
            />
        </div>
        <div class="single-field mb-16" v-if="newCustomer.customer_type === 'company'">
            <TextInput
                v-model="newCustomer.vat"
                :label="$t('main.global.forms.labels.vat')"
                :error="errors.vat"
                @input="clearValidation('vat')"
            />
        </div>
        <div v-else>
            <h3 class="form-section-title mt-60">{{$t('main.global.forms.head_title.fiscal_information')}}</h3>
            <div class="single-field mb-16">
                <TextInput
                    v-model="newCustomer.fiscal_code"
                    :label="$t('main.global.forms.labels.fiscal_code')"
                    :error="errors.fiscal_code"
                    @input="clearValidation('fiscal_code')"
                />
            </div>
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="choosen_vat ? 'focused' : ''">
                {{$t('main.global.forms.labels.vat')}}
            </span>
            <Multiselect
                class="multiselect-field"
                :class="choosen_vat ? 'filled' : ''"
                v-model="choosen_vat"
                :close-on-select="true"
                :searchable="true"
                label="vat_name"
                valueProp="vat_percentage"
                :object="true"
                :options="vatList"
                @change="clearValidation('choosen_vat')"
            >
            </Multiselect>
            <div v-if="errors.choosen_vat" class="input-error-message">{{errors.choosen_vat[0]}}</div>
        </div>
        <div v-if="newCustomer.customer_type === 'company'">
            <div class="single-field mb-16">
                <TextInput
                    v-model="newCustomer.sdi_code"
                    :label="$t('main.global.forms.labels.sdi_code')"
                    :error="errors.sdi_code"
                    @input="clearValidation('sdi_code')"
                />
            </div>
            <div class="single-field mb-16">
                <TextInput
                    v-model="newCustomer.mail_pec"
                    :label="$t('main.global.forms.labels.mail_pec')"
                    :error="errors.mail_pec"
                    @input="clearValidation('mail_pec')"
                />
            </div>
        </div>
        <div class="single-field mb-16">
            <div class="upload-box">
                <h3>{{$t('main.global.forms.labels.profile_image')}}</h3>
                <label :for="`customerNewProfileImage${status ? 1 : 0}`">
                    <span v-if="!previewProfileImage" class="upload-choose-btn"><i class="fa fa-plus"></i></span>
                    <span v-else class="selected-main-image-change-btn">{{$t('main.global.change')}}</span>
                </label>
                <input type="file" class="hidden" :id="`customerNewProfileImage${status ? 1 : 0}`" @change="changeCreateHandler($event)"  />
            </div>
            <div class="upload-box-preview" v-if="previewProfileImage">
                <div class="upload-box-preview-image">
                    <img :src="previewProfileImage.path">
                </div>
            </div>
            <div v-if="errors.avatar" class="input-error-message">{{errors.avatar[0]}}</div>
        </div>
        <div class="single-field">
            <TextArea
                v-model="newCustomer.additional_notes"
                :label="$t('main.global.forms.labels.additional_notes')"
                :error="errors.additional_notes"
                @input="clearValidation('additional_notes')"
            />
        </div>
    </form>
</template>
