<script setup>
import Multiselect from '@vueform/multiselect';
import NumberInput from '@/Components/NumberInput.vue'
import TextInput from '@/Components/TextInput.vue';
import Selector from '@/Components/Selector.vue';
import {trans, wTrans} from "laravel-vue-i18n";
import {computed, onMounted, reactive, ref, watch} from "vue";
import { faClose, faWarning } from "@fortawesome/free-solid-svg-icons";
import Swal from "sweetalert2";
import {useStore} from "vuex";
import TextArea from "@/Components/TextArea.vue";
import {isArray} from "lodash";
import {useNotification} from "@kyvg/vue3-notification";
import {usePage} from "@inertiajs/vue3";
import DialogModal from '@/Components/DialogModal.vue';
import RightDialogFormModal from '@/Components/Metrionic/RightDialogFormModal.vue';
import CustomerCreate from "@/Components/Forms/CustomerCreate.vue";

const emits = defineEmits(['failed','updated'])

let confirmEstimateCustomerChange = ref(false);
let submitCreateAction = ref(false);
let selectedVat = ref({});
let statuses = ref({})
let statusList = ref([]);
let estimateProducts = ref([]);
let renderKey = ref(0);
let customerCreateModal = ref(false);
let chosenProduct = reactive({});
let actionLoader = ref(false)
let productPackage = reactive({
    productId: null,
    name: null,
    price: '',
    quantity: '',
    vat: null,
    vat_name: null,
    vat_percentage: null,
});
let defaultProductPackage = reactive({
    productId: null,
    name: null,
    price: '',
    quantity: '',
    vat: null,
    vat_name: null,
    vat_percentage: null,
})
const errors = reactive({
    billingAddress:{
        address: '',
        header: '',
        country: '',
        city: '',
        zip_code: '',
        province: '',
    },
    products: '',
    estimateProducts: {
        products: '',
        vat: '',
        price: '',
        quantity: ''
    },
    payment_method: '',
    status_id: '',
    vat: '',
    fiscal_code: '',
    sdi_code: '',
    mail_pec: '',
    is_shipping: '',
    customer_id: '',
    user_id: '',
    estimate_id: '',
    discount: '',
    due_date: '',
    notes: ''
})
let estimateConverted = ref(false)
let estimateConvertedStatusList = ref(false)
const store = useStore();
const { notify}  = useNotification()
const authUser = usePage().props.auth.user
let allowCustomerChange = ref(false)

const props = defineProps({
    estimate: {
       type: Object,
       default: {}
   },
    submitAction: {
        type: Boolean,
        default: false
    },
    status: {
        type: Boolean,
        default: false
    },
});

const vat = computed(() => {
    return store.getters["vat/vat"]
})

const customerList = computed(() => {
    return store.getters["customer/customerList"]
})

const companyStatuses = computed(() => {
    return store.getters["settings/salesPipelines"]
});

const vatList = computed(() => {
    return store.getters["vat/vatList"]
});

const customer = computed(() => {
    return store.getters["customer/customer"]
})

const productList = computed(() => {
    return store.getters["product/productList"]
});

const countryList = computed(() => {
    return store.getters["country/countryList"]
});

const isEmpty = (obj) => {
    if(obj){
        return !Object.keys(obj).length;
    }
    return false

}

watch(companyStatuses, (val) => {

    if (!estimateConvertedStatusList.value) {
        if(val.pipelines){
            val.pipelines.map((item) => {
                statuses.value[item.id] = {id: item.id, name: item.name, color: item.color_code}
                statusList.value.push({'value': item.id, 'title': item.name})
            })
            estimateConvertedStatusList.value = true
        }
    }
});


watch(() => props.status, () => {
    if (props.status) {
        if(!props.estimate.billing_address){
            props.estimate = Object.assign(props.estimate, {billing_address: '{}'})
        }
        getEditableEstimates()
    }else {
        estimateConverted.value = false
    }
});

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        props.submitAction = false
        updateEstimate()
    }
});

onMounted(async () => {
    await store.dispatch('product/getProductList');
    await store.dispatch('vat/getVatList');
    await store.dispatch('country/getCountryList')
    await store.dispatch('settings/getSalesPipelines', authUser.company_id)
    renderKey.value++
});

const checkAvailability = () => {
    let messages = []

    if(!productPackage.vat){
        errors.estimateProducts.vat = [trans('main.global.notifications.popup.product.vat_required')]
        messages.push("<p>" + trans('main.global.notifications.popup.product.vat_required') + "</p>")
    }

    if(!productPackage.productId){
        errors.estimateProducts.products = [trans('main.global.notifications.popup.product.product_required')]
        messages.push("<p>" + trans('main.global.notifications.popup.product.product_required') + "</p>")
    }

    if(!productPackage.price){
        errors.estimateProducts.price = [trans('main.global.notifications.popup.product.price_required_text')]
        messages.push("<p>" + trans('main.global.notifications.popup.product.price_required_text') + "</p>")
    }

    if(!productPackage.quantity){
        errors.estimateProducts.quantity = [trans('main.global.notifications.popup.product.quantity_required')]
        messages.push("<p>" + trans('main.global.notifications.popup.product.quantity_required') + "</p>")
    }else{
        if(parseInt(productPackage.quantity) > parseInt(chosenProduct.quantity)){
            productPackage.quantity = chosenProduct.quantity
            errors.estimateProducts.quantity = [trans('main.global.notifications.popup.product.quantity_not_enough_text', {quantity: chosenProduct.quantity})]
            messages.push("<p>" + trans('main.global.notifications.popup.product.quantity_not_enough_text', {quantity: chosenProduct.quantity}) + "</p>")
        }
    }

    let notEnaughtMaterials = [];

    if(chosenProduct.materials && chosenProduct.materials.length){
        chosenProduct.materials.map(item => {
            if(productPackage.quantity * item.pivot.quantity > item.quantity){
                notEnaughtMaterials.push(item.title)
            }
        })
    }

    if(notEnaughtMaterials.length){
        messages.push("<p>" + trans('main.global.notifications.popup.product.material_not_enough_text', { material: notEnaughtMaterials.join(",") }) + "</p>")
        notEnaughtMaterials = []
    }

    if(messages.length){
        Swal.fire({
            title: trans('main.global.notifications.failed'),
            icon: 'error',
            html:messages.join(''),
            confirmButtonText: trans('main.global.notifications.popup.ok')
        })

        return false
    }

    return true
}

const getEditableEstimates = async () => {
    estimateProducts.value = []
    if(props.estimate.products?.length) {
        for(let item in props.estimate.products){
            let data = {
                'vat_name': props.estimate.products[item].pivot.vat_name,
                'vat_percentage': props.estimate.products[item].pivot.vat_percentage
            }
            await store.dispatch('vat/getVat', data).then(() => {
                estimateProducts.value.push({
                    products: parseInt(props.estimate.products[item].id),
                    name: props.estimate.products[item].name,
                    quantity: parseInt(props.estimate.products[item].pivot.quantity),
                    max_quantity: parseInt(props.estimate.products[item].quantity),
                    price: parseInt(props.estimate.products[item].pivot.price),
                    vat_name: vat.value.vat_name,
                    vat_percentage: vat.value.vat_percentage,
                    choosen_vat: vat.value
                })
            })
        }
    }
    if (!estimateConverted.value) {
        props.estimate = Object.assign(props.estimate, {billing_address: JSON.parse(props.estimate.billing_address)})
        estimateConverted.value = true
    }
    renderKey.value++
}

const addProductPackage = () => {
    if(checkAvailability()){
        let check = null
        if (estimateProducts.value.length) {
            check = estimateProducts.value.find(item => item.id === productPackage.productId)
        }

        if (!check) {
            estimateProducts.value.push({
                id: chosenProduct.id,
                products: chosenProduct.id,
                name: chosenProduct.name,
                quantity: productPackage.quantity,
                max_quantity: chosenProduct.quantity,
                materials: chosenProduct.materials,
                price: productPackage.price,
                vat_name: productPackage.vat_name,
                vat_percentage: productPackage.vat_percentage,
                choosen_vat: productPackage.vat
            })
        }

        errors.products = null
        resetProductPackage()
    }
}

const forceRerender = async () => {
    renderKey.value++
};

const updateEstimate = async () => {
    let data = {
        id: props.estimate.id,
        payment_method: props.estimate.payment_method,
        status_id: props.estimate.status_id,
        billing_address: props.estimate.billing_address,
        vat: props.estimate.vat,
        sdi_code: props.estimate.sdi_code,
        notes: props.estimate.notes,
        mail_pec: props.estimate.mail_pec,
        customer_id: props.estimate.customer_id,
    };
    data.products = estimateProducts.value
    await axios.put(route('estimate.update',  data.id),data)
        .then((response) => {
            estimateConverted.value = false
            emits('updated', response.data)
        })
        .catch((error) => {
            showValidations(error)
            emits('failed', error)
        })
};

const getCustomerById = async (id) => {
    await store.dispatch('customer/getCustomer', id).then(async () => {
        let data = {
            'vat_name': customer.value.vat_name ?? null,
            'vat_percentage': customer.value.vat_percentage ?? null
        }
        await store.dispatch('vat/getVat', data).then(() => {
            selectedVat.value = vat.value
            selectNewVat(vat.value)
        })
    })
};

const changedEstimateCustomer = () => {
    if(allowCustomerChange.value){
        confirmEstimateCustomerChange.value = true
    }else {
        allowCustomerChange.value = true
    }

};

const chooseProduct = async (event) => {
    chosenProduct = {}
    if(event) {
        chosenProduct = event
        productPackage.productId = event.id
        productPackage.name = event.name
    }

    await forceRerender()
};

const selectNewVat = (event) => {
    productPackage.vat = {}
    if(event){
        productPackage.vat = event
        productPackage.vat_name = event.vat_name
        productPackage.vat_percentage = event.vat_percentage
    }
};

const resetProductPackage = () => {
    chosenProduct = {}
    productPackage = {}
    productPackage = {...defaultProductPackage}
    forceRerender()
}

const removeEstimateProduct = (key) => {
    estimateProducts.value.splice(key, 1)
}



const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}


const estimateBillingChanges = (type) => {

    props.estimate.customer_id = customer.value.id

    if(type){
        props.estimate.vat = customer.value.vat
        props.estimate.fiscal_code = customer.value.fiscal_code
        props.estimate.sdi_code = customer.value.sdi_code
        props.estimate.mail_pec = customer.value.mail_pec

        props.estimate.billing_address.city = customer.value.city
        props.estimate.billing_address.zip_code = customer.value.zip_code
        props.estimate.billing_address.address = customer.value.address
        props.estimate.billing_address.country = customer.value.country.name
    }

    confirmEstimateCustomerChange.value = false
}

const getCreatedCustomer = async (data) => {
    props.estimate.customer_id = data.id
    await store.dispatch('customer/getCustomerList')
    await getCustomerById(data.id)
    submitCreateAction.value = false
    customerCreateModal.value = false
    Swal.fire({
        title: trans('main.global.notifications.customer_created'),
        icon: 'success',
        confirmButtonText: trans('main.global.notifications.popup.ok')
    })
}

const customerCreateFailed = (error) => {
    submitCreateAction.value = false
    Swal.fire({
        title: trans('main.global.notifications.failed'),
        icon: 'error',
        html: error.response.data.message,
        confirmButtonText: trans('main.global.notifications.popup.ok')
    })
}

const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
    convertArrayValidation('billing_address', 'billingAddress')
}

const convertArrayValidation = (validationKey, newKey) => {
    errors[newKey] = {}
    for(let item in errors){
        if(item.includes(validationKey)){
            let arr = item.split(".")
            if(arr.length === 3){
                if(!errors[newKey].hasOwnProperty(arr[1])){
                    Object.assign(errors[newKey], {[arr[1]]: {[arr[2]] : errors[item][0]}})
                }else{
                    Object.assign(errors[newKey][arr[1]], {[arr[2]] : errors[item][0]})
                }
            }else if(arr.length === 2){
                Object.assign(errors[newKey], {[arr[1]] : errors[item][0]})
            }

            delete errors[item]
        }
    }
}

const clearValidation = (val) => {
    errors[val] = null
}

const clearBillingValidation = (val) => {
    errors['billingAddress'][val] = ''
}

const clearProductValidation = (val) => {
    errors['estimateProducts'][val] = ''
}
</script>
<template>
    <form @submit.prevent="updateEstimate">
        <div class="flex align-items-center justify-content-between w-full mb-2">
            <h3 class="form-section-title">{{$t('main.global.forms.head_title.customer')}}</h3>
            <span type="button" class="page-workspace-top-side-actions-btn page-workspace-top-side-actions-create" @click="customerCreateModal = true">
                <i class="ki-duotone ki-plus">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>{{ $t('main.global.actions.create_customer') }}
            </span>
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="estimate.customer_id ? 'focused' : ''">
                {{$t('main.global.forms.labels.customer')}}
            </span>
            <Multiselect
                :key="`customerSelectField-${renderKey}`"
                class="multiselect-field"
                :class="estimate.customer_id ? 'filled' : ''"
                id="customer"
                :value="estimate.customer_id"
                :close-on-select="true"
                :searchable="true"
                label="name"
                valueProp="id"
                required
                :options="customerList"
                @change="getCustomerById($event);changedEstimateCustomer()"
            >
                <template v-slot:option="{ option }">
                    <option value="{{ option.id }}">{{ option.name }} {{ option.surname }}</option>
                </template>
            </Multiselect>
            <div v-if="errors.customer_id" class="input-error-message">{{errors.customer_id[0]}}</div>
        </div>
        <h3 class="form-section-title mt-60">{{$t('main.global.forms.head_title.estimate_information')}}</h3>
        <div class="single-field mb-16">
            <Selector
                v-model="estimate.status_id"
                :defaultOption="$t('main.global.forms.labels.status')"
                :options="statusList"
                :error="errors.status_id"
                @change="clearValidation('status_id')"
            ></Selector>
        </div>
        <div class="single-field mb-16">
            <Selector
                v-model="estimate.payment_method"
                :defaultOption="$t('main.global.forms.labels.payment_method')"
                :options="[
                    {'value': 'cash', 'title': $t('main.global.forms.data.cash')},
                    {'value': 'credit_card', 'title': $t('main.global.forms.data.credit_card')},
                    {'value': 'wire_transfer', 'title': $t('main.global.forms.data.wire_transfer')},
                    {'value': 'exchange_goods', 'title': $t('main.global.forms.data.exchange_goods')},
                ]"
                :error="errors.payment_method"
                @change="clearValidation('payment_method')"
            ></Selector>
        </div>
        <h3 class="form-section-title mt-60">{{$t('main.global.forms.head_title.products')}}</h3>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="!isEmpty(chosenProduct) ? 'focused' : ''">
                {{$t('main.global.forms.labels.products')}}
            </span>
            <Multiselect
                :key="`productSelectField-${renderKey}`"
                :value="chosenProduct"
                class="multiselect-field"
                :class="!isEmpty(chosenProduct) ? 'filled' : ''"
                id="product"
                :close-on-select="true"
                :searchable="true"
                label="name"
                valueProp="id"
                :object="true"
                @change="chooseProduct($event); clearProductValidation('products')"
                @clear="resetProductPackage"
                required
                :options="productList"
            />
            <div v-if="errors.estimateProducts.products" class="input-error-message">{{errors.estimateProducts.products[0]}}</div>
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="!isEmpty(productPackage.vat) ? 'focused' : ''">
                {{$t('main.global.table_headers.vat_rate')}}
            </span>
            <Multiselect
                :key="`vatSelectField-${renderKey}`"
                :value="productPackage.vat"
                class="multiselect-field"
                :class="!isEmpty(productPackage.vat) ? 'filled' : ''"
                :close-on-select="true"
                :searchable="true"
                label="vat_name"
                valueProp="id"
                :object="true"
                :options="vatList"
                @change="selectNewVat($event);clearProductValidation('vat')"
            >
            </Multiselect>
            <div v-if="errors.estimateProducts.vat" class="input-error-message">{{errors.estimateProducts.vat[0]}}</div>
        </div>
        <div class="dual-fields mb-16">
            <div class="single-field">
                <NumberInput
                    :key="`productPriceField-${renderKey}`"
                    v-model="productPackage.price"
                    :label="$t('main.global.table_headers.price')"
                    min="0"
                    :error="errors.estimateProducts.price"
                    @input="clearProductValidation('price')"/>
            </div>
            <div class="single-field">
                <NumberInput
                    :key="`productQuantityField-${renderKey}`"
                    v-model="productPackage.quantity"
                    :label="$t('main.global.table_headers.quantity')"
                    min="1"
                    :max="chosenProduct.quantity"
                    :error="errors.estimateProducts.quantity"
                    @input="clearProductValidation('quantity')"/>
            </div>
        </div>
        <div class="product-package-action">
            <span class="product-package-submit" @click="addProductPackage">{{$t('main.global.actions.add_product_package')}}</span>
        </div>
        <div class="mb-16">
            <table class="additional-table">
                <thead>
                <tr>
                    <th>{{ $t('main.global.table_headers.product') }}</th>
                    <th>{{ $t('main.global.table_headers.price') }}</th>
                    <th>{{ $t('main.global.table_headers.unit') }}</th>
                    <th>{{ $t('main.global.table_headers.vat') }}</th>
                    <th>{{ $t('main.global.table_headers.total') }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,i) in estimateProducts">
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.choosen_vat.vat_name}} ({{item.choosen_vat.vat_percentage}} %)</td>
                    <td>{{item.price * item.quantity}}</td>
                    <td>
                        <div class="flex justify-content-end">
                            <button type="button" class="remove-btn" @click="removeEstimateProduct(i)"><svg-icon :fa-icon="faClose" :size="12" flip="horizontal"></svg-icon></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div v-if="errors.products" class="input-error-message">{{errors.products[0]}}</div>
        </div>
        <h3 class="form-section-title mt-60">{{$t('main.global.billing_address')}}</h3>
        <div class="single-field mb-16">
            <TextInput
                v-model="estimate.billing_address.header"
                :label="$t('main.global.forms.labels.header')"
                :error="errors.billingAddress.header"
                @input="clearBillingValidation('header')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="estimate.billing_address.address"
                :label="$t('main.global.forms.labels.address')"

                :error="errors.billingAddress.address"
                @input="clearBillingValidation('address')"
            />
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="estimate.billing_address.country ? 'focused' : ''">
                {{$t('main.global.forms.labels.country')}}
            </span>
            <Multiselect
                :key="`countrySelectField-${renderKey}`"
                class="multiselect-field"
                :class="estimate.billing_address.country ? 'filled' : ''"
                id="country"
                :value="estimate.billing_address.country"
                :close-on-select="true"
                :searchable="true"
                label="name"
                valueProp="name"
                :options="countryList"
            >
            </Multiselect>
            <div v-if="errors.billingAddress.country" class="input-error-message">{{errors.billingAddress.country[0]}}</div>
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="estimate.billing_address.city"
                :label="$t('main.global.forms.labels.city')"
                :error="errors.billingAddress.city"
                @input="clearBillingValidation('city')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="estimate.billing_address.province"
                :label="$t('main.global.forms.labels.province')"
                :error="errors.billingAddress.province"
                @input="clearBillingValidation('province')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="estimate.billing_address.zip_code"
                :label="$t('main.global.forms.labels.zip_code')"
                :error="errors.billingAddress.zip_code"
                @input="clearBillingValidation('zip_code')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="estimate.vat"
                :label="$t('main.global.forms.labels.vat')"
                :error="errors.vat"
                @input="clearValidation('vat')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="estimate.sdi_code"
                :label="$t('main.global.forms.labels.sdi_code')"
                :error="errors.sdi_code"
                @input="clearValidation('sdi_code')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="estimate.mail_pec"
                :label="$t('main.global.forms.labels.mail_pec')"
                :error="errors.mail_pec"
                @input="clearValidation('mail_pec')"
            />
        </div>
        <div class="single-field mb-16">
            <TextArea
                v-model="estimate.notes"
                :label="$t('main.global.forms.labels.notes')"
                :error="errors.notes"
                @input="clearValidation('notes')"
            />
        </div>
    </form>
    <RightDialogFormModal :dialogId="'confirmEstimateCustomerChange'" :width="666" :show="confirmEstimateCustomerChange" @close="confirmEstimateCustomerChange = false" :heading="$t('main.global.warning')">
        <template #form>
            <div class="confirm-details">
                <span class="confirm-icon"><svg-icon :fa-icon="faWarning" :size="20" flip="horizontal"></svg-icon></span>
                <h3 class="confirm-title theme-title">{{ $t('main.global.warning') }}</h3>
                <p class="confirm-text theme-title text-center" v-html="$t('main.global.notifications.confirm_change_customer')"></p>
            </div>
        </template>
        <template #action>
            <div class="flex items-center justify-end">
                <span class="modal-footer-cancel" @click="estimateBillingChanges(0)">{{ $t('main.global.no') }}</span>
                <span class="ml-3 modal-footer-submit" @click="estimateBillingChanges(1)">{{ $t('main.global.yes') }}</span>
            </div>
        </template>
    </RightDialogFormModal>
    <RightDialogFormModal :dialogId="'estimateUpdateCustomerCreateModal'" :width="666" :show="customerCreateModal" @close="customerCreateModal = false" :heading="$t('main.global.actions.create_customer')">
        <template #form>
            <CustomerCreate
                :status="customerCreateModal"
                :submitAction="submitCreateAction"
                @created="getCreatedCustomer"
                @failed="customerCreateFailed"
                @closed="customerCreateModal = false" />
        </template>
        <template #action>
            <div class="flex items-center justify-end">
                <span @click="customerCreateModal = false" class="modal-footer-cancel">
                    {{ $t('main.global.cancel') }}
                </span>
                <span v-if="!actionLoader" class="ml-3 modal-footer-submit" @click="submitCreateAction = true">
                    {{ $t('main.global.create') }}
                </span>
                <button v-else class="ml-3 modal-footer-submit" type="button" disabled>
                    <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                    {{ $t('main.global.loading') }}
                </button>
            </div>
        </template>
    </RightDialogFormModal>
</template>
