<script setup>
import {computed, onMounted, reactive, ref, watch} from 'vue';
import TextInput from '@/Components/TextInput.vue'
import NumberInput from '@/Components/NumberInput.vue'
import TextArea from '@/Components/TextArea.vue';
import Selector from '@/Components/Selector.vue';
import {isArray} from "lodash";
import {useStore} from "vuex";

const store = useStore()

const props = defineProps({
    submitAction: {
        type: Boolean,
        default: false
    },
    status: {
        type: Boolean,
        default: false,
    },
});

const unitMeasurement = computed(() => {
    return  store.getters["selector/typesWithOptions"]
})

let createFormData = new FormData();
let previewMaterialImage = ref(null)
let newMaterial = reactive({
    title: '',
    quantity: 0,
    unit_measure: '',
    unit_measure_id: '',
    notes: '',
    identification_code: '',
});
let clearMaterial = reactive({
    title: '',
    quantity: 0,
    unit_measure: '',
    unit_measure_id: '',
    notes: '',
    identification_code: '',
});
const errors = reactive({
    title: '',
    quantity: '',
    unit_measure: '',
    unit_measure_id: '',
    notes: '',
    identification_code: '',
    photo: '',
})

const emits = defineEmits(['created', 'failed', 'closed'])

const changeCreateHandler = (e) => {
    previewMaterialImage.value = null
    const files = e.target.files
    if(files.length){
        const fileReader = new FileReader();
        fileReader.onload = event => {
            previewMaterialImage.value = {'path': event.target.result, 'file': files[0]}
        }
        fileReader.readAsDataURL(files[0]);
    }
}

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        props.submitAction = false
        createMaterial()
    }
});

watch(() => props.status, () => {
    if (props.status) {
        previewMaterialImage.value = null
        createFormData.forEach(function(val, key){
            createFormData.delete(key)
        });
        newMaterial = clearMaterial
    }
});

const createMaterial = async () => {
    createFormData.append('title', newMaterial.title)
    createFormData.append('quantity', newMaterial.quantity)
    createFormData.append('unit_measure', newMaterial.unit_measure.value)
    createFormData.append('unit_measure_id', newMaterial.unit_measure.id)
    createFormData.append('identification_code', newMaterial.identification_code)
    createFormData.append('notes', newMaterial.notes)

    if(previewMaterialImage.value){
        createFormData.append('photo', previewMaterialImage.value['file'])
    }

    await axios.post(route('material.store'), createFormData, {
        headers: {
            "Content-Type": "multipart/form-data",
        }})
        .then((response) => {
            emits('created', response.data)
        })
        .catch((error) => {
            showValidations(error)
            emits('failed', error)
        })
}

const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
}

const clearValidation = (val) => {
    errors[val] = null
}
</script>
<template>
    <form @submit.prevent="createMaterial">
        <div class="single-field mb-16">
            <TextInput
                v-model="newMaterial.title"
                :label="$t('main.global.forms.labels.title')"
                :error="errors.title"
                @input="clearValidation('title')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newMaterial.identification_code"
                :label="$t('main.global.forms.labels.identification_code')"
                :error="errors.identification_code"
                @input="clearValidation('identification_code')"
            />
        </div>
        <div class="single-field mb-16">
            <Selector
                :key="statusKey +'unitMeasure'"
                v-model="newMaterial.unit_measure"
                :defaultOption="$t('main.global.forms.labels.unit_measure')"
                :options="unitMeasurement.data"
                :isObject="true"
                :favorite="true"
                :grouping="true"
                :error="errors.unit_measure"
                @change="clearValidation('unit_measure')"
            ></Selector>
        </div>
        <div class="single-field mb-16">
            <NumberInput
                v-model="newMaterial.quantity"
                :label="$t('main.global.forms.labels.initial_quantity')"
                min="0"
                :error="errors.quantity"
                @input="clearValidation('quantity')"/>
        </div>
        <div class="single-field mb-16">
            <div class="upload-box">
                <h3>{{$t('main.global.forms.labels.photo')}}</h3>
                <label :for="`customerNewProfileImage${status ? 1 : 0}`">
                    <span v-if="!previewMaterialImage" class="upload-choose-btn"><i class="fa fa-plus"></i></span>
                    <span v-else class="selected-main-image-change-btn">{{$t('main.global.change')}}</span>
                </label>
                <input type="file" class="hidden" :id="`customerNewProfileImage${status ? 1 : 0}`" @change="changeCreateHandler($event)"  />
            </div>
            <div class="upload-box-preview" v-if="previewMaterialImage">
                <div class="upload-box-preview-image">
                    <img :src="previewMaterialImage.path">
                </div>
            </div>
            <div v-if="errors.photo" class="input-error-message">{{errors.photo[0]}}</div>
        </div>
        <div class="single-field mb-16">
            <TextArea
                v-model="newMaterial.notes"
                :label="$t('main.global.forms.labels.description')"
                :error="errors.notes"
                @input="clearValidation('notes')"
            />
        </div>
    </form>
</template>

