<script setup>
import {computed, onMounted, reactive, ref} from 'vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import { faClose } from "@fortawesome/free-solid-svg-icons";
import DialogModal from '@/Components/DialogModal.vue';
import CustomerCreate from "@/Components/Forms/CustomerCreate.vue";
import Multiselect from '@vueform/multiselect';
import {isArray} from "lodash";
import {useStore} from "vuex";
import {usePage} from "@inertiajs/vue3";

const store = useStore()
const emits = defineEmits(['create', 'failed', 'close'])

const customerList = computed(() => {
    return store.getters["customer/customerList"]
})

const productList = computed(() => {
    return store.getters["product/productList"]
})

const authUser = usePage().props.auth.user

let newEstimate = reactive({
    payment_method: null,
    status: 'created',
    customer_id: null,
});
let estimateProducts = reactive([]);
let customerCreateModal = ref(false);

const errors = reactive({
    payment_method: '',
    status: '',
    customer_id: '',
    user_id: '',
    estimate_id: '',
    discount: '',
    due_date: ''
})

/*****METHODS*****/
onMounted(async () => {
    await store.dispatch('customer/getCustomerList')
    await store.dispatch('product/getProductList')
})

const createEstimate = async () => {
    let data = {};
    Object.assign(data,newEstimate)
    data.products = estimateProducts

    await axios.post(route('estimate.store'), data)
        .then((response) => {
            newEstimate = {}
            estimateProducts = []
            emits('create')
        })
        .catch((error) => {
            emits('failed')
            Object.assign(errors, error.response.data.errors)
        })
}

const removeEstimateProduct = (key) => {
    estimateProducts.splice(key, 1)
}

const getCreatedCustomer = async (data) => {
    await store.dispatch('customer/getCustomerList')
    newEstimate.customer_id = data.id
    customerCreateModal.value = false
}

const chooseProduct = (event) => {
    let check = null
    if(estimateProducts.length && event){
        check = estimateProducts.find(item => item.products === event.id)
    }
    if(!check && event){
        estimateProducts.push({
            products: event.id,
            name: event.name,
            quantity: 1,
            price: 0
        })
    }


}

const closeModal = () => {
    emits('close')
}

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<template>
    <div class="form-outher">
        <form @submit.prevent="createEstimate">
            <div class="single-field">
                <InputLabel for="payment" :value="$t('main.global.forms.labels.payment_method')" class="theme-title" />
                <select id="payment" class="mt-1 block w-full theme-input" v-model="newEstimate.payment_method" required>
                    <option value="cash">{{ $t('main.global.forms.data.cash') }}</option>
                    <option value="credit_card">{{ $t('main.global.forms.data.credit_card') }}</option>
                    <option value="wire_transfer">{{ $t('main.global.forms.data.wire_transfer') }}</option>
                    <option value="exchange_goods">{{ $t('main.global.forms.data.exchange_goods') }}</option>
                </select>
                <InputError class="mt-2" :message="showError(errors.name)" />
            </div>
            <div class="dual-fields mt-4">
                <div class="single-field">
                    <InputLabel for="customer" :value="$t('main.global.forms.labels.customer')" class="theme-title" />
                    <Multiselect
                        class="multiselect-input"
                        id="customer"
                        v-model="newEstimate.customer_id"
                        :close-on-select="true"
                        :searchable="true"
                        label="name"
                        valueProp="id"
                        required
                        :options="customerList"
                    >
                        <template v-slot:option="{ option }">
                            <option value="{{ option.id }}">{{ option.name }} {{ option.surname }}</option>
                        </template>
                    </Multiselect>
                    <InputError class="mt-2" :message="showError(errors.name)" />
                </div>
                <div class="single-field">
                    <p></p>
                    <span type="button" class="ml-4 modal-footer-submit" @click="customerCreateModal = true">{{ $t('main.global.actions.create_customer') }}</span>
                </div>
            </div>
            <div class="single-field mt-4">
                <InputLabel for="product" :value="$t('main.global.forms.labels.products')" class="theme-title" />
                <Multiselect
                    class="multiselect-input"
                    id="product"
                    :close-on-select="true"
                    :searchable="true"
                    label="name"
                    valueProp="id"
                    :object="true"
                    @change="chooseProduct($event)"
                    required
                    :options="productList"
                />
                <InputError class="mt-2" :message="showError(errors.name)" />
            </div>
            <div class="mt-4">
                <table class="additional-table">
                    <tr>
                        <th>{{ $t('main.global.table_headers.product')}}</th>
                        <th>{{ $t('main.global.table_headers.price')}}</th>
                        <th>{{ $t('main.global.table_headers.action')}}</th>
                    </tr>
                    <tr v-for="(item,i) in estimateProducts">
                        <td>{{item.name}}</td>
                        <td class="additional-table-price">
                            <div>
                                <input type="number" class="theme-input" min="0" v-model="item.price">
                            </div>
                        </td>
                        <td class="additional-table-price">
                            <div>
                                <input type="number" class="theme-input" min="1" v-model="item.quantity">
                            </div>
                        </td>
                        <td class="additional-table-action">
                            <div>
                                <button class="remove-btn" @click="removeEstimateProduct(i)"><svg-icon :fa-icon="faClose" :size="12" flip="horizontal"></svg-icon></button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="flex items-center justify-end mt-4">
                <span class="modal-footer-cancel" @click="closeModal">
                    {{ $t('main.global.cancel') }}
                </span>

                <span
                    class="ml-3 modal-footer-submit"
                    @click="createEstimate"
                >
                    {{ $t('main.global.create') }}
                </span>
            </div>
        </form>
    </div>
    <DialogModal :show="customerCreateModal" @close="customerCreateModal = false">
        <template #title>
            <span class="theme-title">{{ $t('main.global.actions.create_customer')}}</span>
        </template>

        <template #content>
            <CustomerCreate @create="getCreatedCustomer" @close="customerCreateModal = false"/>
        </template>
    </DialogModal>
</template>
