<script setup>
import Swal from "sweetalert2";
import {trans} from "laravel-vue-i18n";
import {reactive, ref, watch} from "vue";
import {isArray} from "lodash";
import Selector from '@/Components/Selector.vue';
import NumberInput from '@/Components/NumberInput.vue'
import InputLabel from '@/Components/InputLabel.vue'
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';

const props = defineProps({
    submitAction: {
        type: Boolean,
        default: false
    },
    actionLoader: {
        type: Boolean,
        default: false
    },
    orderId: {
        type: Number,
        default: null
    }
})

const emits = defineEmits(['generated', 'failed', 'loader'])

let orderInvoice = reactive({
    due_date: null,
    due_date_type: 0,
    discount: 0,
    discount_type: 'float',
    custom_date: null
});

const config = ref({
    wrap: true,
    altFormat: 'M j, Y',
    altInput: true,
    dateFormat: 'Y-m-d',
    minDate: new Date()
});

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        generateInvoice()
    }
});

const pickDate = () => {
    const now = new Date();
    const chosenDate = new Date(orderInvoice.custom_date);
    const diffTime = Math.abs(chosenDate - now);
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
    orderInvoice.due_date = diffDays
}

const generateInvoice = async () => {
    emits('loader')
    if(orderInvoice.due_date_type !== 'custom'){
        orderInvoice.due_date = orderInvoice.due_date_type
    }
    let data = {
        order_id: props.orderId,
        due_date: orderInvoice.due_date,
        discount_type: orderInvoice.discount_type,
        discount: orderInvoice.discount
    }
    await axios.post(route('invoice.generate', data))
        .then((response) => {
            emits('generated', response)
            emits('loader')
        })
        .catch((error) => {
            emits('failed', error)
            emits('loader')
        })
}
</script>
<template>
    <form @submit.prevent="generateInvoice">
        <div class="single-field mb-16" :style="{width: orderInvoice.due_date_type !== 'custom' ? '100%!important' : ''}">
            <Selector
                v-model="orderInvoice.due_date_type"
                defaultOption="Choose Due Date"
                :options="[
                {'value': '0', 'title': $t('main.global.today')},
                {'value': '7', 'title': 7 + ' ' + $t('main.global.days')},
                {'value': '15', 'title': 15 + ' ' + $t('main.global.days')},
                {'value': '30', 'title': 30 + ' ' + $t('main.global.days')},
                {'value': '60', 'title': 60 + ' ' + $t('main.global.days')},
                {'value': 'custom', 'title': $t('main.global.custom')},
            ]"
            ></Selector>
        </div>
        <div class="single-field mb-16" v-if="orderInvoice.due_date_type === 'custom'">
            <InputLabel for="dueDate" :value="$t('main.global.forms.labels.custom_due_date')" class="theme-title" />
            <flat-pickr
                v-model="orderInvoice.custom_date"
                :config="config"
                placeholder="Select date"
                class="flat-picker-field"
                :class="orderInvoice.custom_date ? 'filled' : ''"
                @on-change="pickDate()"/>
        </div>
        <div class="dual-fields mb-16">
            <div class="single-field">
                <Selector
                    v-model="orderInvoice.discount_type"
                    defaultOption="Choose Discount type"
                    :options="[
                        {'value': 'float', 'title': $t('main.global.forms.data.float')},
                        {'value': 'percentage', 'title': $t('main.global.forms.data.percentage')},
                    ]"
                ></Selector>
            </div>
            <div class="single-field">
                <NumberInput
                    label="Discount"
                    v-model="orderInvoice.discount"
                    :max="orderInvoice.discount_type === 'percentage' ? 100 : false"
                />
            </div>
        </div>
    </form>
</template>
