<script setup>

import {computed, reactive, watch} from "vue";
import TextInput from '@/Components/TextInput.vue'
import Multiselect from '@vueform/multiselect'
import {useStore} from "vuex";
import NumberInput from "@/Components/NumberInput.vue";

const store = useStore()

const props = defineProps({
    status: {
        type: Boolean,
        default: false
    },
    submitAction: {
        type: Boolean,
        default: false,
    },
    customerId: {
        type: Number,
        default: null
    },
    location: {
        type: Object,
        default: {}
    }
})

const emits = defineEmits(['failed', 'created', 'updated', 'deleted'])


const countryList = computed(() => {
    return store.getters["country/countryList"]
})

let newLocation = reactive({
    address: null,
    city: null,
    zip_code: null,
    email: null,
    phone: null,
    country_id: null,
    customer_id: null
})
const clearLocation = reactive({
    address: null,
    city: null,
    zip_code: null,
    email: null,
    phone: null,
    country_id: null,
    customer_id: null
})

const errors = reactive({
    address: null,
    city: null,
    zip_code: null,
    email: null,
    phone: null,
    country_id: null,
    customer_id: null
})

watch(() => props.status, async () => {
    if (props.status) {
        await store.dispatch('country/getCountryList')
    }
});
watch(() => props.submitAction, () => {
    if (props.submitAction) {
        updateLocation()
    }
});

const clearValidation = (val) => {
    errors[val] = null
}

const updateLocation = async () => {
    let data = {
        address: props.location.address,
        city: props.location.city,
        zip_code: props.location.zip_code,
        email: props.location.email,
        phone: props.location.phone,
        country_id: props.location.country_id,
        customer_id: props.location.customer_id
    };
    await axios.put(route('location.update',  props.location.id),data)
        .then((response) => {
            // orderConverted.value = false
            emits('updated', response.data)
        })
        .catch((error) => {
            showValidations(error)
            emits('failed', error)
        })
};


const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
}

</script>

<template>
    <form @submit.prevent="updateLocation">
        <div class="single-field mb-16">
            <TextInput
                v-model="location.address"
                :label="$t('main.global.forms.labels.address')"
                :error="errors.address"
                @input="clearValidation('address')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="location.city"
                :label="$t('main.global.forms.labels.city')"
                :error="errors.city"
                @input="clearValidation('city')"
            />
        </div>
        <div class="single-field mb-16">
            <NumberInput
                v-model="location.zip_code"
                :label="$t('main.global.forms.labels.zip_code')"
                :error="errors.zip_code"
                @input="clearValidation('zip_code')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="location.email"
                :label="$t('main.global.forms.labels.email')"
                :error="errors.email"
                @input="clearValidation('email')"
            />
        </div>
        <div class="single-field mb-16">
            <NumberInput
                v-model="location.phone"
                :label="$t('main.global.forms.labels.phone')"
                :error="errors.phone"
                @input="clearValidation('phone')"
            />
        </div>
        <div class="multiselect-single-field mb-16" v-if="location && location.country">
            <span class="selector-label" :class="location.country_id ? 'focused' : ''">
                {{$t('main.global.forms.labels.country')}}
            </span>
            <Multiselect
                class="multiselect-field"
                :class="location.country_id ? 'filled' : ''"
                v-model="location.country_id"
                :close-on-select="true"
                :searchable="true"
                label="name"
                valueProp="id"
                :options="countryList"
                @change="clearValidation('country_id')"
            >
            </Multiselect>
            <div v-if="errors.country_id" class="input-error-message">{{errors.country_id[0]}}</div>
        </div>
    </form>
</template>

