<script setup>

import {computed, reactive, watch} from "vue";
import TextInput from '@/Components/TextInput.vue'
import {useStore} from "vuex";
import NumberInput from "@/Components/NumberInput.vue";
import TextArea from "@/Components/TextArea.vue";

const store = useStore()

const props = defineProps({
    status: {
        type: Boolean,
        default: false
    },
    submitAction: {
        type: Boolean,
        default: false,
    },
    customerId: {
        type: Number,
        default: null
    },
    people: {
        type: Object,
        default: {}
    }
})

const emits = defineEmits(['failed', 'created', 'updated', 'deleted'])

const errors = reactive({
    name: null,
    location: null,
    email: null,
    phone: null,
    notes: null,
    customer_id: null
})

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        updatePeople()
    }
});

const clearValidation = (val) => {
    errors[val] = null
}

const updatePeople = async () => {
    let data = {
        name: props.people.name,
        location: props.people.location,
        email: props.people.email,
        phone: props.people.phone,
        notes: props.people.notes,
        customer_id: props.customerId
    };
    await axios.put(route('people.update',  props.people.id),data)
        .then((response) => {
            // orderConverted.value = false
            emits('updated', response.data)
        })
        .catch((error) => {
            showValidations(error)
            emits('failed', error)
        })
};


const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
}

</script>

<template>
    <form @submit.prevent="updatePeople">
        <div class="single-field mb-16">
            <TextInput
                v-model="people.name"
                :label="$t('main.global.forms.labels.name')"
                :error="errors.name"
                @input="clearValidation('name')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="people.location"
                :label="$t('main.global.forms.labels.location')"
                :error="errors.location"
                @input="clearValidation('location')"
            />
        </div>
        <div class="single-field mb-16">
            <NumberInput
                v-model="people.phone"
                :label="$t('main.global.forms.labels.phone')"
                :error="errors.phone"
                @input="clearValidation('phone')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="people.email"
                :label="$t('main.global.forms.labels.email')"
                :error="errors.email"
                @input="clearValidation('email')"
            />
        </div>
        <div class="single-field mb-16">
            <TextArea
                v-model="people.notes"
                :label="$t('main.global.forms.labels.notes')"
                :error="errors.notes"
                @input="clearValidation('notes')"
            />
        </div>
    </form>
</template>

