<script setup>

import {computed, reactive, watch} from "vue";
import TextInput from '@/Components/TextInput.vue'
import {useStore} from "vuex";
import NumberInput from "@/Components/NumberInput.vue";
import TextArea from "@/Components/TextArea.vue";

const store = useStore()

const props = defineProps({
    status: {
        type: Boolean,
        default: false
    },
    submitAction: {
        type: Boolean,
        default: false,
    },
    customerId: {
        type: Number,
        default: null
    }
})

const emits = defineEmits(['failed', 'created', 'updated', 'deleted'])

let newPeople = reactive({
    name: null,
    location: null,
    email: null,
    phone: null,
    notes: null,
    customer_id: null
})
const clearPeople = reactive({
    name: null,
    location: null,
    email: null,
    phone: null,
    notes: null,
    customer_id: null
})

const errors = reactive({
    name: null,
    location: null,
    email: null,
    phone: null,
    notes: null,
    customer_id: null
})

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        createPeople()
    }
});

const clearValidation = (val) => {
    errors[val] = null
}

const createPeople = () => {
    newPeople.customer_id = props.customerId
    axios.post(route('people.store'), newPeople)
        .then(responce => {
            newPeople = clearPeople
            emits('created')
        })
        .catch(error => {
            showValidations(error)
            emits('failed', error)
        })
}

const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
}

</script>

<template>
    <form @submit.prevent="createPeople">
        <div class="single-field mb-16">
            <TextInput
                v-model="newPeople.name"
                :label="$t('main.global.forms.labels.name')"
                :error="errors.name"
                @input="clearValidation('name')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newPeople.location"
                :label="$t('main.global.forms.labels.location')"
                :error="errors.location"
                @input="clearValidation('location')"
            />
        </div>
        <div class="single-field mb-16">
            <NumberInput
                v-model="newPeople.phone"
                :label="$t('main.global.forms.labels.phone')"
                :error="errors.phone"
                @input="clearValidation('phone')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newPeople.email"
                :label="$t('main.global.forms.labels.email')"
                :error="errors.email"
                @input="clearValidation('email')"
            />
        </div>
        <div class="single-field mb-16">
            <TextArea
                v-model="newPeople.notes"
                :label="$t('main.global.forms.labels.notes')"
                :error="errors.notes"
                @input="clearValidation('notes')"
            />
        </div>
    </form>
</template>

