<script setup>
import {computed, reactive, ref, watch} from 'vue';
import TextInput from '@/Components/TextInput.vue'
import Multiselect from '@vueform/multiselect'
import {isArray} from "lodash";
import {useStore} from "vuex";

const props = defineProps({
    status: {
        type: Boolean,
        default: false,
    },
    submitAction: {
        type: Boolean,
        default: false
    },
    supplier: {
        type: Object,
        default: {}
    },
    type: {
        type: String,
        default: 'modal'
    }
});

const store = useStore()
const emits = defineEmits(['updated', 'failed', 'closed'])

let editableSupplier = reactive(props.supplier)
let formData = new FormData();
let choosenVat = ref({})
let previewProfileImage = ref(null)
let countryKey = ref(0)


const countryList = computed(() => {
    return store.getters["country/countryList"]
})

const errors = reactive({
    name: '',
    surname: '',
    email: '',
    address: '',
    mobile_phone: '',
    phone: '',
    country_id: '',
})

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        props.submitAction = false
        updateSupplier()
    }
});

watch(() => props.status, async () => {
    if (props.status) {
        await store.dispatch('country/getCountryList')
        countryKey.value++
    }
});

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

const closeModal = () => {
    emits('closed')
}

const updateSupplier = async () => {
    for(let key in editableSupplier){
        if(key !== 'avatar' && editableSupplier[key]){
            formData.append(key, editableSupplier[key])
        }
    }
    if(previewProfileImage.value){
        formData.append('avatar', previewProfileImage.value['file'])
    }
    formData.append('_method', "PUT")
    await axios.post(route('supplier.update', editableSupplier.id), formData, {
        headers: {
            "Content-Type": "multipart/form-data",
        }
    })
        .then((response) => {
            emits('updated', response.data)
        })
        .catch((error) => {
            showValidations(error)
            emits('failed', error)
        })
}

const changeCreateHandler = (e) => {
    previewProfileImage.value = null
    const files = e.target.files
    for(let key in files) {
        const fileReader = new FileReader();
        fileReader.onload = event => {
            previewProfileImage.value = {'path': event.target.result, 'file': files[key]}
        }
        fileReader.readAsDataURL(files[key]);
    }
}

const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
}

const clearValidation = (val) => {
    errors[val] = null
}
</script>
<template>
    <form @submit.prevent="updateSupplier">
        <div class="single-field mb-16">
            <TextInput
                v-model="editableSupplier.name"
                :label="$t('main.global.forms.labels.name')"
                :error="errors.name"
                @input="clearValidation('name')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableSupplier.surname"
                :label="$t('main.global.forms.labels.surname')"
                :error="errors.surname"
                @input="clearValidation('surname')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableSupplier.email"
                :label="$t('main.global.forms.labels.email')"
                :error="errors.email"
                @input="clearValidation('email')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableSupplier.address"
                :label="$t('main.global.forms.labels.address')"
                :error="errors.address"
                @input="clearValidation('address')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableSupplier.mobile_phone"
                :label="$t('main.global.forms.labels.mobile_phone')"
                :error="errors.mobile_phone"
                @input="clearValidation('mobile_phone')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="editableSupplier.phone"
                :label="$t('main.global.forms.labels.phone')"
                :error="errors.phone"
                @input="clearValidation('phone')"
            />
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="editableSupplier.country_id ? 'focused' : ''">
                {{$t('main.global.forms.labels.country')}}
            </span>
            <Multiselect
                :key="countryKey"
                class="multiselect-field"
                :class="choosenVat ? 'filled' : ''"
                v-model="editableSupplier.country_id"
                :close-on-select="true"
                :searchable="true"
                label="name"
                valueProp="id"
                required
                :options="countryList"
            >
            </Multiselect>
            <div v-if="errors.country_id" class="input-error-message">{{errors.country_id[0]}}</div>
        </div>
        <div class="single-field mb-16">
            <div class="upload-box">
                <h3>{{$t('main.global.forms.labels.profile_image')}}</h3>
                <label for="updateMainImage">
                    <span v-if="!editableSupplier.avatar && !previewProfileImage" class="upload-choose-btn"><i class="fa fa-plus"></i></span>
                    <span v-else class="selected-main-image-change-btn">{{$t('main.global.change')}}</span>
                </label>
                <input type="file" class="hidden" id="updateMainImage" @change="changeCreateHandler($event)"  />
            </div>
            <div class="upload-box-preview" v-if="previewProfileImage || editableSupplier.avatar">
                <div class="upload-box-preview-image">
                    <img v-if="previewProfileImage" :src="previewProfileImage.path">
                    <img v-else-if="editableSupplier.avatar" :src="'/storage/' + editableSupplier.avatar">
                </div>
            </div>
            <div v-if="errors.avatar" class="input-error-message">{{errors.avatar[0]}}</div>
        </div>
    </form>

</template>
