<script setup>
import {computed, reactive, ref, watch} from 'vue';
import TextInput from '@/Components/TextInput.vue'
import Multiselect from '@vueform/multiselect'
import {isArray} from "lodash";
import {useStore} from "vuex";


const store = useStore()

const props = defineProps({
    status: {
        type: Boolean,
        default: false,
    },
    submitAction: {
        type: Boolean,
        default: false
    },
});

const countryList = computed(() => {
    return store.getters["country/countryList"]
})

let createFormData = new FormData();
let previewProfileImage = ref(null)
let choosen_vat = ref(null)
let newSupplier = reactive({
    name: '',
    surname: '',
    email: '',
    address: '',
    mobile_phone: '',
    phone: '',
    country_id: '',
    avatar: null,
});
let clearSupplier = reactive({
    name: '',
    surname: '',
    email: '',
    address: '',
    mobile_phone: '',
    phone: '',
    country_id: '',
    avatar: null,
});
const errors = reactive({
    name: '',
    surname: '',
    email: '',
    address: '',
    mobile_phone: '',
    phone: '',
    country_id: '',
    avatar: '',
})

watch(() => props.status, async () => {
    if (props.status) {
        await store.dispatch('country/getCountryList')
    }
});

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        props.submitAction = false
        createSupplier()
    }
});

const emits = defineEmits(['created', 'failed', 'closed'])

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

const closeModal = () => {
    emits('close')
}


const changeCreateHandler = (e) => {
    previewProfileImage.value = null
    const files = e.target.files
    if(files.length){
        const fileReader = new FileReader();
        fileReader.onload = event => {
            previewProfileImage.value = {'path': event.target.result, 'file': files[0]}
        }
        fileReader.readAsDataURL(files[0]);
    }
}

const createSupplier = async () => {
    for(let key in newSupplier){
        if(key !== 'avatar' && newSupplier[key] !== 'null'){
            createFormData.append(key, newSupplier[key])
        }
    }
    if(previewProfileImage.value){
        createFormData.append('avatar', previewProfileImage.value['file'])
    }
    await axios.post(route('supplier.store'), createFormData, {
        headers: {
            "Content-Type": "multipart/form-data",
        }
    })
        .then((response) => {
            resetFields()
            emits('created', response.data)
            newSupplier = {}
        })
        .catch((error) => {
            showValidations(error)
            emits('failed', error)
        })
}

const resetFields = () => {
    createFormData.forEach(function(val, key){
        createFormData.delete(key)
    });
    newSupplier = clearSupplier
}

const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
}

const clearValidation = (val) => {
    errors[val] = null
}

</script>
<template>
    <form @submit.prevent="createSupplier">
        <div class="single-field mb-16">
            <TextInput
                v-model="newSupplier.name"
                :label="$t('main.global.forms.labels.name')"
                :error="errors.name"
                @input="clearValidation('name')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newSupplier.surname"
                :label="$t('main.global.forms.labels.surname')"
                :error="errors.surname"
                @input="clearValidation('surname')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newSupplier.email"
                :label="$t('main.global.forms.labels.email')"
                :error="errors.email"
                @input="clearValidation('email')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newSupplier.address"
                :label="$t('main.global.forms.labels.address')"
                :error="errors.address"
                @input="clearValidation('address')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newSupplier.mobile_phone"
                :label="$t('main.global.forms.labels.mobile_phone')"
                :error="errors.mobile_phone"
                @input="clearValidation('mobile_phone')"
            />
        </div>
        <div class="single-field mb-16">
            <TextInput
                v-model="newSupplier.phone"
                :label="$t('main.global.forms.labels.phone')"
                :error="errors.phone"
                @input="clearValidation('phone')"
            />
        </div>
        <div class="multiselect-single-field mb-16">
            <span class="selector-label" :class="newSupplier.country_id ? 'focused' : ''">
                {{$t('main.global.forms.labels.country')}}
            </span>
            <Multiselect
                class="multiselect-field"
                :class="newSupplier.country_id ? 'filled' : ''"
                v-model="newSupplier.country_id"
                :close-on-select="true"
                :searchable="true"
                label="name"
                valueProp="id"
                required
                :options="countryList"
                @change="clearValidation('country_id')"
            >
            </Multiselect>
            <div v-if="errors.country_id" class="input-error-message">{{errors.country_id[0]}}</div>
        </div>
        <div class="single-field mb-16">
            <div class="upload-box">
                <h3>{{$t('main.global.forms.labels.profile_image')}}</h3>
                <label :for="`customerNewProfileImage${status ? 1 : 0}`">
                    <span v-if="!previewProfileImage" class="upload-choose-btn"><i class="fa fa-plus"></i></span>
                    <span v-else class="selected-main-image-change-btn">{{$t('main.global.change')}}</span>
                </label>
                <input type="file" class="hidden" :id="`customerNewProfileImage${status ? 1 : 0}`" @change="changeCreateHandler($event)"  />
            </div>
            <div class="upload-box-preview" v-if="previewProfileImage">
                <div class="upload-box-preview-image">
                    <img :src="previewProfileImage.path">
                </div>
            </div>
            <div v-if="errors.avatar" class="input-error-message">{{errors.avatar[0]}}</div>
        </div>
    </form>
</template>
