<script setup>
import {computed, onMounted, reactive, ref, watch} from 'vue';
import Multiselect from '@vueform/multiselect'
import NumberInput from '@/Components/TextInput.vue'
import TextArea from '@/Components/TextArea.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import {isArray} from "lodash";
import {useStore} from "vuex";

const store = useStore()

const props = defineProps({
    submitAction: {
        type: Boolean,
        default: false
    },
    status: {
        type: Boolean,
        default: false
    }
})

let warehouseFields = ref([
    {
        quantity: 1,
        unit_measure: 'pcs',
        notes: '',
        type: 'load',
        stockable_type: 'product',
        stockable_id: null,
        data: {}
    }
])

let warehouseDefaultFields = ref([
    {
        quantity: 1,
        unit_measure: 'pcs',
        notes: '',
        type: 'load',
        stockable_type: 'product',
        stockable_id: null,
        data: {}
    }
])

const errors = reactive({
    stock: {}
})

const productList = computed(() => {
    return store.getters["product/productList"]
})

const materialList = computed(() => {
    return store.getters["material/materialList"]
})

watch(() => props.status, async () => {
    if (props.status) {
        await store.dispatch('product/getProductList')
        await store.dispatch('material/getMaterialList')
    }
});

watch(() => props.submitAction, () => {
    if (props.submitAction) {
        props.submitAction = false
        createWarehouse()
    }
});

const emits = defineEmits(['created', 'failed', 'closed'])

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

const closeModal = () => {
    emits('closed')
}

const createWarehouse = async () => {
    let data = {
        warehouse: warehouseFields.value,
    }

    await axios.post(route('warehouse.multiStore'), data)
        .then((response) => {
            emits('created')
            data = {}
            warehouseFields.value = warehouseDefaultFields.value
        })
        .catch((error) => {
            showValidations(error)
            console.log(error, 'asdasdasd')
            emits('failed', error)
        })
}
const appendFields = () => {
    warehouseFields.value.push(
        {
            quantity: 1,
            notes: '',
            type: 'load',
            stockable_type: 'product',
            stockable_id: null,
        }
    )
}
const removeFields = (key) => {
    warehouseFields.value.splice(key, 1)
}

const showValidations = (error) => {
    Object.assign(errors, error.response.data.errors)
    convertArrayValidation('warehouse', 'stock')
}

const convertArrayValidation = (validationKey, newKey) => {
    errors[newKey] = {}
    for(let item in errors){
        if(item.includes(validationKey)){
            let arr = item.split(".")
            if(arr.length === 3){
                if(!errors[newKey].hasOwnProperty(arr[1])){
                    Object.assign(errors[newKey], {[arr[1]]: {[arr[2]] : errors[item][0]}})
                }else{
                    Object.assign(errors[newKey][arr[1]], {[arr[2]] : errors[item][0]})
                }
            }else if(arr.length === 2){
                Object.assign(errors[newKey], {[arr[1]] : errors[item][0]})
            }

            delete errors[item]
        }
    }
}

const clearValidation = (val) => {
    errors[val] = null
}

const clearStockValidation = (val, key) => {
    if(errors['stock'][key]){
        errors['stock'][key][val] = ''
    }
}

const chooseData = (key) => {
    console.log(warehouseFields.value[key], 'tttt')
    warehouseFields.value[key]['stockable_id'] = warehouseFields.value[key]['data']['id']
    warehouseFields.value[key]['unit_measure'] = warehouseFields.value[key]['data']['unit_measure']
}
</script>
<template>
    <form @submit.prevent="createWarehouse">
        <div class="multiple-group-fields mb-4 mt-4" v-for="(fieldGroup,i) in warehouseFields">
            <pre>{{fieldGroup}}</pre>
            <div class="dual-fields mb-16">
                <div class="single-field">
                    <InputLabel for="itemType" :value="$t('main.global.forms.labels.type')" class="theme-title" />
                    <div class="flex align-items-start">
                        <label class="mr-4 theme-title">
                            <input class="mr-1" type="radio" v-model="fieldGroup.type" value="load">{{ $t('main.global.actions.load') }}
                        </label>
                        <label class="theme-title">
                            <input class="mr-1" type="radio" v-model="fieldGroup.type" value="unload">{{ $t('main.global.actions.unload') }}
                        </label>
                    </div>
                </div>
                <div class="single-field">
                    <InputLabel for="stockableType" :value="$t('main.global.forms.labels.goods_type')" class="theme-title" />
                    <div class="flex align-items-start">
                        <label class="mr-4 theme-title">
                            <input class="mr-1" type="radio" v-model="fieldGroup.stockable_type" @change="fieldGroup.stockable_id = null" value="product">{{ $t('main.global.actions.product') }}
                        </label>
                        <label class="theme-title">
                            <input class="mr-1" type="radio" v-model="fieldGroup.stockable_type" @change="fieldGroup.stockable_id = null" value="material">{{ $t('main.global.actions.raw_material') }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="dual-fields mb-16">
                <div class="multiselect-single-field" v-if="fieldGroup.stockable_type === 'product'">
                    <span class="selector-label" :class="fieldGroup.stockable_id ? 'focused' : ''">
                        {{$t('main.global.forms.labels.product')}}
                    </span>
                    <Multiselect
                        class="multiselect-field"
                        v-model="fieldGroup.data"
                        :close-on-select="true"
                        :searchable="true"
                        label="name"
                        valueProp="id"
                        :object="true"
                        required
                        :options="productList"
                        @change="chooseData(i);clearStockValidation('stockable_id', i)"
                    >
                    </Multiselect>
                    <div v-if="errors['stock'] && errors['stock'][i]" class="input-error-message">{{errors['stock'][i]['stockable_id']}}</div>
                </div>
                <div class="multiselect-single-field" v-else>
                    <span class="selector-label" :class="fieldGroup.stockable_id ? 'focused' : ''">
                        {{$t('main.global.forms.labels.raw_material')}}
                    </span>
                    <Multiselect
                        class="multiselect-field"
                        id="material"
                        v-model="fieldGroup.data"
                        :close-on-select="true"
                        :searchable="true"
                        label="title"
                        valueProp="id"
                        :object="true"
                        required
                        :options="materialList"
                        @change="chooseData(i);clearStockValidation('stockable_id', i)"
                    >
                    </Multiselect>
                    <div v-if="errors['stock'] && errors['stock'][i]" class="input-error-message">{{errors['stock'][i]['stockable_id']}}</div>
                </div>
                <div class="single-field">
                    {{fieldGroup.unit_measure}}
                    <NumberInput
                        v-model="fieldGroup.quantity"
                        :label="$t('main.global.table_headers.quantity')"
                        :error="errors['stock'][i] ? [errors['stock'][i]['quantity']] : ''"
                        @input="clearStockValidation('quantity', i)"
                    />
                </div>
            </div>
            <div class="single-field mb-16">
                <TextArea
                    v-model="fieldGroup.notes"
                    :label="$t('main.global.forms.labels.notes')"
                    :error="errors['stock'][i] ? errors['stock'][i]['notes'] : ''"
                    @input="clearStockValidation('notes', i)"
                />
            </div>
            <div class="remove-group-btn" @click="removeFields(i)">x</div>
        </div>
        <div class="flex multiple-group-fields-btn mb-16">
            <span class="page-workspace-top-side-actions-btn page-workspace-top-side-actions-create mb-4" @click="appendFields">
                <i class="ki-duotone ki-plus">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>  {{ $t('main.global.actions.add_field')}}
            </span>
        </div>
    </form>
</template>

