<script setup>

import { useStore } from 'vuex'
import 'flatpickr/dist/flatpickr.css';
import PageLayout from '@/Layouts/PageLayout.vue'
import SearchList from "@/Components/Tables/SearchList.vue";
import {ref} from "vue";
import {usePage} from "@inertiajs/vue3";

const store = useStore()
const searchResult = usePage().props.result

const breadCrumbs = ref([
    {title: 'Dashboard', link: '/dashboard'},
    {title: 'Search'}
])


</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<template>
    <PageLayout
        :breadCrumbs="breadCrumbs"
        :enableSlotFilter="false"
        :enableSlotSearch="false"
        :enableSlotContent="false"
        :pageTitle="$t('main.dashboard.menu.search', {'search': `${searchResult.search}` })">
        <template #workSpaceDataTable>
            <SearchList :result="searchResult"/>
        </template>
    </PageLayout>
</template>

