<script setup>
    const props = defineProps({
        dataBsAutoClose: {
            type: String,
            default: 'outside'
        },
    });
</script>
<template>
    <div class="metrionic-dropdown">
        <button data-bs-toggle="dropdown" :data-bs-auto-close="dataBsAutoClose">
            <slot name="dropdownIcon"/>
        </button>
        <div class="dropdown-menu dropdown-menu-end smooth-dropdown-menu theme-card">
            <slot name="dropdownBody"/>
        </div>
    </div>
</template>

<style scoped>
.metrionic-dropdown{
    position: relative
}
.smooth-dropdown-menu{
    border: none;
    padding: 0;
    transition: 0.4s;
    transform: translate(0px, 50px);
    border-radius: .475rem;
    min-height: 60px;
}
</style>
