<script setup>
import {ref, watch} from 'vue';

const emit = defineEmits(['close']);

let activeDialog = ref(false)

const props = defineProps({
    dialogId: {
        type: String,
        default: ''
    },
    width: {
        type: Number,
        default: 300
    },
    show: {
        type: Boolean,
    },
    heading: {
        type: String,
        default: ''
    }
});

watch(() => props.show, () => {
    if (props.show) {
        openRightModal(props.dialogId)
        document.body.style.overflow = 'hidden'
    }else{
        document.body.style.overflow = 'auto'
        closeRightModal(props.dialogId)
    }
});

const openRightModal = (id) => {
    let modalDialog = document.getElementById(id);
    modalDialog.style.display = "flex";
    setTimeout(() => {
        activeDialog.value = true
        modalDialog.classList.add("active");
    }, 100)
}

const closeRightModal = (id) => {
    activeDialog.value = false
    let modalDialog = document.getElementById(id);
    modalDialog.classList.remove("active");
    setTimeout(() => {
        modalDialog.style.display = "none";
    }, 300)

    emit('close');
}

</script>
<template>
    <div class="right-side-modal" :id="dialogId" >
        <div class="right-side-modal-cover" @click="closeRightModal(dialogId)"></div>
        <div class="right-side-modal-body" :style="`width: ${width + 'px'};right: ${activeDialog ? '0' : '-' + width + 'px'};`">
            <div class="right-side-modal-heading"><h2>{{heading}}</h2></div>
            <div class="right-side-modal-form">
                <slot name="form" />
            </div>
            <div class="right-side-modal-action">
                <slot name="action" />
            </div>
        </div>
    </div>
</template>
<style scoped>
.right-side-modal{
    display: none;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}
.right-side-modal.active{
    display: flex;
}
.right-side-modal-cover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
.right-side-modal.active .right-side-modal-cover{
    background: rgba(0, 0, 0, .2);
}
.right-side-modal-body{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    background: #FCF7F8;
    height: 100%;
    transition: 0.3s;
    padding: 30px 0 0 40px;
    box-shadow: -2px 4px 6px 0px rgba(0, 0, 0, 0.10);
}
.right-side-modal-heading h2{
    margin-bottom: 24px;
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}
.right-side-modal-form{
    height: calc(100% - 116px);
    overflow-y: auto;
    padding-right: 40px
}
.right-side-modal-action{
    position: relative;
    width: 100%;
    height: 116px;
    padding: 40px 40px 40px 0;
    box-shadow: 0px -15px 20px 0px #fcf7f8;
}
/* width */
.right-side-modal-form::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.right-side-modal-form::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.right-side-modal-form::-webkit-scrollbar-thumb {
    background: #C3BAB3;
    border-radius: 18px;
}

/* Handle on hover */
.right-side-modal-form::-webkit-scrollbar-thumb:hover {
    background: #555;
}
</style>
