<script setup>
import {ref, watch} from 'vue';

const emit = defineEmits(['close']);

let activeDialog = ref(false)

const props = defineProps({
    dialogId: {
        type: String,
        default: ''
    },
    width: {
        type: Number,
        default: 300
    },
    show: {
        type: Boolean,
    }
});

watch(() => props.show, () => {
    if (props.show) {
        openRightModal(props.dialogId)
    }else{
        closeRightModal(props.dialogId)
    }
});

const openRightModal = (id) => {
    let modalDialog = document.getElementById(id);
    modalDialog.style.display = "flex";
    setTimeout(() => {
        activeDialog.value = true
        modalDialog.classList.add("active");
    }, 100)
}

const closeRightModal = (id) => {
    activeDialog.value = false
    let modalDialog = document.getElementById(id);
    modalDialog.classList.remove("active");
    setTimeout(() => {
        modalDialog.style.display = "none";
    }, 300)

    emit('close');
}

</script>
<template>
    <div class="right-side-modal" :id="dialogId" >
        <div class="right-side-modal-cover" @click="closeRightModal(dialogId)"></div>
        <div class="right-side-modal-body" :style="`width: ${width + 'px'};right: ${activeDialog ? '0' : '-' + width + 'px'};`">
            <slot />
        </div>
    </div>
</template>
<style scoped>
.right-side-modal{
    display: none;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
}
.right-side-modal.active{
    display: flex;
}
.right-side-modal-cover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}
.right-side-modal.active .right-side-modal-cover{
    background: rgba(0, 0, 0, .2);
}
.right-side-modal-body{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    background: white;
    height: 100%;
    transition: 0.3s;
}
</style>
