<script setup>
import UpdateCompanyInformationForm from '@/Pages/Profile/Partials/UpdateCompanyInformationForm.vue';
import CompanyMembers from "@/Pages/Profile/Partials/CompanyMembers.vue";
import {usePage} from "@inertiajs/vue3";
import {useStore} from "vuex";
import {computed, onMounted, ref} from "vue";
import PageLayout from "@/Layouts/PageLayout.vue";

const store = useStore()
defineProps({
    confirmsTwoFactorAuthentication: Boolean,
    sessions: Array,
});
const breadCrumbs = ref([
    {title: 'Company'}
])
const authUser = usePage().props.auth.user
const loadContent = ref(false)

const company = computed(() => {
    return store.getters["company/company"]
})

onMounted(async () => {
    await store.dispatch('company/getCompany', authUser.company_id).then(() => {
        loadContent.value = true
    })
})

const checkRole = (role) => {
    return authUser.role.includes(role);
}


</script>

<template>
    <PageLayout
        :pageTitle="$t('main.global.company_settings')"
        :breadCrumbs="breadCrumbs"
        :enableSlotSearch="false"
        :enableSlotFilter="false"
        :enableSlotTable="false"
        :enableSlotContent="false"
        :enableSlotWrapper="true"
        v-if="loadContent">
        <template #workSpaceWrapper>
            <div class="settings-tab-bar">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="company-members-tab" data-bs-toggle="tab" data-bs-target="#company-members" type="button" role="tab" aria-controls="company-members" aria-selected="true">
                            {{ $t('main.global.tab_headers.company_members') }}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="company-settings-tab" data-bs-toggle="tab" data-bs-target="#company-settings" type="button" role="tab" aria-controls="company-settings" aria-selected="false">
                            {{ $t('main.global.tab_headers.company_settings') }}</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="company-members" role="tabpanel" aria-labelledby="company-members-tab">
                    <div>
                        <CompanyMembers :user="$page.props.auth.user" :company="company" />
                    </div>
                </div>
                <div class="tab-pane fade" id="company-settings" role="tabpanel" aria-labelledby="company-settings-tab">
                    <div>
                        <UpdateCompanyInformationForm :user="$page.props.auth.user" :company="company" />
                    </div>
                </div>
            </div>
        </template>
    </PageLayout>
</template>
