<script setup>
import SectionBorder from '@/Components/SectionBorder.vue';
import UpdateCompanyStatusesForm from '@/Pages/Profile/Partials/UpdateCompanyStatusesForm.vue';
import UpdateSalesPipelineForm from '@/Pages/Profile/Partials/UpdateSalesPipelineForm.vue';
import MainLayout from "@/Layouts/MainLayout.vue";
import Dashboard from "@/Pages/Main/Dashboard.vue";
import {computed, onMounted, ref, reactive} from "vue";
import {useStore} from "vuex";
import {usePage} from "@inertiajs/vue3";
import SwichLanguage from "@/Pages/Profile/Partials/SwichLanguage.vue";
import InvoiceNotification from "@/Pages/Profile/Partials/InvoiceNotification.vue";
import PageLayout from "@/Layouts/PageLayout.vue";

const store = useStore()
const authUser = usePage().props.auth.user
defineProps({
    confirmsTwoFactorAuthentication: Boolean,
    sessions: Array,
});

const breadCrumbs = ref([
    {title: 'Company'}
])

const companySettings = computed(() => {
    return  store.getters["settings/companySettings"]
})

const loadContent = ref(false)

onMounted(async () => {
    await store.dispatch('settings/getCompanySettings', authUser.company_id).then(() => {
        loadContent.value = true
    })

})

const updateSettings = async () => {
    await store.dispatch('settings/getCompanySettings', authUser.company_id)
}
</script>

<template>
    <PageLayout
        :pageTitle="$t('main.global.pipeline')"
        :breadCrumbs="breadCrumbs"
        :enableSlotSearch="false"
        :enableSlotFilter="false"
        :enableSlotTable="false"
        :enableSlotContent="false"
        :enableSlotWrapper="true"
        v-if="loadContent">
        <template #workSpaceWrapper>
            <div class="settings-tab-bar">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="delivery-pipeline-tab" data-bs-toggle="tab" data-bs-target="#delivery-pipeline" type="button" role="tab" aria-controls="delivery-pipeline" aria-selected="true">
                            {{ $t('main.global.tab_headers.delivery_pipeline') }}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="sales-pipeline-tab" data-bs-toggle="tab" data-bs-target="#sales-pipeline" type="button" role="tab" aria-controls="sales-pipeline" aria-selected="false">
                            {{ $t('main.global.tab_headers.sales_pipeline') }}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications" type="button" role="tab" aria-controls="notifications" aria-selected="false">
                            {{ $t('main.global.tab_headers.notifications') }}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="other-tab" data-bs-toggle="tab" data-bs-target="#other" type="button" role="tab" aria-controls="other" aria-selected="false">
                            {{ $t('main.global.tab_headers.other') }}</button>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="delivery-pipeline" role="tabpanel" aria-labelledby="delivery-pipeline-tab">
                    <div>
                        <UpdateCompanyStatusesForm :user="$page.props.auth.user" :companyStatuses="companySettings['companyStatuses']" @update="updateSettings" />
                    </div>
                </div>
                <div class="tab-pane fade" id="sales-pipeline" role="tabpanel" aria-labelledby="sales-pipeline-tab">
                    <div>
                        <UpdateSalesPipelineForm :user="$page.props.auth.user" :salesPipelines="companySettings['salesPipelines']" @update="updateSettings" />
                    </div>
                </div>
                <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="other-tab">
                    <div>
                        <InvoiceNotification :user="$page.props.auth.user" :invoiceNotifications="companySettings['invoiceNotifications']" @update="updateSettings"></InvoiceNotification>
                    </div>
                </div>
                <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
                    <div>
                        <SwichLanguage :user="$page.props.auth.user" @update="updateSettings"></SwichLanguage>

                        <SectionBorder />
                    </div>
                </div>
            </div>
        </template>
    </PageLayout>
</template>
