<script setup>
import MainLayout from '@/Layouts/MainLayout.vue';
import {computed, onMounted, ref} from "vue";
import {usePage} from "@inertiajs/vue3";
import {useStore} from "vuex";
import DialogModal from '@/Components/DialogModal.vue';
import CustomerCreate from "@/Components/Forms/CustomerCreate.vue";
import ProductCreate from "@/Components/Forms/ProductCreate.vue";
import InputLabel from '@/Components/InputLabel.vue';
import { useNotification } from "@kyvg/vue3-notification";
import OrderCreate from "@/Components/Forms/OrderCreate.vue";
import EstimateCreate from "@/Components/Forms/EstimateCreate.vue";

const store = useStore()
const { notify}  = useNotification()

defineProps({
    contentSize: {
        type: String,
        default: 'main-content'
    },
    breadCrumbs: {
        type: [],
        default: [{title: 'Dashboard'}]
    },
});

const years = ref([])

const getYearsList = (startYear) => {
    let currentYear = new Date().getFullYear();
    startYear = startYear || 1980;
    while ( startYear <= currentYear ) {
        years.value.push(startYear++);
    }
}

getYearsList(2020)

const companyDashboard = computed(() => {
    return  store.getters["company/companyDashboard"]
})

const chartFilterData = ref({
    id: usePage().props.auth.user.company_id,
    orderYear: new Date().getFullYear(),
    estimateYear: new Date().getFullYear()
})

onMounted(async () => {
    if(route().current('dashboard')){
        await store.dispatch('company/getCompanyDashboard', chartFilterData.value)
        getChartData()
    }
})

const updateChart = async () => {
    await store.dispatch('company/getCompanyDashboard', chartFilterData.value)
    getChartData()
}

const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

let options = {
    title: {
        align: 'left',
        margin: 10,
        offsetX: 0,
        offsetY: 0,
        floating: false,
        style: {
            fontSize:  '14px',
            fontWeight:  'bold',
            color:  '#263238'
        },
    },
    chart: {
        id: 'vuechart-example',
        background: '#fff',
        toolbar: {
            show: true
        },
        zoom: {
            enabled: true,
        }
    },
    grid: {
        show: true,
    },
    legend: {
        show: true,
    },
    xaxis: {
        categories: months,
    },
    yaxis: [
        {
            labels: {
                formatter: function(val) {
                    return val.toFixed(0);
                }
            }
        }
    ]
};
let orderSeries = ref([{
    name: 'Invoices',
    data: []
}])
let estimateSeries = ref([{
    name: 'Estimates',
    data: []
}])
let productCreateModal = ref(false);
let customerCreateModal = ref(false);
let orderCreateModal = ref(false);
let estimateCreateModal = ref(false);

const getChartData = () => {
    months.map((item,i) => {
        orderSeries.value[0].data[i] = 0
        estimateSeries.value[0].data[i] = 0
    })
    if(companyDashboard.value.orders && companyDashboard.value.orders.length){
        companyDashboard.value.orders.map(item => {
            orderSeries.value[0].data[item.month - 1] = parseInt(item.data)
        })
    }
    if(companyDashboard.value.estimates && companyDashboard.value.estimates.length){
        companyDashboard.value.estimates.map(item => {
            estimateSeries.value[0].data[item.month - 1] = parseInt(item.data)
        })
    }
}

const getCreatedProduct = async () => {
    productCreateModal.value = false
    notify({
        type: "success",
        text: 'Product successfully created',
    });
}

const getCreatedCustomer = async (data) => {
    customerCreateModal.value = false
    notify({
        type: "success",
        text: 'Customer successfully created',
    });
}
const getCreatedOrder = async (data) => {
    orderCreateModal.value = false
    notify({
        type: "success",
        text: 'Order successfully created',
    });
}
const getCreatedEstimate = async (data) => {
    estimateCreateModal.value = false
    notify({
        type: "success",
        text: 'Estimate successfully created',
    });
}
const actionFailed = async () => {
    notify({
        type: "error",
        text: 'Something went wrong',
    });
}

</script>

<template>
    <MainLayout title="Dashboard" :contentSize="contentSize">
        <template #header>
            <div class="page-title">Dashboard</div>
            <div class="page-path">
                <a href="/">Home</a>
                <div v-for="item in breadCrumbs">
                    <a v-if="item.link" :href="item.link">{{item.title}}</a>
                    <span v-else>{{item.title}}</span>
                </div>
            </div>
        </template>
        <div class="main-workspace" :class="contentSize !== 'main-content-full' ? 'theme-card' : ''">
            <div class="dashboard-details" v-if="route().current('dashboard')">
                <div class="dashboard-cards" v-if="companyDashboard">
                    <div class="dashboard-card-item">
                        <span class="dashboard-card-item-count">{{companyDashboard.products_count}}</span>
                        <span class="dashboard-card-item-title">Products</span>
                    </div>
                    <div class="dashboard-card-item">
                        <span class="dashboard-card-item-count">{{companyDashboard.customers_count}}</span>
                        <span class="dashboard-card-item-title">Customers</span>
                    </div>
                    <div class="dashboard-card-item">
                        <span class="dashboard-card-item-count">{{companyDashboard.orders_count}}</span>
                        <span class="dashboard-card-item-title">Orders</span>
                    </div>
                    <div class="dashboard-card-item">
                        <span class="dashboard-card-item-count">{{companyDashboard.estimates_count}}</span>
                        <span class="dashboard-card-item-title">Estimates</span>
                    </div>
                </div>
                <div class="dashboard-charts">
                    <div class="dashboard-chart-item">
                        <div class="dashboard-chart-item-settings">
                            <select v-model="chartFilterData.orderYear" @change="updateChart()" class="theme-input mb-1">
                                <option v-for="year in years">{{year}}</option>
                            </select>
                        </div>
                        <apexchart width="100%" type="line" :options="options" :series="orderSeries"></apexchart>
                        <div class="text-center">
                            <h5>Invoices</h5>
                        </div>
                    </div>
                    <div class="dashboard-chart-item">
                        <div class="dashboard-chart-item-settings">
                            <select v-model="chartFilterData.estimateYear" @change="updateChart()" class="theme-input mb-1">
                                <option v-for="year in years">{{year}}</option>
                            </select>
                        </div>
                        <apexchart width="100%" type="line" :options="options" :series="estimateSeries"></apexchart>
                        <div class="text-center">
                            <h5>Estimates</h5>
                        </div>
                    </div>
                </div>
                <div class="dashboard-actions mt-4">
                    <div class="dashboard-action-item">
                        <span type="button" class="modal-footer-submit" @click="productCreateModal = true">Create Product</span>
                    </div>
                    <div class="dashboard-action-item">
                        <span type="button" class="modal-footer-submit" @click="customerCreateModal = true">Create Customer</span>
                    </div>
                    <div class="dashboard-action-item">
                        <span type="button" class="modal-footer-submit" @click="orderCreateModal = true">Create Order</span>
                    </div>
                    <div class="dashboard-action-item">
                        <span type="button" class="modal-footer-submit" @click="estimateCreateModal = true">Create Estimate</span>
                    </div>
                </div>
                <DialogModal :show="productCreateModal" @close="productCreateModal = false">
                    <template #title>
                        <span class="theme-title">Create Product</span>
                    </template>
                    <template #content>
                        <ProductCreate @create="getCreatedProduct" @failed="actionFailed" @close="productCreateModal = false"/>
                    </template>
                </DialogModal>
                <DialogModal :show="customerCreateModal" @close="customerCreateModal = false">
                    <template #title>
                        <span class="theme-title">Create Customer</span>
                    </template>
                    <template #content>
                        <CustomerCreate @create="getCreatedCustomer" @failed="actionFailed" @close="customerCreateModal = false"/>
                    </template>
                </DialogModal>
                <DialogModal :show="orderCreateModal" @close="orderCreateModal = false">
                    <template #title>
                        <span class="theme-title">Create Order</span>
                    </template>

                    <template #content>
                        <OrderCreate @create="getCreatedOrder" @failed="actionFailed" @close="orderCreateModal = false"/>
                    </template>
                </DialogModal>
                <DialogModal :show="estimateCreateModal" @close="estimateCreateModal = false">
                    <template #title>
                        <span class="theme-title">Create Estimate</span>
                    </template>

                    <template #content>
                        <EstimateCreate @create="getCreatedEstimate" @failed="actionFailed" @close="estimateCreateModal = false"/>
                    </template>
                </DialogModal>
            </div>
            <slot />
        </div>
        <notifications position="bottom right"/>
    </MainLayout>
</template>
