<script setup>
import { Link, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import TextInput from '@/Components/TextInput.vue';
import AuthLayout from "@/Layouts/AuthLayout.vue";

defineProps({
    canResetPassword: Boolean,
    status: String,
});

const form = useForm({
    email: '',
    password: '',
    remember: false,
});

const submit = () => {
    form.transform(data => ({
        ...data,
        remember: form.remember ? 'on' : '',
    })).post(route('login'), {
        onFinish: () => form.reset('password'),
    });
};
</script>

<template>
    <AuthLayout headTitle="main.global.head_title.log_in">
        <template #content>
            <div class="login-form-title">
                {{ $t('main.global.head_title.log_in') }}
            </div>
            <div class="login-form-social">
                <div class="login-form-social-inner login-form-social-google">
                    <a href="#"><img src="images/icons/google.png" alt="">{{ $t('main.global.sign_in_with_google') }}</a>
                </div>
                <div class="login-form-social-inner login-form-social-apple">
                    <a href="#"><img src="images/icons/apple.png" alt="">{{ $t('main.global.sign_in_with_apple') }}</a>
                </div>
            </div>
            <div class="login-form-with-email">
                <span>{{ $t('main.global.or_with_email') }}</span>
            </div>
            <div class="login-form">
                <form @submit.prevent="submit">
                    <div class="single-field mb-16">
                        <TextInput
                            inputStyle="authenticable"
                            id="email"
                            v-model="form.email"
                            type="email"
                            autofocus
                            :label="$t('main.global.forms.placeholder.email')"
                        />
                        <InputError class="mt-2" :message="form.errors.email" />
                    </div>

                    <div class="single-field mb-16">
                        <TextInput
                            inputStyle="authenticable"
                            v-model="form.password"
                            type="password"
                            :label="$t('main.global.forms.placeholder.password')"
                        />
                        <InputError class="mt-2" :message="form.errors.password" />
                    </div>

                    <div class="flex justify-content-end mt-1">
                        <Link v-if="canResetPassword" :href="route('password.request')" class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 auth-link-login">
                            {{ $t('main.global.actions.forgot_password') }}
                        </Link>
                    </div>

                    <div class="mt-4">
                        <button class="auth-submit-login" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            {{ $t('main.global.actions.sign_in') }}
                        </button>
                        <div class="auth-register-link mt-2 text-center justify-center">{{ $t('main.global.not_a_member_yet')}} <a href="/register">{{ $t('main.global.actions.sign_up') }}</a></div>
                    </div>
                </form>
            </div>
        </template>
    </AuthLayout>
</template>
