<script setup>
import { Head, useForm } from '@inertiajs/vue3';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';
import Checkbox from '@/Components/Checkbox.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import DialogModal from '@/Components/DialogModal.vue';
import TextInput from '@/Components/TextInput.vue';
import Multiselect from '@vueform/multiselect'
import AuthLayout from "@/Layouts/AuthLayout.vue";
import {useStore} from "vuex";
import {computed, onMounted, ref} from "vue";
const store = useStore()

const form = useForm({
    first_name: '',
    last_name: '',
    phone: '',
    email: '',
    country_id: '',
    password: '',
    password_confirmation: '',
    company_name: '',
    company_email: '',
    terms: false,
});

const countryList = computed(() => {
    return store.getters["country/countryList"]
})

onMounted(async () => {
    await store.dispatch('country/getCountryList')
})

let termsModal = ref(false);


const submit = () => {
    form.post(route('register'), {
        onFinish: () => form.reset('password', 'password_confirmation'),
    });
};
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<template>
    <AuthLayout headTitle="main.global.head_title.register">
        <template #content>
            <div class="login-form-title">
                {{ $t('main.global.registration') }}
            </div>
            <div class="login-form">
                <form @submit.prevent="submit">
                    <div class="dual-fields">
                        <div class="single-field">
                            <TextInput
                                inputStyle="authenticable"
                                id="firstname"
                                v-model="form.first_name"
                                type="text"
                                class="mt-1 block w-full auth-input"
                                required
                                autofocus
                                autocomplete="firstname"
                                :label="$t('main.global.forms.placeholder.first_name')"
                            />
                            <InputError class="mt-2" :message="form.errors.first_name" />
                        </div>
                        <div class="single-field">
                            <TextInput
                                inputStyle="authenticable"
                                id="lastname"
                                v-model="form.last_name"
                                type="text"
                                class="mt-1 block w-full auth-input"
                                required
                                autofocus
                                autocomplete="lastname"
                                :label="$t('main.global.forms.placeholder.last_name')"
                            />
                            <InputError class="mt-2" :message="form.errors.last_name" />
                        </div>
                    </div>

                    <div class="dual-fields mt-4">
                        <div class="single-field">
                            <TextInput
                                inputStyle="authenticable"
                                id="phone"
                                v-model="form.phone"
                                type="text"
                                class="mt-1 block w-full auth-input"
                                required
                                autofocus
                                autocomplete="phone"
                                :label="$t('main.global.forms.placeholder.phone')"
                            />
                            <InputError class="mt-2" :message="form.errors.phone" />
                        </div>
                        <div class="single-field">
                            <TextInput
                                inputStyle="authenticable"
                                id="email"
                                v-model="form.email"
                                type="email"
                                class="mt-1 block w-full auth-input"
                                required
                                autocomplete="username"
                                :label="$t('main.global.forms.placeholder.email')"
                            />
                            <InputError class="mt-2" :message="form.errors.email" />
                        </div>
                    </div>

                    <div class="dual-fields mt-4">
                        <div class="single-field">
                            <TextInput
                                inputStyle="authenticable"
                                id="company_name"
                                v-model="form.company_name"
                                type="text"
                                class="mt-1 block w-full auth-input"
                                required
                                autofocus
                                :label="$t('main.global.forms.placeholder.business_name')"
                            />
                            <InputError class="mt-2" :message="form.errors.company_name" />
                        </div>
                        <div class="single-field">
                            <TextInput
                                inputStyle="authenticable"
                                id="company_email"
                                v-model="form.company_email"
                                type="email"
                                class="mt-1 block w-full auth-input"
                                required
                                :label="$t('main.global.forms.placeholder.business_email')"
                            />
                            <InputError class="mt-2" :message="form.errors.company_email" />
                        </div>
                    </div>

                    <div class="mt-4">
                        <InputLabel for="country" :value="$t('main.global.forms.labels.country')" />
                        <Multiselect
                            class="auth-multiselect"
                            id="country"
                            v-model="form.country_id"
                            :close-on-select="true"
                            :searchable="true"
                            label="name"
                            valueProp="id"
                            required
                            :options="countryList"
                        >
                        </Multiselect>
                        <InputError class="mt-2" :message="form.errors.email" />
                    </div>

                    <div class="dual-fields mt-4">
                        <div class="single-field">
                            <TextInput
                                inputStyle="authenticable"
                                id="password"
                                v-model="form.password"
                                type="password"
                                class="mt-1 block w-full auth-input"
                                required
                                autocomplete="new-password"
                                :label="$t('main.global.forms.placeholder.password')"
                            />
                            <InputError class="mt-2" :message="form.errors.password" />
                        </div>
                        <div class="single-field">
                            <TextInput
                                inputStyle="authenticable"
                                id="password_confirmation"
                                v-model="form.password_confirmation"
                                type="password"
                                class="mt-1 block w-full auth-input"
                                required
                                autocomplete="new-password"
                                :label="$t('main.global.forms.placeholder.confirm_password')"
                            />
                            <InputError class="mt-2" :message="form.errors.password_confirmation" />
                        </div>
                    </div>

                    <div v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature" class="mt-4">
                        <InputLabel for="terms">
                            <div class="flex items-center">
                                <div class="auth-register-link flex align-items-center text-left">
                                    <Checkbox class="auth-checkbox mr-2" id="terms" v-model:checked="form.terms" name="terms" required />
                                    {{ $t('main.global.i_agree_to_the') }}
                                    <a href="https://artiflow.io/terms-of-service" target="_blank" class="cursor-pointer mx-1 underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{{ $t('main.global.actions.terms_of_service') }}</a>
                                    {{ $t('main.global.and') }}
                                    <a target="_blank" href="https://artiflow.io/privacy-policy" class="ml-1 underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">{{ $t('main.global.actions.privacy_policy') }}</a>
                                </div>
                            </div>
                            <InputError class="mt-2" :message="form.errors.terms" />
                        </InputLabel>
                    </div>
                    <div class="flex items-center justify-end mt-4">
                        <button class="auth-submit-login" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            {{ $t('main.global.actions.sign_up') }}
                        </button>
                    </div>
                    <div class="auth-register-link mt-2 text-center justify-center">
                        {{ $t('main.global.already_have_an_account') }} <a :href="route('login')">{{ $t('main.global.actions.sign_in') }}</a>
                    </div>
                </form>
            </div>
        </template>
    </AuthLayout>
    <DialogModal :show="termsModal" @close="termsModal = false" maxWidth="confirm">
        <template #title>
            <Head :title="$t('main.global.head_title.terms_of_service')" />

            <div class="font-sans text-gray-900:text-gray-100 antialiased">
                <div class="pt-4 bg-gray-100 :bg-gray-900">
                    <div class="flex flex-col items-center pt-6 sm:pt-0">
                        <div>
                            <AuthenticationCardLogo />
                        </div>

                        <div class="text-center sm:max-w-2xl mt-6 p-6 bg-white dark:bg-gray-800 overflow-hidden sm:rounded-lg prose:prose-invert">
                            <h1>{{ $t('main.global.table_headers.terms_of_service') }}</h1>
                            <p>{{ $t('main.global.edit_terms_of_service') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </template>

    </DialogModal>
</template>
<style>
    .shadow-xl{
        box-shadow: none;
    }
</style>
