<script setup>
import {computed, onMounted, reactive, ref, watch} from "vue";
import { useStore } from 'vuex'
import {usePage} from "@inertiajs/vue3";
import Paginate from 'vuejs-paginate-next';
import EasyDataTable from "vue3-easy-data-table";
import DialogModal from '@/Components/DialogModal.vue';
import { faWarning } from "@fortawesome/free-solid-svg-icons";
import PageLayout from '@/Layouts/PageLayout.vue'
import TextInput from '@/Components/TextInput.vue';
import WarehouseList from "@/Components/Tables/WarehouseList.vue";

const store = useStore()
const authUser = usePage().props.auth.user

const breadCrumbs = ref([
    {title: 'main.dashboard.menu.dashboards', link: '/dashboard'},
    {title: 'main.dashboard.menu.warehouse'}
])

const warehouse = computed(() => {
    return store.getters["warehouse/warehouse"]
})

let search = ref(null);
const filterOptions = ref(null);

/*METHODS*/
onMounted(async () => {
    await store.dispatch('warehouse/getWarehouse')
})

const updateWarehouseList = () => {
    let data = {
        page: warehouse.value.current_page,
        search: search.value
    }
    if(filterOptions.value) {
        Object.assign(data, filterOptions.value)
    }
    store.dispatch('warehouse/getWarehouse', data)
}

const getWarehouseByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: search.value
    }
    await store.dispatch('warehouse/getWarehouse', data)
}

</script>
<template>
    <PageLayout
        :breadCrumbs="breadCrumbs"
        :pageTitle="$t('main.dashboard.menu.warehouse')">
            <template #workSpaceTopSearch>
                <div class="single-field">
                    <TextInput
                        v-model="search"
                        :label="$t('main.global.forms.placeholder.search')"
                        inputStyle="searchable"
                        @change="updateWarehouseList()"
                        :icon="`<i class='ki-duotone ki-magnifier'><span class='path1'></span><span class='path2'></span></i>`"
                    />
                </div>
            </template>
            <template #workSpaceDataTable>
                <WarehouseList v-if="warehouse.data" estimate="index" :data="warehouse.data"/>
            </template>
            <template #workSpaceContent>
                <div class="products-data-footer">
                    <div class="products-pagination">
                        <paginate
                            v-if="warehouse.data"
                            :page-count="warehouse.links.length - 2"
                            :click-handler="getWarehouseByPage"
                            :prev-text="$t('main.global.prev')"
                            :next-text="$t('main.global.next')"
                            :container-class="'custom-pagination'"
                            :page-class="'pagination-item'"
                        >
                        </paginate>
                    </div>
                </div>
            </template>
    </PageLayout>
</template>
