<script setup>

import Paginate from 'vuejs-paginate-next';
import {computed, onMounted, reactive, ref} from "vue";
import { useStore } from 'vuex'
import PageLayout from '@/Layouts/PageLayout.vue'
import TextInput from '@/Components/TextInput.vue';
import {usePage} from "@inertiajs/vue3";
import CustomerList from "@/Components/Tables/CustomerList.vue";

let value = ref(null)
const store = useStore()

const breadCrumbs = ref([
    {title: 'main.dashboard.menu.dashboards', link: '/dashboard'},
    {title: 'main.dashboard.menu.customers'}
])

const customers = computed(() => {
    return store.getters["customer/customers"]
})

const authUser = usePage().props.auth.user

onMounted(async () => {
    await store.dispatch('customer/getCustomers')
})

let search = ref(null);
const filterOptions = ref(null);

/*****METHODS*****/
const setFilter = async (option) => {
    filterOptions.value = option
    updateCustomerList()
}

const getCustomersByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: search.value
    }
    await store.dispatch('customer/getCustomers', data)
}

const updateCustomerList = () => {
    let data = {
        page: customers.value.current_page,
        search: search.value
    }
    if(filterOptions.value) {
        Object.assign(data, filterOptions.value)
    }

    store.dispatch('customer/getCustomers', data)
}

</script>
<template>
    <PageLayout :breadCrumbs="breadCrumbs" :pageTitle="$t('main.dashboard.menu.customers')">
        <template #workSpaceTopSearch>
            <div class="single-field">
                <TextInput
                    v-model="search"
                    :label="$t('main.global.forms.placeholder.search')"
                    inputStyle="searchable"
                    :icon="`<i class='ki-duotone ki-magnifier'><span class='path1'></span><span class='path2'></span></i>`"
                    @change="updateCustomerList()"
                />
            </div>
        </template>
        <template #workSpaceDataTable>
            <CustomerList v-if="customers.data" estimate="index" :data="customers.data" @filters="setFilter"/>
        </template>
        <template #workSpaceContent>
            <div class="separator my-2"></div>
            <div class="products-data-footer">
                <div class="products-pagination">
                    <paginate
                        v-if="customers.data"
                        :page-count="customers.links.length - 2"
                        :click-handler="getCustomersByPage"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'custom-pagination'"
                        :page-class="'pagination-item'"
                    >
                    </paginate>
                </div>
            </div>
        </template>
    </PageLayout>
</template>
