<script setup>
import {computed, onMounted, reactive, ref, watch} from "vue";
import Dashboard from '@/Pages/Main/Dashboard.vue'
import EasyDataTable from "vue3-easy-data-table";
import Paginate from 'vuejs-paginate-next';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import InputError from '@/Components/InputError.vue';
import {useStore} from "vuex";
import {useNotification} from "@kyvg/vue3-notification";
import {usePage} from "@inertiajs/vue3";
import {isArray} from "lodash";
import PageLayout from '@/Layouts/PageLayout.vue'
import Multiselect from '@vueform/multiselect'
import CustomerUpdate from "@/Components/Forms/CustomerUpdate.vue";
import RightDialogFormModal from '@/Components/Metrionic/RightDialogFormModal.vue';
import OrderList from "@/Components/Tables/OrderList.vue";
import {trans, wTrans} from 'laravel-vue-i18n';
import Swal from "sweetalert2";
import LocationList from "@/Components/Tables/locationList.vue";
import PeoplesList from "@/Components/Tables/PeoplesList.vue";
const store = useStore()
const { notify}  = useNotification()
const customer = ref(usePage().props.customer)
const transactionHistory = reactive([]);
let statuses = ref({})

const authUser = usePage().props.auth.user
let editCustomerModal = ref(false)
let submitUpdateAction = ref(false)
const filterOptions = ref(null);

const countryList = computed(() => {
    return store.getters["country/countryList"]
})

const companyStatuses = computed(() => {
    return store.getters["settings/companyStatuses"]
})

const orders = computed(() => {
    return store.getters["order/orders"]
})

let data = {
    page: 1,
    customer_id: customer.value.id
}

const breadCrumbs = ref([
    {title: 'main.dashboard.menu.dashboards', link: '/dashboard'},
    {title: 'main.dashboard.menu.customers', link: '/customer'},
    {title: 'main.dashboard.menu.customer_profile'}
])

const headers = reactive([
    { text: wTrans('main.global.table_headers.id'), value: "id" },
    { text: wTrans('main.global.table_headers.order_code'), value: "order_code" },
    { text: wTrans('main.global.table_headers.payment_method'), value: "payment_method" },
    { text: wTrans('main.global.table_headers.total_amount'), value: "total" },
    { text: wTrans('main.global.table_headers.status'), value: "status_id" },
    { text: wTrans('main.global.table_headers.user'), value: "user_id" },
    { text: wTrans('main.global.table_headers.created_at'), value: "created_at" },
    { text: wTrans('main.global.table_headers.action'), value: "action" },
]);

const errors = reactive({
    name: '',
    surname: '',
    email: '',
    country_id: '',
    address: '',
    mobile_phone: '',
    phone: '',
    vat: '',
    vat_exempt: '',
    sdi_code: '',
    mail_pec: '',
    additional_notes: '',
    customer_type: '',
    city: '',
    zip_code: '',
})
let renderKey = ref(0)

onMounted(async () => {
    await store.dispatch('country/getCountryList')
    await store.dispatch('order/getOrders', data)
    await store.dispatch('settings/getCompanyStatuses', customer.value.company_id)
})

watch(companyStatuses, (val) => {
    if(val.statuses){
        val.statuses.map((item) => {
            statuses.value[item.id] = {id: item.id, name: item.name, color: item.color_code}
        })
    }
});

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

const getUpdatedCustomer = () => {
    editCustomerModal.value = false
    submitUpdateAction.value = false
    forceRerender()
    Swal.fire({
        title: trans('main.global.notifications.customer_updated'),
        icon: 'success',
        confirmButtonText: trans('main.global.notifications.popup.ok')
    })
}

const customerUpdateFailed = (error) => {
    submitUpdateAction.value = false
    let messages = []
    if(error.response.data.errors){
        for(let item in error.response.data.errors){
            messages.push("<p>" + error.response.data.errors[item] + "</p>")
        }
        Swal.fire({
            title: trans('main.global.notifications.failed'),
            icon: 'error',
            html:messages.join(''),
            confirmButtonText: trans('main.global.notifications.popup.ok')
        })
    }
}


const getOrdersByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        customer_id: customer.value.id
    }
    await store.dispatch('order/getOrders', data)
}

const checkPermission = (permission) => {
    return authUser.permission.includes(permission);
}

const forceRerender = async () => {
    renderKey.value++
};

</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<template>
    <PageLayout
        :breadCrumbs="breadCrumbs"
        :pageTitle="`${$t('main.global.customer') + ': ' + customer.name}`"
        :enableSlotTable="false"
        :enableSlotWrapper="true">
        <template #workSpaceTopActions>
            <span
                v-if="checkPermission('update-customers')"
                class="page-workspace-top-side-actions-btn page-workspace-top-side-actions-create"
                @click="editCustomerModal = true">
                <i class="ki-duotone ki-plus">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>{{ $t('main.global.actions.edit_customer') }}</span>
        </template>
        <template #workSpaceWrapper>
            <ul class="nav nav-tabs customer-tabs" id="myTab" role="tablist">
                <li class="nav-item customer-tab-item" role="presentation">
                    <button class="nav-link customer-tab-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">{{ $t('main.global.tab_headers.headquarter') }}</button>
                </li>
                <li class="nav-item customer-tab-item" role="presentation">
                    <button class="nav-link customer-tab-link" id="locations-tab" data-bs-toggle="tab" data-bs-target="#locations" type="button" role="tab" aria-controls="locations" aria-selected="false">Other locations</button>
                </li>
                <li class="nav-item customer-tab-item" role="presentation">
                    <button class="nav-link customer-tab-link" id="people-tab" data-bs-toggle="tab" data-bs-target="#people" type="button" role="tab" aria-controls="people" aria-selected="false">People</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="customer-profile-headquarter">
                        <div class="customer-profile-headquarter-side headquarter-general-side">
                            <div class="customer-profile-general">
                                <div class="customer-profile-avatar">
                                    <img v-if="customer.avatar" :src="`/storage/${customer.avatar}`">
                                    <img v-else src="/images/avatars/blank.png">
                                </div>
                                <div class="customer-profile-name">{{customer.name + ' ' + customer.surname}}</div>
                            </div>
                            <div class="customer-profile-details">
                                <div class="customer-profile-detail-item" v-if="customer.email">
                                    <span>Email: </span> {{customer.email}}
                                </div>
                                <div class="customer-profile-detail-item" v-if="customer.address">
                                    <span>Address: </span> {{customer.address}}
                                </div>
                                <div class="customer-profile-detail-item" v-if="customer.phone">
                                    <span>Phone: </span> {{customer.phone}}
                                </div>
                                <div class="customer-profile-detail-item" v-if="customer.mobile_phone">
                                    <span>Mobile phone: </span> {{customer.mobile_phone}}
                                </div>
                                <div class="customer-profile-detail-item" v-if="customer.fiscal_code">
                                    <span>Fiscal code: </span> {{customer.fiscal_code}}
                                </div>
                                <div class="customer-profile-detail-item" v-if="customer.vat">
                                    <span>VAT: </span> {{customer.vat}}
                                </div>
                                <div class="customer-profile-detail-item" v-if="customer.additional_notes">
                                    <span>Additional notes: </span> {{customer.additional_notes}}
                                </div>
                            </div>
                        </div>
                        <div class="customer-profile-headquarter-side headquarter-transaction-history-side">
                            <OrderList
                                :key="`orderListTable-${renderKey}`"
                                v-if="orders.data"
                                :data="orders.data"
                                :headers="headers"
                                :listTitle="$t('main.global.order_history')"/>
                            <div class="products-data-footer">
                                <div class="products-pagination">
                                    <paginate
                                        v-if="orders.data"
                                        :page-count="orders.links.length - 2"
                                        :click-handler="getOrdersByPage"
                                        :prev-text="$t('main.global.prev')"
                                        :next-text="$t('main.global.next')"
                                        :container-class="'custom-pagination'"
                                        :page-class="'pagination-item'"
                                    >
                                    </paginate>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="locations" role="tabpanel" aria-labelledby="locations-tab">
                    <LocationList :customerId="customer.id" />
                </div>
                <div class="tab-pane fade" id="people" role="tabpanel" aria-labelledby="people-tab">
                    <PeoplesList :customerId="customer.id"/>
                </div>
            </div>
        </template>
        <template #workSpaceContent>
            <RightDialogFormModal :dialogId="'updateModalArea'" :width="666" :show="editCustomerModal" @close="editCustomerModal = false" :heading="$t('main.global.actions.update_customer')">
                <template #form>
                    <CustomerUpdate
                        :status="editCustomerModal"
                        :submitAction="submitUpdateAction"
                        :customer="customer"
                        @updated="getUpdatedCustomer"
                        @failed="customerUpdateFailed"
                        @closed="editCustomerModal = false">
                    </CustomerUpdate>
                </template>
                <template #action>
                    <div class="flex items-center justify-end">
                    <span @click="editCustomerModal = false" class="modal-footer-cancel">
                        {{ $t('main.global.cancel') }}
                    </span>
                        <span class="ml-3 modal-footer-submit" @click="submitUpdateAction = true">
                        {{ $t('main.global.update') }}
                    </span>
                    </div>
                </template>
            </RightDialogFormModal>
        </template>
    </PageLayout>
</template>
