<script setup>
import {computed, onMounted, reactive, ref, watch} from "vue";
import Dashboard from '@/Pages/Main/Dashboard.vue'
import EasyDataTable from "vue3-easy-data-table";
import {useStore} from "vuex";
import {useNotification} from "@kyvg/vue3-notification";
import {usePage} from "@inertiajs/vue3";
import {isArray} from "lodash";
import { wTrans } from 'laravel-vue-i18n';
import PageLayout from '@/Layouts/PageLayout.vue'


const store = useStore()
const { notify}  = useNotification()
const order = ref(usePage().props.order)
Object.assign(order.value, {billing_address : JSON.parse(usePage().props.order.billing_address)})
Object.assign(order.value, {shipping_address : JSON.parse(usePage().props.order.shipping_address)})
const transactionHistory = reactive([
    {
        date: '29/06/2023',
        comment: 'Order completed',
        status: 'Completed',
        notified: 'No'
    },
    {
        date: '28/06/2023',
        comment: 'Order completed',
        status: 'Completed',
        notified: 'Yes'
    },
    {
        date: '27/06/2023',
        comment: 'Order completed',
        status: 'Completed',
        notified: 'Yes'
    },
    {
        date: '26/06/2023',
        comment: 'Order shipped from warehouse',
        status: 'Delivering',
        notified: 'No'
    },
    {
        date: '25/06/2023',
        comment: 'Pending payment',
        status: 'Pending',
        notified: 'Yes'
    },
]);

const countryList = computed(() => {
    return store.getters["country/countryList"]
})

const breadCrumbs = ref([
    {title: 'main.dashboard.menu.dashboards', link: '/dashboard'},
    {title: 'main.dashboard.menu.orders', link: '/order'},
    {title: 'main.global.details'}
])

const headers = reactive([
    { text: wTrans('main.global.table_headers.date'), value: "date" },
    { text: wTrans('main.global.table_headers.comment'), value: "comment" },
    { text: wTrans('main.global.table_headers.status'), value: "status" },
    { text: wTrans('main.global.table_headers.customer_notified'), value: "notified" }
]);

const productHeaders = reactive([
    { text: wTrans('main.global.table_headers.id'), value: "id" },
    { text: wTrans('main.global.table_headers.product'), value: "name" },
    { text: wTrans('main.global.table_headers.sku'), value: "identification_code" },
    { text: wTrans('main.global.table_headers.qty'), value: "quantity" },
    { text: wTrans('main.global.table_headers.unit_price'), value: "price" },
    { text: wTrans('main.global.table_headers.net_total'), value: "total" },
    { text: wTrans('main.global.table_headers.vat'), value: "vat" },
    { text: wTrans('main.global.table_headers.vat_total'), value: "vat_total" },
    { text: wTrans('main.global.table_headers.gross_total'), value: "gross_total" },
]);

const openCustomerDetails = (id) => {
    location.href = `/customer/${id}`
}

const totalVatAmount = ref(0);
const totals = ref({
    totalVatAmount: 0,
    totalPayAmount: 0
});

const vatAmountCount = () => {

    if(order.value && order.value.products){
        order.value.products.map((item) => {
            totalVatAmount.value = totalVatAmount.value + (item.pivot.price * item.vat_rate / 100)
        })
    }

    totals.value.totalVatAmount = totalVatAmount.value
    totals.value.totalPayAmount = parseInt(totalVatAmount.value) + parseInt(order.value.total)


}

const errors = reactive({

})

onMounted(async () => {
    await store.dispatch('country/getCountryList')
    vatAmountCount()
})

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

</script>
<template>
    <PageLayout :breadCrumbs="breadCrumbs" :enableSlotFilter="false" :enableSlotTable="false" :pageTitle="$t('main.global.order_details')">
        <template #workSpaceContent>
            <div class="main-container order-general-content">
                <div class="order-general-item">
                    <ul class="nav nav-tabs customer-tabs" id="myTab" role="tablist">
                        <li class="nav-item customer-tab-item" role="presentation">
                            <button class="nav-link customer-tab-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="true">{{ $t('main.global.tab_headers.overview') }}</button>
                        </li>
                        <li class="nav-item customer-tab-item" role="presentation">
                            <button class="nav-link customer-tab-link" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="false">{{ $t('main.global.tab_headers.general_settings') }}</button>
                        </li>
                    </ul>
                </div>
                <div class="order-general-item mt-4">
                    <div class="order-info-block">
                        <div class="order-info-item theme-card">
                            <div class="order-info-title theme-title">
                                {{ $t('main.global.order_details') }} (#{{order.id}})
                            </div>
                            <div class="order-info-list">
                                <div class="order-info-list-item">
                                <span class="order-info-list-key">
                                    <i class="ki-duotone ki-calendar"><span class="path1"></span><span class="path2"></span></i>
                                    {{ $t('main.global.list_headers.date_added') }}
                                </span>
                                    <span class="order-info-list-value">{{order.date}}</span>
                                </div>
                                <div class="order-info-list-item">
                                <span class="order-info-list-key">
                                    <i class="ki-duotone ki-wallet"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                    {{ $t('main.global.list_headers.payment_method') }}
                                </span>
                                    <span class="order-info-list-value">{{order.payment_method}}</span>
                                </div>
                                <div class="order-info-list-item">
                                <span class="order-info-list-key">
                                    <i class="ki-duotone ki-truck"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span></i>
                                    {{ $t('main.global.list_headers.shipping_method') }}
                                </span>
                                    <span class="order-info-list-value">{{order.is_shipping ? 'with shipping' : 'without shipping'}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="order-info-item theme-card" v-if="order.customer">
                            <div class="order-info-title theme-title">
                                {{ $t('main.global.customer_details') }}
                            </div>
                            <div class="order-info-list">
                                <div class="order-info-list-item">
                                    <span class="order-info-list-key">{{ $t('main.global.list_headers.customer') }}</span>
                                    <span class="order-info-list-value">
                                    <div class="order-info-list-value-inner">
                                        <img v-if="order.customer.avatar" class="order-info-avatar" :src="`/storage/${order.customer.avatar}`">
                                        <img class="order-info-avatar" v-else src="/images/avatars/blank.png">
                                        <span class="cursor-pointer customer-name" @click="openCustomerDetails(order.customer.id)">{{order.customer.name}}</span>
                                    </div>
                                </span>
                                </div>
                                <div class="order-info-list-item">
                                    <span class="order-info-list-key">{{ $t('main.global.list_headers.email') }}</span>
                                    <span class="order-info-list-value">{{order.customer.email}}</span>
                                </div>
                                <div class="order-info-list-item">
                                    <span class="order-info-list-key">{{ $t('main.global.list_headers.phone') }}</span>
                                    <span class="order-info-list-value">{{order.customer.phone}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="order-info-item theme-card">
                            <div class="order-info-title theme-title">
                                {{ $t('main.global.documents') }}
                            </div>
                            <div class="order-info-list">
                                <div class="order-info-list-item">
                                    <span class="order-info-list-key">{{ $t('main.global.list_headers.invoice') }}</span>
                                    <span class="order-info-list-value datatable-create-btn"><a :href="order.invoice_url" class="text-white" target="_blank">{{ $t('main.global.download') }}</a></span>
                                </div>
                                <div class="order-info-list-item">
                                    <span class="order-info-list-key">{{ $t('main.global.list_headers.shipping') }}</span>
                                    <span class="order-info-list-value">-</span>
                                </div>
                                <div class="order-info-list-item">
                                    <span class="order-info-list-key">{{ $t('main.global.list_headers.reward_points') }}</span>
                                    <span class="order-info-list-value">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-general-item mt-4">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                            <div class="order-detail-addresses">
                                <div class="order-detail-address-item order-detail-billing-address theme-card">
                                    <h3 class="theme-title">{{ $t('main.global.billing_address') }}</h3>
                                    <div class="order-address-area">
                                        <p class="theme-title">{{order.billing_address.address}}</p>
                                        <p class="theme-title">{{order.billing_address.zip_code}}</p>
                                        <p class="theme-title">{{order.billing_address.city}}</p>
                                    </div>
                                </div>
                                <div class="order-detail-address-item order-detail-shipping-address theme-card">
                                    <h3 class="theme-title">{{ $t('main.global.shipping_address') }}</h3>
                                    <div class="order-address-area">
                                        <p class="theme-title">{{order.shipping_address.address}}</p>
                                        <p class="theme-title">{{order.shipping_address.zip_code}}</p>
                                        <p class="theme-title">{{order.shipping_address.city}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="customer-tab-pane-inner details transaction-history theme-card mt-4">
                                <h2>{{ $t('main.global.order_items') }}</h2>
                                <EasyDataTable
                                    v-if="order.products"
                                    :hide-footer = true
                                    :headers="productHeaders"
                                    :items="order.products"
                                >
                                    <template #item-quantity="item">
                                        {{item.pivot.quantity}}
                                    </template>
                                    <template #item-price="item">
                                        € {{item.pivot.price}}
                                    </template>
                                    <template #item-total="item">
                                        <div>€ {{item.pivot.price * item.pivot.quantity}}</div>
                                    </template>
                                    <template #item-vat="item">
                                        <div>{{order.vat}} %</div>
                                    </template>
                                    <template #item-vat_total="item">
                                        <div>€ {{item.pivot.price * item.vat_rate / 100}}</div>
                                    </template>
                                    <template #item-gross_total="item">
                                        <div>€ {{(item.pivot.price * item.pivot.quantity) + (item.pivot.price * item.vat_rate / 100)}}</div>
                                    </template>
                                </EasyDataTable>
                                <table>
                                    <tr>
                                        <td>{{ $t('main.global.list_headers.total_amount_without') }}</td>
                                        <td>€ {{order.total}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ $t('main.global.list_headers.total_amount') }}</td>
                                        <td>€ {{ totals.totalVatAmount }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ $t('main.global.list_headers.total_pay') }}</td>
                                        <td>€ {{ totals.totalPayAmount }}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
                            <div class="customer-tab-pane-inner customer-profile theme-card">
                                <div class="customer-tab-pane-inner transaction-history theme-card">
                                    <h2>{{ $t('main.global.transaction_history') }}</h2>
                                    <EasyDataTable
                                        v-if="transactionHistory"
                                        :hide-footer = true
                                        :headers="headers"
                                        :items="transactionHistory"
                                    >
                                        <template #item-notified="item">
                                            <div class="text-right">{{item.notified}}</div>
                                        </template>
                                    </EasyDataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </PageLayout>
</template>
