<script setup>

import Paginate from 'vuejs-paginate-next';
import {computed, onMounted, reactive, ref, watch} from "vue";
import { useStore } from 'vuex'
import Dashboard from '@/Pages/Main/Dashboard.vue'
import TextInput from '@/Components/TextInput.vue';
import {usePage} from "@inertiajs/vue3";
import OrderList from "@/Components/Tables/OrderList.vue";
import 'flatpickr/dist/flatpickr.css';
import PageLayout from '@/Layouts/PageLayout.vue'
import {wTrans, trans} from "laravel-vue-i18n";

const orders = computed(() => {
    return store.getters["order/orders"]
})

const totalOrdersByMonths = computed(() => {
    return store.getters["dashboard/totalOrdersByMonths"]
})

const breadCrumbs = ref([
    {title: 'Dashboard', link: '/dashboard'},
    {title: 'Orders'}
])

const store = useStore()

const authUser = usePage().props.auth.user

let search = ref(null);

const filterOptions = ref(null);

let bigTotal = ref(null)

let selectedMonth = ref(null)

const months = ref([
    'jan',
    'feb',
    'mar',
    'apr',
    'may',
    'jun',
    'jul',
    'aug',
    'sep',
    'oct',
    'nov',
    'dec',
]);


/*****METHODS*****/
onMounted(async () => {
    await store.dispatch('order/getOrders')
    await store.dispatch('dashboard/getTotalOrdersByMonths').then(() => {
        const values = Object.values(totalOrdersByMonths.value);
        values.map((el) => {
            const valueFromObject = el.total;
            bigTotal.value = Math.max(bigTotal.value, valueFromObject);
        });
    })
})

const getOrdersByPage = async (pageNum) => {
    let data = {
        page: pageNum,
        search: search.value,
    }
    await store.dispatch('order/getOrders', data)
}

const getOrdersByMonth = async (val = null, monthName = null) => {
    selectedMonth.value = monthName ? trans('main.datetime.months_full.' + monthName) : null
    let data = {
        month: val,
    }
    await store.dispatch('order/getOrders', data)
}

const setFilter = (filter) => {
    filterOptions.value = filter
}

const updateOrderList = () => {
    let data = {
        page: orders.value.current_page,
        search: search.value
    }
    if(filterOptions.value) {
        Object.assign(data, filterOptions.value)
    }
    store.dispatch('order/getOrders', data)
}

</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<template>
    <PageLayout :breadCrumbs="breadCrumbs" :enableSlotFilter="false" :enableSlotChart="true" :pageTitle="$t('main.dashboard.menu.orders')">
        <template #workSpaceTopSearch>
            <div class="single-field">
                <TextInput
                    v-model="search"
                    :label="$t('main.global.forms.placeholder.search')"
                    inputStyle="searchable"
                    @change="updateOrderList()"
                    :icon="`<i class='ki-duotone ki-magnifier'><span class='path1'></span><span class='path2'></span></i>`"
                />
            </div>
        </template>
        <template #workSpaceTopChart>
            <div class="workspace-chart">
                <div class="workspace-chart-item" v-for="(item, key) in months" @click="getOrdersByMonth(key + 1, item)" :class="{activeMonth: selectedMonth === $t('main.datetime.months_full.' + item)}">
                    <div class="workspace-chart-item-title">{{ $t('main.datetime.months_full.' + item) }}</div>
                    <div class="workspace-chart-item-details">
                        <span class="workspace-chart-item-count">{{ totalOrdersByMonths[key + 1] ? totalOrdersByMonths[key + 1].count : 0}} doc</span>
                        <span class="workspace-chart-item-total">{{totalOrdersByMonths[key + 1] ? totalOrdersByMonths[key + 1].total : 0}} $</span>
                        <div class="workspace-chart-item-details-cover" :style="`height: ${totalOrdersByMonths[key + 1] ? (totalOrdersByMonths[key + 1].total * 100 / bigTotal) : 0}%`"></div>
                    </div>
                </div>
            </div>
        </template>
        <template #workSpaceDataTable>
            <OrderList v-if="orders.data" order="index" :data="orders.data" @filters="setFilter" @resetMonth="getOrdersByMonth" :selectedMonth="selectedMonth" />
        </template>
        <template #workSpaceContent>
            <div class="products-data-footer">
                <div class="products-pagination">
                    <paginate
                        v-if="orders.data"
                        :page-count="orders.links.length - 2"
                        :click-handler="getOrdersByPage"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'custom-pagination'"
                        :page-class="'pagination-item'"
                    >
                    </paginate>
                </div>
            </div>
        </template>
    </PageLayout>
</template>
