<script setup>
import {useForm} from "@inertiajs/vue3";
import AppLayout from '@/Layouts/AppLayout.vue';
import { useStore } from 'vuex'
import { useNotification } from "@kyvg/vue3-notification";
import Checkbox from '@/Components/Checkbox.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import ActionMessage from '@/Components/ActionMessage.vue';
import {computed, onMounted, reactive} from "vue";
import {isArray} from "lodash";
import Multiselect from '@vueform/multiselect'
const store = useStore()

const countryList = computed(() => {
    return store.getters["country/countryList"]
})

const form = useForm({
    company_name: null,
    address: null,
    country_id: null,
    city: null,
    zip_code: null,
    vat_number: null,
    sdi_code: null,
    rea_code: null,
    phone: null
});

const errors = reactive({
    company_name: '',
    address: '',
    country_id: '',
    city: '',
    zip_code: '',
    vat_number: '',
    sdi_code: '',
    rea_code: '',
    phone: ''
})

const submitResponse = reactive({
    status: false,
    message: ''
});

onMounted(async () => {
    await store.dispatch('country/getCountryList')
})

const { notify}  = useNotification()

const submit = () => {
    axios.post(route('company.store'), form)
        .then((response) => {
            notify({
                type: "success",
                text: response.data.message,
            });
            setTimeout(() => {
                location.href = "/dashboard";
            }, 2000)
        })
        .catch((error) => {
            notify({
                type: "error",
                text: 'Something went wrong',
            });
            Object.assign(errors, error.response.data.errors)
        })
};

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ $t('main.global.table_headers.create_company') }}
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="form-outher">
                        <form @submit.prevent="submit">
                            <div class="single-field">
                                <InputLabel for="companyName" :value="$t('main.global.forms.labels.company_name')" />
                                <TextInput
                                    id="companyName"
                                    v-model="form.company_name"
                                    type="text"
                                    class="mt-1 block w-full"
                                    required
                                />
                                <InputError class="mt-2" :message="showError(errors.company_name)" />
                            </div>
                            <div class="single-field mt-4">
                                <InputLabel for="address" :value="$t('main.global.forms.labels.address')" />
                                <TextInput
                                    id="address"
                                    v-model="form.address"
                                    type="text"
                                    class="mt-1 block w-full"
                                    required
                                />
                                <InputError class="mt-2" :message="showError(errors.address)" />
                            </div>
                            <div class="single-field mt-4">
                                <InputLabel for="phone" :value="$t('main.global.forms.labels.phone')" />
                                <TextInput
                                    id="phone"
                                    v-model="form.phone"
                                    type="text"
                                    class="mt-1 block w-full"
                                    required
                                />
                                <InputError class="mt-2" :message="showError(errors.phone)" />
                            </div>
                            <div class="dual-fields mt-4">
                                <div class="single-field">
                                    <InputLabel for="country" :value="$t('main.global.forms.labels.country')" />
                                    <Multiselect
                                        id="country"
                                        v-model="form.country_id"
                                        :close-on-select="true"
                                        :searchable="true"
                                        label="name"
                                        valueProp="id"
                                        required
                                        :options="countryList"
                                    >
                                    </Multiselect>
                                    <InputError class="mt-2" :message="showError(errors.country_id)" />
                                </div>
                                <div class="single-field">
                                    <InputLabel for="city" :value="$t('main.global.forms.labels.city')" />
                                    <TextInput
                                        id="city"
                                        v-model="form.city"
                                        type="text"
                                        class="mt-1 block w-full"
                                        required
                                    />
                                    <InputError class="mt-2" :message="showError(errors.city)" />
                                </div>
                            </div>
                            <div class="dual-fields mt-4">
                                <div class="single-field">
                                    <InputLabel for="zip_code" :value="$t('main.global.forms.labels.zip_code')" />
                                    <TextInput
                                        id="zip_code"
                                        v-model="form.zip_code"
                                        type="text"
                                        class="mt-1 block w-full"
                                        required
                                    />
                                    <InputError class="mt-2" :message="showError(errors.zip_code)" />
                                </div>
                                <div class="single-field">
                                    <InputLabel for="vat_number" :value="$t('main.global.forms.labels.vat_number')" />
                                    <TextInput
                                        id="zip_code"
                                        v-model="form.vat_number"
                                        type="text"
                                        class="mt-1 block w-full"
                                        required
                                    />
                                    <InputError class="mt-2" :message="showError(errors.vat_number)" />
                                </div>
                            </div>
                            <div class="dual-fields mt-4">
                                <div class="single-field">
                                    <InputLabel for="sdi_code" :value="$t('main.global.forms.labels.sdi_code')" />
                                    <TextInput
                                        id="sdi_code"
                                        v-model="form.sdi_code"
                                        type="text"
                                        class="mt-1 block w-full"
                                        required
                                    />
                                    <InputError class="mt-2" :message="showError(errors.sdi_code)" />
                                </div>
                                <div class="single-field">
                                    <InputLabel for="rea_code" :value="$t('main.global.forms.labels.rea_code')" />
                                    <TextInput
                                        id="rea_code"
                                        v-model="form.rea_code"
                                        type="text"
                                        class="mt-1 block w-full"
                                        required
                                    />
                                    <InputError class="mt-2" :message="showError(errors.rea_code)" />
                                </div>
                            </div>
                            <div class="flex items-center justify-end mt-4">
                                <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                    {{ $t('main.global.create') }}
                                </PrimaryButton>
                            </div>
                        </form>
                        <notifications position="bottom right"/>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
