<script setup>
import {computed, onMounted, ref} from 'vue';
import {Head, Link, useForm, usePage} from '@inertiajs/vue3';
import AuthenticationCard from '@/Components/AuthenticationCard.vue';
import AuthenticationCardLogo from '@/Components/AuthenticationCardLogo.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import UpdatePasswordForm from '@/Pages/Profile/Partials/UpdatePasswordForm.vue';
import SectionBorder from '@/Components/SectionBorder.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';

const props = defineProps({
    status: String,
});

const passwordInput = ref(null);
const currentPasswordInput = ref(null);
const termAccept = ref(0);

const form = useForm({
    token: usePage().props.member.token,
    password: '',
    password_confirmation: '',
});


const acceptTerms = () => {
    form.post(route('membership.store'), {
        errorBag: 'storeMember',
        preserveScroll: true,
        onSuccess: () => form.reset(),
        onError: () => {
            if (form.errors.password) {
                form.reset('password', 'password_confirmation');
                passwordInput.value.focus();
            }
        },
    });
}

</script>
<template>
    <Head :title="$t('main.global.head_title.terms_of_service')" />

    <AuthenticationCard>

        <div class="mb-4">

            <div class="single-field">
                <InputLabel for="password" :value="$t('main.global.forms.labels.new_password')" />
                <TextInput
                    id="password"
                    ref="passwordInput"
                    v-model="form.password"
                    type="password"
                    class="mt-1 block w-full"
                    autocomplete="new-password"
                />
                <InputError :message="form.errors.password" class="mt-2" />
            </div>

            <div class="single-field mt-2">
                <InputLabel for="password_confirmation" :value="$t('main.global.forms.labels.confirm_password')" />
                <TextInput
                    id="password_confirmation"
                    v-model="form.password_confirmation"
                    type="password"
                    class="mt-1 block w-full"
                    autocomplete="new-password"
                />
                <InputError :message="form.errors.password_confirmation" class="mt-2" />
            </div>

            <SectionBorder />
        </div>

        <div class="mb-4 text-sm text-gray-600">
            {{ $t('main.global.accept_terms_of_service_text') }}
        </div>

        <div class="mb-4">
            <input type="checkbox" v-model="termAccept" :true-value="1" :false-value="0"> {{ $t('main.global.actions.accept_terms_of_service') }}
        </div>

        <PrimaryButton :class="{ 'opacity-25': !termAccept }" :disabled="!termAccept" @click="acceptTerms">{{ $t('main.global.actions.save') }}</PrimaryButton>

    </AuthenticationCard>
</template>

<style scoped>

</style>
