<script setup>
import {onMounted, ref} from "vue";

const props = defineProps({
    headTitle: {
        type: String,
        default: null
    }
})

let currentLang = ref(null)

onMounted(() => {
    currentLang.value = localStorage.getItem('currentLang') ?? 'en'
})

const setLanguage = () => {
    localStorage.setItem('currentLang', currentLang.value === 'en' ? 'ita' : 'en')
    window.location.reload()
}
</script>
<template>
    <Head :title="headTitle" />
    <div class="login-container">
        <div class="login-container-leftbar">
            <div class="login-container-leftbar-inner">
                <slot name="content"/>
            </div>
            <div class="login-form-footer">
                <div class="form-language-change" @click="setLanguage">
                    <span v-if="currentLang === 'en'">
                        <img src="/images/icons/ita.png" alt="">
                        {{ $t(`main.global.lang_ita`) }}
                    </span>
                    <span v-else>
                        <img src="/images/icons/en.png" alt="">
                        {{ $t(`main.global.lang_en`) }}
                    </span>
                </div>
                <div class="login-form-footer-menu">
                    <ul>
                        <li><a href="https://artiflow.io/terms-of-service" target="_blank">{{ $t('main.global.terms') }}</a></li>
                        <li><a href="https://artiflow.io/cookie-policy" target="_blank">{{ $t('main.global.cookie_policy') }}</a></li>
                        <li><a href="https://artiflow.io/privacy-policy" target="_blank">{{ $t('main.global.privacy_policy') }}</a></li>
                        <li><a href="https://artiflow.io/contacts" target="_blank">{{ $t('main.global.contact_us') }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-container-rightbar">
            <div class="login-container-rightbar-logo">
                <img src="/images/general/logos/logo-filled-white.png" alt="">
            </div>
            <div class="login-container-rightbar-chart-img">
                <img src="/images/general/chart.png" alt="">
            </div>
            <div class="login-container-rightbar-info">
                <div class="login-container-rightbar-info-title">
                    {{ $t('main.global.make_art_flow') }}
                </div>
                <div class="login-container-rightbar-info-text" v-html="$t('main.global.login_form_text')"></div>
            </div>
        </div>
    </div>
</template>
