<script setup>
import {computed, onMounted, ref, watch} from 'vue';
import {Head, Link, router, usePage} from '@inertiajs/vue3';
import { useStore } from 'vuex'
import Navbar from "@/Layouts/Navbar.vue";


const store = useStore()
const authUser = usePage().props.auth.user

defineProps({
    title: {
        type: String,
        default: ''
    },
    contentSize: {
        type: String,
        default: 'main-content'
    },
});

const showingNavigationDropdown = ref(false);
let darkMode = ref(false)


onMounted(async () => {
    if(localStorage.getItem('darkMode')){
        darkMode.value = true
        document.body.classList.remove('light-theme');
        document.body.classList.add('dark-theme');
    }else{
        document.body.classList.remove('dark-theme');
        document.body.classList.add('light-theme');
    }
    await store.dispatch('activityLogs/getActivityLogs')
})


const switchToTeam = (team) => {
    router.put(route('current-team.update'), {
        team_id: team.id,
    }, {
        preserveState: false,
    });
};

const logout = () => {
    router.post(route('logout'));
};

const isDarkMode = (theme) => {
    if(theme === 'light'){
        darkMode.value = false;
        document.body.classList.remove('dark-theme');
        document.body.classList.add('light-theme');
    }else{
        darkMode.value = false; //true
        document.body.classList.remove('light-theme');
        document.body.classList.add('dark-theme');
    }
}


</script>
<template>
    <div :class="`main-wrapper ${darkMode ? 'dark-theme' : 'light-theme'}`">
        <Navbar :darkMode="darkMode" @darkMode="isDarkMode"/>

        <div class="breadcrumbs main-container" v-if="contentSize !== 'main-content-full'">
            <slot name="header" />
        </div>
        <div :class="contentSize" class="theme-style">
            <slot />
        </div>
    </div>
</template>
