<script setup>
import {Head, Link, router, usePage} from '@inertiajs/vue3';
import RightDialogModal from '@/Components/Metrionic/RightDialogModal.vue';
import CRUDLog from "@/Components/Metrionic/ActivityLogs/CRUDLog.vue";
import {computed, onMounted, ref} from "vue";
import { useStore } from 'vuex'
import Multiselect from "@vueform/multiselect"
import Dropdown from "@/Components/Metrionic/Dropdown.vue";
import TextInput from "@/Components/TextInput.vue";

const props = defineProps({
    darkMode: {
        type: Boolean,
        default: false
    }
})
const store = useStore()
const authUser = usePage().props.auth.user
let actionLoader = ref(false)
const activityLogs = computed(() => {
    return  store.getters["activityLogs/activityLogs"]
})
const invoiceNotification = computed(() => {
    return  store.getters["invoice/invoiceNotifications"]
})
let showMobileMenu = ref(false)
let chatModal = ref(false)
let taskSearchTab = ref(1)
let taskModal = ref(false)
let emits = defineEmits(['update:darkMode'])
let limit = ref(10)
let limitEmail = ref(3)
let search = ref(null)
let allResultTotal = ref(null)
let timeoutHandle;
let pastGlobalSearch = ref(null)
let activeAccordion = ref(null)

onMounted(async () => {
    await store.dispatch('invoice/getInvoiceNotifications', limitEmail.value)
    pastGlobalSearch.value = JSON.parse(localStorage.getItem('globalSearchResult'))
})

let globalSearchResult = computed(() => {
    return store.getters["search/globalSearch"]
})

const checkPermission = (permission) => {
    return authUser.permission.includes(permission);
}

const openActivityLog = async () => {
    await store.dispatch('activityLogs/getActivityLogs', limit.value)
    taskModal.value = true
}
const switchTheme = (theme) => {
    if(theme === 'light'){
        localStorage.removeItem('darkMode')
        props.darkMode = false;
    }else{
        localStorage.setItem('darkMode', true)
        props.darkMode = true;
    }
    emits('darkMode', theme)
}

const globalSearch = () => {
    allResultTotal.value = 0
    actionLoader.value = true
    clearTimeout(timeoutHandle)
    timeoutHandle = setTimeout(async () => {
        if(search.value.length > 2) {
            await store.dispatch('search/getGlobalSearch', search.value);
            for(let item in globalSearchResult.value){
                if(item !== 'search' && globalSearchResult.value[item].total){
                    allResultTotal.value = allResultTotal.value + globalSearchResult.value[item].total
                }
            }
            localStorage.setItem('globalSearchResult', JSON.stringify(globalSearchResult.value))
        }
        actionLoader.value = false

    }, 1500)
}

const loadMore = () => {
    limit.value = limit.value + 10
    store.dispatch('activityLogs/getActivityLogs', limit.value)
}
const loadMoreEmail = () => {
    limitEmail.value = limitEmail.value + 5
    store.dispatch('invoice/getInvoiceNotifications', limitEmail.value)
}

const checkRole = (role) => {
    return authUser.role.includes(role);
}


const logout = () => {
    router.post(route('logout'));
};

const toggleAccordion = (bar) => {
    activeAccordion.value = bar
}
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<template>
    <header>
        <div class="main-navbar main-container">
            <div class="navbar-side">
                <div class="menu-btn" @click="showMobileMenu = !showMobileMenu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="navbar-logo">
                    <a :href="route('dashboard')">
                        <img src="/images/general/logos/short-logo-filled-white.png">
                    </a>
                </div>
                <div class="navbar-menu">
                    <ul class="main-menu" :class="{'showMobileMenu' : showMobileMenu}">
                        <li class="list-items">
                            <a :href="route('dashboard')"
                               :class="{
                                    'active' : route().current('dashboard')
                                }">{{ $t('main.dashboard.menu.dashboards') }}
                            </a>
                        </li>
                        <li class="list-items dropper">
                            <span
                                @click="toggleAccordion('management')"
                               :class="{
                                    'active' : (route().current('product.index') || route().current('customer.index') || route().current('supplier.index') || route().current('material.index'))
                                }">{{ $t('main.dashboard.menu.management') }}
                            </span>
                            <div class="list-items-dropdown" :class="{
                                'target' : (activeAccordion === 'management')
                            }">
                                <ul class="list-items-dropdown-inner">
                                    <li class="list-items-dropdown-item">
                                        <a v-if="checkPermission('read-products')" :href="route('product.index')" :class="{'active' : route().current('product.index')}">{{ $t('main.dashboard.menu.products') }}</a>
                                    </li>
                                    <li class="list-items-dropdown-item">
                                        <a v-if="checkPermission('read-customers')" :href="route('customer.index')" :class="{'active' : route().current('customer.index')}">{{ $t('main.dashboard.menu.customers') }}</a>
                                    </li>
                                    <li class="list-items-dropdown-item">
                                        <a :href="route('supplier.index')" :class="{'active' : route().current('supplier.index')}">{{ $t('main.dashboard.menu.suppliers') }}</a>
                                    </li>
                                    <li class="list-items-dropdown-item">
                                        <a :href="route('material.index')" :class="{'active' : route().current('material.index')}">{{ $t('main.dashboard.menu.materials') }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-items dropper">
                            <span @click="toggleAccordion('orders')"
                                :class="{
                                    'active' : (route().current('order.index') || route().current('supply.index'))
                                }">{{ $t('main.dashboard.menu.orders') }}
                            </span>
                            <div class="list-items-dropdown"
                                :class="{
                                    'target' : (activeAccordion === 'orders')
                                }">
                                <ul class="list-items-dropdown-inner">
                                    <li class="list-items-dropdown-item">
                                        <a v-if="checkPermission('read-orders')" :href="route('order.index')" :class="{'active' : route().current('order.index')}">{{ $t('main.dashboard.menu.customers_orders') }}</a>
                                    </li>
                                    <li class="list-items-dropdown-item">
                                        <a :href="route('supply.index')"  :class="{'active' : route().current('supply.index')}">{{ $t('main.dashboard.menu.suppliers_orders') }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-items dropper">
                            <span @click="toggleAccordion('financial')"
                               :class="{
                                    'active' : (route().current('invoice.index') || route().current('estimate.index'))
                                }">{{ $t('main.dashboard.menu.financial') }}
                            </span>
                            <div class="list-items-dropdown"
                                 :class="{
                                    'target' : (activeAccordion === 'financial')
                                }">
                                <ul class="list-items-dropdown-inner">
                                    <li class="list-items-dropdown-item">
                                        <a v-if="checkPermission('read-orders')"
                                           :href="route('invoice.index')"
                                           :class="{
                                                'active' : route().current('invoice.index')
                                            }">{{ $t('main.dashboard.menu.invoices') }}
                                        </a>
                                    </li>
                                    <li class="list-items-dropdown-item">
                                        <a v-if="checkPermission('read-estimates')"
                                           :href="route('estimate.index')"
                                           :class="{
                                                'active' : route().current('estimate.index')
                                            }">{{ $t('main.dashboard.menu.estimates') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-items dropper">
                            <span @click="toggleAccordion('inventory')"
                                :class="{
                                    'active' : route().current('warehouse.index')
                                }">{{ $t('main.dashboard.menu.inventory') }}
                            </span>
                            <div class="list-items-dropdown" :class="{
                                    'target' : (activeAccordion === 'inventory')
                                }">
                                <ul class="list-items-dropdown-inner">
                                    <li class="list-items-dropdown-item">
                                        <a
                                            :href="route('warehouse.index')"
                                            :class="{
                                                'active' : route().current('warehouse.index')
                                            }">{{ $t('main.dashboard.menu.warehouse') }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-side navbar-tools">
                <div class="navbar-tool-item tool-search">
                    <Dropdown>
                        <template #dropdownIcon>
                                <span class="navbar-tool-icon">
                                    <i class="ki-duotone ki-magnifier">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </span>
                        </template>
                        <template #dropdownBody>
                            <div class="TS-dropdown-box TS-dropdown-box-search-area">
                                <div class="TS-dropdown-box-search" v-if="taskSearchTab === 1">
                                    <div class="TS-dropdown-box-header">
                                        <div class="tsdbh-side">
                                            <div class="tsdbh-search">
<!--                                                <div class="tsdbh-search-icon">-->
<!--                                                    <i class="ki-duotone ki-magnifier"><span class="path1"></span><span class="path2"></span></i>-->
<!--                                                </div>-->
                                                <div class="tsdbh-search-input">
                                                    <TextInput
                                                        inputStyle="searchable"
                                                        v-model="search"
                                                        :placeholder="`${$t('main.dashboard.toolbar.search_box.search')}...`"
                                                        class="block w-full"
                                                        @input="globalSearch"
                                                        :icon="`<i class='ki-duotone ki-magnifier'><span class='path1'></span><span class='path2'></span></i>`"
                                                    />
                                                </div>
                                            </div>
                                        </div>
<!--
                                        <div class="tsdbh-side">
                                            <div class="tsdbh-settings">
                                                    <span class="tsdbh-settings-filter" @click="taskSearchTab = 2">
                                                        <i class="ki-duotone ki-setting-2 fs-2"><span class="path1"></span><span class="path2"></span></i>
                                                    </span>
                                                <span class="tsdbh-settings-details" @click="taskSearchTab = 3">
                                                        <i class="ki-duotone ki-down fs-2"></i>
                                                    </span>
                                            </div>
                                        </div>
-->
                                    </div>
                                    <div class="separator mb-6"></div>
                                    <div class="TS-dropdown-box-body">
<!--                                        <div class="tsdbb-title">{{ $t('main.dashboard.toolbar.search_box.recently_searched') }}:</div>
                                        <div class="tsdbb-lists">
                                            <div class="tsdbb-list-item">
                                                <div class="tsdbb-list-item-icon">
                                                    <i class="ki-duotone ki-laptop fs-2 text-primary"><span class="path1"></span><span class="path2"></span></i>
                                                </div>
                                                <div class="tsdbb-list-item-details">
                                                    <div class="tsdbb-list-item-title">
                                                        <a href="#">BoomApp by Keenthemes</a>
                                                    </div>
                                                    <div class="tsdbb-list-item-code">######</div>
                                                </div>
                                            </div>
                                            <div class="tsdbb-list-item">
                                                <div class="tsdbb-list-item-icon">
                                                    <i class="ki-duotone ki-chart-simple"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                                                </div>
                                                <div class="tsdbb-list-item-details">
                                                    <div class="tsdbb-list-item-title">
                                                        <a href="#">"Kept API Project Meeting</a>
                                                    </div>
                                                    <div class="tsdbb-list-item-code">######</div>
                                                </div>
                                            </div>
                                            <div class="tsdbb-list-item">
                                                <div class="tsdbb-list-item-icon">
                                                    <i class="ki-duotone ki-chart"><span class="path1"></span><span class="path2"></span></i>
                                                </div>
                                                <div class="tsdbb-list-item-details">
                                                    <div class="tsdbb-list-item-title">
                                                        <a href="#">"KPI Monitoring App Launch</a>
                                                    </div>
                                                    <div class="tsdbb-list-item-code">######</div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="TS-dropdown-box-body-fist-sec">
                                            <div class="TS-dropdown-box-body-fist-sec-content" v-if="allResultTotal">
                                                <div class="search-section-head">
                                                    <a :href="'/search/' + search" target="_blank" class="show-all-results">{{$t('main.global.see_all_results', {'count': allResultTotal})}}</a>
                                                </div>
                                                <div class="search-section-body" v-if="globalSearchResult.products && globalSearchResult.products.total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.products')}}:</span>
                                                        <a :href="'/search/' + search + '#products-tab'" target="_blank">{{$t('main.global.see_all_results', {'count': globalSearchResult.products.total})}}</a>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.products.data[0]">
                                                        <div class="search-section-body-item">
                                                            <span>{{globalSearchResult.products.data[0].name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.products.data[1]">
                                                        <div class="search-section-body-item">
                                                            <span >{{globalSearchResult.products.data[1].name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.products.data[2]">
                                                        <div class="search-section-body-item">
                                                            <span>{{globalSearchResult.products.data[2].name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-section-body" v-if="globalSearchResult.customers && globalSearchResult.customers.total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.customers')}}:</span>
                                                        <a :href="'/search/' + search + '#customers-tab'" target="_blank">{{$t('main.global.see_all_results', {'count': globalSearchResult.customers.total})}}</a>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.customers.data[0]" >
                                                        <div class="search-section-body-item">
                                                            <a :href="route('customer.show', globalSearchResult.customers.data[0].id)" >{{globalSearchResult.customers.data[0].name}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.customers.data[1]" >
                                                        <div class="search-section-body-item">
                                                            <a :href="route('customer.show', globalSearchResult.customers.data[1].id)">{{globalSearchResult.customers.data[1].name}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.customers.data[2]" >
                                                        <div class="search-section-body-item">
                                                            <a :href="route('customer.show', globalSearchResult.customers.data[2].id)">{{globalSearchResult.customers.data[2].name}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-section-body" v-if="globalSearchResult.orders && globalSearchResult.orders.total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.orders')}}:</span>
                                                        <a :href="'/search/' + search + '#orders-tab'" target="_blank">{{$t('main.global.see_all_results', {'count': globalSearchResult.orders.total})}}</a>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.orders.data[0]">
                                                        <div class="search-section-body-item">
                                                            <a :href="route('order.show', globalSearchResult.orders.data[0].id)">{{globalSearchResult.orders.data[0].order_code}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.orders.data[1]">
                                                        <div class="search-section-body-item">
                                                            <a :href="route('order.show', globalSearchResult.orders.data[1].id)">{{globalSearchResult.orders.data[1].order_code}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.orders.data[2]">
                                                        <div class="search-section-body-item">
                                                            <a :href="route('order.show', globalSearchResult.orders.data[2].id)">{{globalSearchResult.orders.data[2].order_code}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-section-body" v-if="globalSearchResult.estimates && globalSearchResult.estimates.total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.estimates')}}:</span>
                                                        <a :href="'/search/' + search + '#estimates-tab'" target="_blank">{{$t('main.global.see_all_results', {'count': globalSearchResult.estimates.total})}}</a>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.estimates.data[0]">
                                                        <div class="search-section-body-item">
                                                            <span>{{globalSearchResult.estimates.data[0].estimate_code}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.estimates.data[1]">
                                                        <div class="search-section-body-item">
                                                            <span>{{globalSearchResult.estimates.data[1].estimate_code}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.estimates.data[2]">
                                                        <div class="search-section-body-item">
                                                            <span>{{globalSearchResult.estimates.data[2].estimate_code}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-section-body" v-if="globalSearchResult.warehouses && globalSearchResult.warehouses.total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.warehouse')}}:</span>
                                                        <a :href="'/search/' + search + '#warehouses-tab'" target="_blank">{{$t('main.global.see_all_results', {'count': globalSearchResult.warehouses.total})}}</a>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.warehouses.data[0]">
                                                        <div class="search-section-body-item">
                                                            <span>{{globalSearchResult.warehouses.data[0].stockable.title}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.warehouses.data[1]">
                                                        <div class="search-section-body-item">
                                                            <span>{{globalSearchResult.warehouses.data[1].stockable.title}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="globalSearchResult.warehouses.data[2]">
                                                        <div class="search-section-body-item">
                                                            <span>{{globalSearchResult.warehouses.data[2].stockable.title}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else>
                                                <span v-if="actionLoader" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                                                <div v-else class="search-section-head search-section-head-last">
                                                    <span>{{$t('main.global.type_for_search')}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="TS-dropdown-box-body-last-sec">
                                            <div class="search-section-head search-section-head-last" v-if="pastGlobalSearch">
                                                <span class="">{{$t('main.global.recently_searched')}}: {{pastGlobalSearch['search']}}</span>
                                            </div>
                                            <div>
                                                <div class="search-section-body" v-if="pastGlobalSearch && pastGlobalSearch['products'] && pastGlobalSearch['products'].total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.products')}}:</span>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['products'].data[0]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['products'].data[0].name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['products'].data[1]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['products'].data[1].name}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['products'].data[2]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['products'].data[2].name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-section-body" v-if="pastGlobalSearch && pastGlobalSearch['customers'] && pastGlobalSearch['customers'].total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.customers')}}:</span>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['customers'].data[0]" >
                                                        <div class="search-section-body-item">
                                                            <a :href="route('customer.show', pastGlobalSearch['customers'].data[0].id)">{{pastGlobalSearch['customers'].data[0].name}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['customers'].data[1]" >
                                                        <div class="search-section-body-item">
                                                            <a :href="route('customer.show', pastGlobalSearch['customers'].data[1].id)">{{pastGlobalSearch['customers'].data[1].name}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['customers'].data[2]" >
                                                        <div class="search-section-body-item">
                                                            <a :href="route('customer.show', pastGlobalSearch['customers'].data[2].id)">{{pastGlobalSearch['customers'].data[2].name}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-section-body" v-if="pastGlobalSearch && pastGlobalSearch['orders'] && pastGlobalSearch['orders'].total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.orders')}}:</span>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['orders'].data[0]">
                                                        <div class="search-section-body-item">
                                                            <a :href="route('order.show', pastGlobalSearch['orders'].data[0].id)" >{{pastGlobalSearch['orders'].data[0].order_code}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['orders'].data[1]">
                                                        <div class="search-section-body-item">
                                                            <a :href="route('order.show', pastGlobalSearch['orders'].data[1].id)" >{{pastGlobalSearch['orders'].data[1].order_code}}</a>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['orders'].data[2]">
                                                        <div class="search-section-body-item">
                                                            <a :href="route('order.show', pastGlobalSearch['orders'].data[2].id)" >{{pastGlobalSearch['orders'].data[2].order_code}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-section-body" v-if="pastGlobalSearch && pastGlobalSearch['estimates'] && pastGlobalSearch['estimates'].total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.estimates')}}:</span>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['estimates'].data[0]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['estimates'].data[0].estimate_code}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['estimates'].data[1]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['estimates'].data[1].estimate_code}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['estimates'].data[2]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['estimates'].data[2].estimate_code}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="search-section-body" v-if="pastGlobalSearch && pastGlobalSearch['warehouses'] && pastGlobalSearch['warehouses'].total > 0">
                                                    <div class="search-section-body-content">
                                                        <span>{{$t('main.dashboard.menu.warehouse')}}:</span>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['warehouses'].data[0]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['warehouses'].data[0].stockable.title}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['warehouses'].data[1]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['warehouses'].data[1].stockable.title}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="search-result-body-item" v-if="pastGlobalSearch['warehouses'].data[2]">
                                                        <div class="search-section-body-item">
                                                            <span>{{pastGlobalSearch['warehouses'].data[2].stockable.title}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                    </div>
                                </div>
<!--                                <div class="TS-dropdown-box-filter" v-if="taskSearchTab === 2">
                                    <div class="tsdbf-title">{{ $t('main.dashboard.toolbar.search_box.recently_searched') }}</div>
                                    <div class="tsdbf-lists">
                                        <div class="tsdbf-list-item theme-tsdbf-list-item">
                                            <span class="tsdbf-list-item-title">{{ $t('main.dashboard.toolbar.search_box.projects') }}</span>
                                            <span class="tsdbf-list-item-action checkbox-slide-switcher">
                                                    <label class="switch" for="checkbox">
                                                        <input type="checkbox" id="checkbox" />
                                                        <div class="slider round theme-radio-swithcher"></div>
                                                    </label>
                                                </span>
                                        </div>
                                        <div class="tsdbf-list-item theme-tsdbf-list-item">
                                            <span class="tsdbf-list-item-title">{{ $t('main.dashboard.toolbar.search_box.targets') }}</span>
                                            <span class="tsdbf-list-item-action checkbox-slide-switcher">
                                                    <label class="switch" for="checkbox1">
                                                        <input type="checkbox" id="checkbox1" />
                                                        <div class="slider round theme-radio-swithcher"></div>
                                                    </label>
                                                </span>
                                        </div>
                                        <div class="tsdbf-list-item theme-tsdbf-list-item">
                                            <span class="tsdbf-list-item-title">{{ $t('main.dashboard.toolbar.search_box.affiliate_programs') }}</span>
                                            <span class="tsdbf-list-item-action checkbox-slide-switcher">
                                                    <label class="switch" for="checkbox2">
                                                        <input type="checkbox" id="checkbox2" />
                                                        <div class="slider round theme-radio-swithcher"></div>
                                                    </label>
                                                </span>
                                        </div>
                                    </div>
                                    <div class="tsdbf-footer">
                                        <span class="tsdbf-footer-cancel theme-tsdbf-footer-cancel" @click="taskSearchTab = 1">{{ $t('main.global.cancel') }}</span>
                                        <span class="tsdbf-footer-submit theme-tsdbf-footer-submit" @click="taskSearchTab = 1">{{ $t('main.global.save_changes') }}</span>
                                    </div>
                                </div>
                                <div class="TS-dropdown-box-settings" v-if="taskSearchTab === 3">
                                    <div class="tsdbs-title theme-title">{{ $t('main.dashboard.toolbar.search_box.advanced_search') }}</div>
                                    <div class="tsdbs-content">
                                        <div class="tsdbs-input-area">
                                            <div class="tsdbs-input-block">
                                                <TextInput
                                                    type="text"
                                                    :placeholder="`${$t('main.dashboard.toolbar.search_box.contains_the_word')}`"
                                                    class="block w-full theme-input"
                                                />
                                            </div>
                                        </div>
                                        <div class="tsdbs-types typesx4">
                                            <div class="tsdbs-type-item">
                                                <span class="active">{{ $t('main.global.all') }}</span>
                                            </div>
                                            <div class="tsdbs-type-item">
                                                <span>{{ $t('main.global.users') }}</span>
                                            </div>
                                            <div class="tsdbs-type-item">
                                                <span>{{ $t('main.global.orders') }}</span>
                                            </div>
                                            <div class="tsdbs-type-item">
                                                <span>{{ $t('main.global.projects') }}</span>
                                            </div>
                                        </div>
                                        <div class="tsdbs-input-area">
                                            <div class="tsdbs-input-block">
                                                <TextInput
                                                    type="text"
                                                    :placeholder="`${ $t('main.dashboard.toolbar.search_box.assigned_to') }`"
                                                    class="block w-full theme-input"
                                                />
                                            </div>
                                        </div>
                                        <div class="tsdbs-input-area">
                                            <div class="tsdbs-input-block">
                                                <TextInput
                                                    type="text"
                                                    :placeholder="`${ $t('main.dashboard.toolbar.search_box.collaborators') }`"
                                                    class="block w-full theme-input"
                                                />
                                            </div>
                                        </div>
                                        <div class="tsdbs-types typesx2">
                                            <div class="tsdbs-type-item">
                                                <span class="active">{{ $t('main.dashboard.toolbar.search_box.has_attachment') }}</span>
                                            </div>
                                            <div class="tsdbs-type-item">
                                                <span>{{ $t('main.dashboard.toolbar.search_box.any') }}</span>
                                            </div>
                                        </div>
                                        <div class="tsdbs-selector-area">
                                            <div class="tsdbs-selector-block">
                                                <Multiselect
                                                    :close-on-select="true"
                                                    :searchable="true"
                                                    label="name"
                                                    valueProp="id"
                                                    :options="[
                                                        {id: 1, name: $t('main.dashboard.toolbar.search_box.within_the_next')},
                                                        {id: 2, name: $t('main.dashboard.toolbar.search_box.within_the_last')},
                                                        {id: 3, name: $t('main.dashboard.toolbar.search_box.between')},
                                                        {id: 4, name: $t('main.dashboard.toolbar.search_box.on')}
                                                    ]"
                                                />
                                            </div>
                                        </div>
                                        <div class="tsdbs-input-group">
                                            <div class="tsdbs-input-block">
                                                <TextInput
                                                    type="number"
                                                    :placeholder="`${ $t('main.global.length') }`"
                                                    class="block w-full theme-input"
                                                />
                                            </div>
                                            <div class="tsdbs-selector-block">
                                                <Multiselect
                                                    :close-on-select="true"
                                                    :searchable="true"
                                                    label="name"
                                                    valueProp="id"
                                                    :options="[
                                                        {id: 1, name: $t('main.global.days')},
                                                        {id: 2, name: $t('main.global.weeks')},
                                                        {id: 3, name: $t('main.global.months')},
                                                        {id: 4, name: $t('main.global.years')}
                                                    ]"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tsdbs-footer">
                                        <span class="tsdbs-footer-cancel theme-tsdbs-footer-cancel" @click="taskSearchTab = 1">{{ $t('main.global.cancel') }}</span>
                                        <span class="tsdbs-footer-submit theme-tsdbs-footer-submit" @click="taskSearchTab = 1">{{ $t('main.global.save_changes') }}</span>
                                    </div>
                                </div>-->
                            </div>
                        </template>
                    </Dropdown>
                </div>
                <div class="navbar-tool-item tool-tasks" @click="openActivityLog">
                    <i class="ki-duotone ki-chart-simple">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                    </i>
                </div>
                <div class="navbar-tool-item tool-notifications">
                    <Dropdown>
                        <template #dropdownIcon>
                                <span class="navbar-tool-icon">
                                    <i class="ki-duotone ki-binance">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>
                                </span>
                        </template>
                        <template #dropdownBody>
                            <div class="TN-dropdown-menu">
                                <div class="TN-dropdown-header">
                                    <div class="TN-dropdown-header-title">
                                        {{ $t('main.dashboard.toolbar.notifications.notifications') }} <span>24 {{ $t('main.dashboard.toolbar.notifications.reports') }}</span>
                                    </div>
                                    <div class="TN-dropdown-header-tabs">
                                        <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="pills-alerts-tab" data-bs-toggle="pill" data-bs-target="#pills-alerts" type="button" role="tab" aria-controls="pills-alerts" aria-selected="true">{{ $t('main.dashboard.toolbar.notifications.alerts') }}</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-logs-tab" data-bs-toggle="pill" data-bs-target="#pills-logs" type="button" role="tab" aria-controls="pills-logs" aria-selected="false">{{ $t('main.dashboard.toolbar.notifications.logs') }}</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-email-tab" data-bs-toggle="pill" data-bs-target="#pills-email" type="button" role="tab" aria-controls="pills-email" aria-selected="false">{{ $t('main.dashboard.toolbar.notifications.email') }}</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="TN-dropdown-body-tabs">
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-alerts" role="tabpanel" aria-labelledby="pills-alerts-tab">
                                            <div class="TN-dropdown-alert-items">
                                                <div class="TN-dropdown-alert-item">
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-icon blue-icon">
                                                            <i class="ki-duotone ki-abstract-28 fs-2 text-primary"><span class="path1"></span><span class="path2"></span></i>
                                                        </div>
                                                        <div class="TN-dropdown-alert-item-title">
                                                            <a href="#">Project Alice</a>
                                                            <span>Phase 1 development</span>
                                                        </div>
                                                    </div>
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-time">
                                                            <span>1 hr</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="TN-dropdown-alert-item">
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-icon blue-icon">
                                                            <i class="ki-duotone ki-information fs-2 text-danger"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                                        </div>
                                                        <div class="TN-dropdown-alert-item-title">
                                                            <a href="#">HR Confidential</a>
                                                            <span>Confidential staff documents</span>
                                                        </div>
                                                    </div>
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-time">
                                                            <span>2 hr</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="TN-dropdown-alert-item">
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-icon blue-icon">
                                                            <i class="ki-duotone ki-briefcase fs-2 text-warning"><span class="path1"></span><span class="path2"></span></i>
                                                        </div>
                                                        <div class="TN-dropdown-alert-item-title">
                                                            <a href="#">Company HR</a>
                                                            <span>Corporeate staff profiles</span>
                                                        </div>
                                                    </div>
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-time">
                                                            <span>3 hr</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="TN-dropdown-alert-items-more">
                                                <a href="#">View All <i class="ki-duotone ki-arrow-right fs-5"><span class="path1"></span><span class="path2"></span></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-logs" role="tabpanel" aria-labelledby="pills-logs-tab">
                                            <div class="TN-dropdown-alert-items">
                                                <div class="TN-dropdown-alert-item">
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <span class="TN-dropdown-alert-item-log-status green-log">200 ok</span>
                                                        <div class="TN-dropdown-alert-item-title">
                                                            <a href="#">New Order</a>
                                                        </div>
                                                    </div>
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-time">
                                                            <span>Just now</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="TN-dropdown-alert-item">
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <span class="TN-dropdown-alert-item-log-status red-log">500 err</span>
                                                        <div class="TN-dropdown-alert-item-title">
                                                            <a href="#">New Order</a>
                                                        </div>
                                                    </div>
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-time">
                                                            <span>Just now</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="TN-dropdown-alert-items-more">
                                                <a href="#">{{ $t('main.global.view_all') }} <i class="ki-duotone ki-arrow-right fs-5"><span class="path1"></span><span class="path2"></span></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab">
                                            <div class="TN-dropdown-alert-items TN-dropdown-email-items">
                                                <div class="TN-dropdown-alert-item" v-for="item in invoiceNotification" :key="item.id">
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <span class="TN-dropdown-alert-item-log-status" :class="`${item.status}-email`">{{item.status}}</span>
                                                        <div class="TN-dropdown-alert-item-title">
                                                            <a href="#" class="">{{ $t('main.dashboard.toolbar.notifications.invoice') }}</a>
                                                            <span>{{item.subject}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="TN-dropdown-alert-item-side">
                                                        <div class="TN-dropdown-alert-item-time">
                                                            <span>{{item.created_at}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="separator"></div>
                                            <div class="TN-dropdown-alert-items-more">
                                                <a href="#" @click="loadMoreEmail">{{ $t('main.global.show_more') }} <i class="ki-duotone ki-arrow-right fs-5"><span class="path1"></span><span class="path2"></span></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </Dropdown>
                </div>
<!--                <div class="navbar-tool-item tool-chat" @click="chatModal = true">
                    <i class="ki-duotone ki-message-text-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                </div>-->
<!--                <div class="navbar-tool-item tool-links">
                    <Dropdown>
                        <template #dropdownIcon>
                                <span class="navbar-tool-icon">
                                    <i class="ki-duotone ki-element-11">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                </i>
                                </span>
                        </template>
                        <template #dropdownBody>
                            <div class="TL-dropdown-menu">
                                <div class="TL-dropdown-header">
                                    <span class="TL-dropdown-header-title text-white fw-semibold">{{ $t('main.dashboard.toolbar.quick_links.quick_links') }}</span>
                                    <span class="TL-dropdown-header-subtitle badge text-inverse-primary py-2 px-3">25 {{ $t('main.dashboard.toolbar.quick_links.pending_tasks') }}</span>
                                </div>
                                <div class="TL-dropdown-body">
                                    <div class="TL-dropdown-items">
                                        <div class="TL-dropdown-item">
                                            <a href="#">
                                                <span class="TL-dropdown-item-icon"><i class="ki-duotone ki-dollar fs-3x text-primary"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i></span>
                                                <span class="TL-dropdown-item-title">{{ $t('main.dashboard.toolbar.quick_links.accounting') }}</span>
                                                <span class="TL-dropdown-item-subtitle">{{ $t('main.dashboard.toolbar.quick_links.e_commerce') }}</span>
                                            </a>
                                        </div>
                                        <div class="TL-dropdown-item">
                                            <a href="#">
                                                <span class="TL-dropdown-item-icon"><i class="ki-duotone ki-sms fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i></span>
                                                <span class="TL-dropdown-item-title">{{ $t('main.dashboard.toolbar.quick_links.administration') }}</span>
                                                <span class="TL-dropdown-item-subtitle">{{ $t('main.dashboard.toolbar.quick_links.console') }}</span>
                                            </a>
                                        </div>
                                        <div class="TL-dropdown-item">
                                            <a href="#">
                                                <span class="TL-dropdown-item-icon"><i class="ki-duotone ki-abstract-41 fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i></span>
                                                <span class="TL-dropdown-item-title">{{ $t('main.dashboard.toolbar.quick_links.projects') }}</span>
                                                <span class="TL-dropdown-item-subtitle">{{ $t('main.dashboard.toolbar.quick_links.pending_tasks') }}</span>
                                            </a>
                                        </div>
                                        <div class="TL-dropdown-item">
                                            <a href="#">
                                                <span class="TL-dropdown-item-icon"><i class="ki-duotone ki-briefcase fs-3x text-primary"><span class="path1"></span><span class="path2"></span></i></span>
                                                <span class="TL-dropdown-item-title">{{ $t('main.dashboard.toolbar.quick_links.customers') }}</span>
                                                <span class="TL-dropdown-item-subtitle">{{ $t('main.dashboard.toolbar.quick_links.latest_cases') }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator"></div>
                                <div class="TL-dropdown-footer">
                                    <a href="#">{{ $t('main.global.view_all') }}
                                        <i class="ki-duotone ki-arrow-right fs-5">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </a>
                                </div>
                            </div>
                        </template>
                    </Dropdown>
                </div>-->
<!--
                <div class="navbar-tool-item tool-theme hoverable-dropdown">
                    <button class="navbar-tool-icon">
                        <i v-if="!darkMode" class="ki-duotone ki-night-day theme-light-show">
                            <span class="path1"></span>
                            <span class="path2"></span>
                            <span class="path3"></span>
                            <span class="path4"></span>
                            <span class="path5"></span>
                            <span class="path6"></span>
                            <span class="path7"></span>
                            <span class="path8"></span>
                            <span class="path9"></span>
                            <span class="path10"></span>
                        </i>
                        <i v-else class="ki-duotone ki-moon fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </button>
                    <div class="hoverable-dropdown-menu dropdown-menu-end">
                        <div class="TT-dropdown theme-card">
                            <ul class="TT-dropdown-menu-list">
                                <li @click="switchTheme('light')">
                                        <span class="dropdown-item theme-control-link">
                                            <i class="ki-duotone ki-night-day fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                                <span class="path4"></span>
                                                <span class="path5"></span>
                                                <span class="path6"></span>
                                                <span class="path7"></span>
                                                <span class="path8"></span>
                                                <span class="path9"></span>
                                                <span class="path10"></span>
                                            </i>{{ $t('main.dashboard.toolbar.theme_control.light') }}
                                        </span>
                                </li>
                                <li @click="switchTheme('dark')">
                                        <span class="dropdown-item theme-control-link">
                                            <i class="ki-duotone ki-moon fs-2">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                            </i>{{ $t('main.dashboard.toolbar.theme_control.dark') }}
                                        </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
-->
                <div class="navbar-tool-item tool-profile">
                    <Dropdown>
                        <template #dropdownIcon>
                                <span class="TP-avatar">
                                    <img :src="$page.props.auth.user.profile_photo_url" :alt="$page.props.auth.user.name">
                                </span>
                        </template>
                        <template #dropdownBody>
                            <div class="TP-dropdown-menu">
                                <div class="TP-dropdown-menu-header">
                                    <div class="TP-dropdown-menu-header-avatar">
                                        <img :src="$page.props.auth.user.profile_photo_url" :alt="$page.props.auth.user.name">
                                    </div>
                                    <div class="TP-dropdown-menu-header-info">
                                        <span class="TP-dropdown-menu-header-info-name theme-title">{{ $page.props.auth.user.name }}</span>
                                        <a :href="`mailto:${$page.props.auth.user.email}`" class="TP-dropdown-menu-header-info-email">{{$page.props.auth.user.email}}</a>
                                    </div>
                                </div>
                                <div class="separator my-2"></div>
                                <ul class="TP-dropdown-menu-list">
                                    <li><a class="dropdown-item" :href="route('profile.show')">{{ $t('main.dashboard.toolbar.profile.my_profile') }}</a></li>
                                    <li><a class="dropdown-item" v-if="$page.props.auth.user.company_id" :href="route('company.dashboard')">{{ $t('main.dashboard.toolbar.profile.my_company') }}</a></li>
                                    <li><a class="dropdown-item" v-if="$page.props.auth.user.company_id" :href="route('settings.dashboard')">{{ $t('main.dashboard.toolbar.profile.my_settings') }}</a></li>
                                    <li><a class="dropdown-item" v-if="checkRole('company-admin')" href="/billing">{{ $t('main.dashboard.toolbar.profile.my_billing') }}</a></li>
                                    <li>
                                        <div class="separator my-2"></div>
                                        <form @submit.prevent="logout">
                                            <button class="dropdown-item">{{ $t('main.dashboard.toolbar.profile.sign_out') }}</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </template>
                    </Dropdown>
                </div>
            </div>
        </div>
    </header>

    <RightDialogModal :dialogId="'chatModalArea'" :width="500" :show="chatModal" @close="chatModal = false">
        <div class="chat-content theme-card">
            <div class="chat-header">
                <div class="chat-header-side chs-details">
                    <div class="chs-name theme-title">Brian Cox</div>
                    <div class="chs-status"><span></span> Active</div>
                </div>
                <div class="chat-header-side chs-action">
                        <span class="chs-settings">
                            <div class="dropdown">
                                <button data-bs-toggle="dropdown">
                                    <i class="ki-duotone ki-dots-square fs-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                    </i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end smooth-dropdown-menu theme-card">
                                    <div class="contact-dropdown-menu-header">Contacts</div>
                                    <ul class="TP-dropdown-menu-list chat-settings-dropdown">
                                        <li><span class="dropdown-item">Add Contacts</span></li>
                                        <li><span class="dropdown-item">Invite Contacts</span></li>
                                        <li><span class="dropdown-item">Groups</span></li>
                                        <li><span class="dropdown-item">Settings</span></li>
                                    </ul>
                                </div>
                            </div>
                        </span>
                    <span class="chs-close" @click="chatModal = false">
                            <button>
                                <i class="ki-duotone ki-cross-square fs-2">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </button>
                        </span>
                </div>
            </div>
            <div class="separator"></div>
            <div class="chat-body">
                <div class="chat-message-item">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">Brian Cox</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item chat-message-sent">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">You</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">Brian Cox</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item chat-message-sent">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">You</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">Brian Cox</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item chat-message-sent">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">You</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">Brian Cox</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item chat-message-sent">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">You</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">Brian Cox</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item chat-message-sent">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">You</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">Brian Cox</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="chat-message-item chat-message-sent">
                    <div class="chat-message-from">
                        <div class="cmf-avatar">
                            <img alt="Avatar" src="/images/avatars/blank.png">
                        </div>
                        <div class="cmf-name theme-title">You</div>
                        <div class="cmf-time">2 mins</div>
                    </div>
                    <div class="chat-message-text">How likely are you to recommend our company to your friends and family ?</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="separator"></div>
            <div class="chat-footer">
                <div class="chat-textarea">
                    <div class="single-field">
                            <TextArea
                                class="form-control form-control-flush mb-3 theme-input"
                                placeholder="Type a message"
                            ></TextArea>
                    </div>
                </div>
                <div class="chat-footer-action">
                    <div class="chat-attachments">
                        <span><i class="ki-duotone ki-paper-clip fs-3"></i></span>
                        <span>
                                <i class="ki-duotone ki-cloud-add fs-3">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                    </div>
                    <div class="chat-submit">
                        <span class="chat-submit-btn">Send</span>
                    </div>
                </div>
            </div>
        </div>
    </RightDialogModal>
    <RightDialogModal :dialogId="'taskModalArea'" :width="900" :show="taskModal" @close="taskModal = false">
        <div class="task-dialog-content theme-card">
            <div class="task-dialog-header">
                <div class="task-dialog-title theme-title">{{ $t('main.dashboard.toolbar.activity_logs.activity_logs') }}</div>
                <div class="task-dialog-settings">
                        <span @click="taskModal = false">
                            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                        </span>
                </div>
            </div>
            <div class="separator"></div>
            <div class="task-dialog-items">
                <div class="task-item" v-for="item in activityLogs">
                    <CRUDLog :log="item" />
                </div>
            </div>
            <div class="separator"></div>
            <div class="task-dialog-footer">
                <a @click="loadMore" href="#">{{ $t('main.dashboard.toolbar.activity_logs.view_more_activities') }} <i class="ki-duotone ki-arrow-right fs-5"><span class="path1"></span><span class="path2"></span></i></a>
            </div>
        </div>
    </RightDialogModal>
</template>
