<script setup>
import {Head, Link, router, usePage} from '@inertiajs/vue3';
import Navbar from "@/Layouts/Navbar.vue";
import TextInput from "@/Components/TextInput.vue";
import {onMounted, ref} from "vue";

const props = defineProps({
    pageTitle: {
        type: String,
        default: null
    },
    breadCrumbs: {
        type: [],
        default: [{title: 'main.dashboard.menu.dashboards'}]
    },
    enableSlotTable: {
        type: Boolean,
        default: true
    },
    enableBreadCrumbs: {
        type: Boolean,
        default: true
    },
    enableTop: {
        type: Boolean,
        default: true
    },
    enableTopBackground: {
        type: Boolean,
        default: false
    },
    enableSlotWrapper: {
        type: Boolean,
        default: false
    },
    enableSlotContent: {
        type: Boolean,
        default: true
    },
    enableSlotSearch: {
        type: Boolean,
        default: true
    },
    enableSlotFilter: {
        type: Boolean,
        default: true
    },
    enableSlotChart: {
        type: Boolean,
        default: false
    }
})

let darkMode = ref(false)

onMounted(async () => {
    if(localStorage.getItem('darkMode')){
        darkMode.value = true
        document.body.classList.remove('light-theme');
        document.body.classList.add('dark-theme');
    }else{
        document.body.classList.remove('dark-theme');
        document.body.classList.add('light-theme');
    }
})


const isDarkMode = (theme) => {
    if(theme === 'light'){
        darkMode.value = false;
        document.body.classList.remove('dark-theme');
        document.body.classList.add('light-theme');
    }else{
        darkMode.value = true;
        document.body.classList.remove('light-theme');
        document.body.classList.add('dark-theme');
    }
}
</script>
<template>
    <div class="page-workspace">
        <div class="page-workspace-header">
            <Navbar :darkMode="darkMode" @darkMode="isDarkMode"/>
        </div>
        <div class="page-workspace-top" v-if="enableTop">
            <div class="main-container">
                <div class="page-workspace-top-sides">
                    <div class="page-workspace-top-side">
                        <div class="page-workspace-top-side-top">
                            <div class="page-workspace-top-side-page-title">
                                <h2>{{pageTitle}}</h2>
                            </div>
                            <div class="page-workspace-top-side-actions">
<!--                                <slot name="workSpaceTopActions" v-if="enableSlotFilter"/>-->
                            </div>
                        </div>
                        <div class="page-workspace-top-side-breadcrumbs" v-if="enableBreadCrumbs">
                            <div class="page-workspace-path">
                                <a href="/">Home</a>
                                <div class="page-workspace-path-inner" v-for="item in breadCrumbs">
                                    <a v-if="item.link" :href="item.link">{{$t(item.title)}}</a>
                                    <span v-else>{{$t(item.title)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-workspace-top-side">
                        <slot name="workSpaceTopSearch" v-if="enableSlotSearch"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-workspace-top" v-if="enableSlotChart">
            <div class="main-container">
                <slot name="workSpaceTopChart"/>
            </div>
        </div>
        <div class="page-workspace-content" :class="`${enableTopBackground ? 'dashboard-bg' : ''}`">
            <div class="main-container">
                <div class="page-workspace-top-side-page-title my-10" v-if="!enableTop">
                    <h2>{{pageTitle}}</h2>
                </div>
                <div class="workspace-data-table" v-if="enableSlotTable">
                    <div class="flex mb-16" v-if="enableSlotFilter">
                        <slot name="workSpaceTopActions"/>
                    </div>
                    <slot name="workSpaceDataTable" />
                </div>
                <div class="workspace-wrapper" v-if="enableSlotWrapper">
                    <slot name="workSpaceWrapper" />
                </div>
                <slot name="workSpaceContent" v-if="enableSlotContent"/>
            </div>
        </div>
    </div>
</template>
