<template>
    <div class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-100 auth-custom-background">
        <div class="login-card">
            <div>
                <slot name="logo" />
            </div>

            <div class="w-full sm:max-w-md mt-6 px-6 py-4 overflow-hidden sm:rounded-lg">
                <slot />
            </div>
        </div>
    </div>
</template>
<style>
body{
    margin: 0!important;
}
.auth-custom-background{
    background: rgb(0,149,162);
    background: linear-gradient(153deg, rgba(0,149,162,1) 0%, rgba(2,81,88,1) 53%);
}
.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    min-width: 450px;
}
</style>
