<script setup>
defineProps({
    type: {
        type: String,
        default: 'submit',
    },
});
</script>
<style scoped>
.custom-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    color: var(--white);
}
</style>
<template>
    <button :type="type" class="custom-btn px-4 py-2 border border-transparent rounded-md font-semibold text-xs uppercase tracking-widest hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition ease-in-out duration-150">
        <slot />
    </button>
</template>
