<script setup>
import {onMounted, ref, watch} from 'vue';

const props = defineProps({
    elementId: {
        type: String,
        default: null
    },
    modelValue: {
        type: String,
        default: ''
    },
    label: {
        type: String,
        default: ''
    },
    readOnly: {
        type: Boolean,
        default: false
    },
    suffix: {
        type: String,
        default: null
    },
    error: {
        default: null
    }
});

defineEmits(['update:modelValue']);

const input = ref(null);
let suffixWidth = ref(0)

onMounted(() => {
    if (input.value.hasAttribute('autofocus')) {
        input.value.focus();
    }
    getValueWidth()
});

defineExpose({ focus: () => input.value.focus() });

const getValueWidth = () => {
    if(props.suffix && props.elementId){
        let elem = document.getElementById(props.elementId)
        elem.innerHTML = props.modelValue
        suffixWidth.value = elem.clientWidth
    }
    return suffixWidth
}
</script>

<template>
    <div class="input-box" :class="{'input-box-error': error }">
        <input
            ref="input"
            type="number"
            class="input-number"
            :class="modelValue !== '' ? 'filled' : ''"
            :value="modelValue"
            @input="$emit('update:modelValue', $event.target.value)"
            @keyup="getValueWidth()"
            :readonly="readOnly"
        >
        <span class="input-label" :class="modelValue !== '' ? 'focused' : ''">{{ label }}</span>
        <span class="input-suffix" v-if="modelValue !== '' && suffix" :style="`left: ${suffixWidth + 25}px`">{{ suffix }}</span>
        <span :id="elementId" class="value-content"></span>
        <div v-if="error" class="input-error-message">{{error[0]}}</div>
    </div>
</template>
<style scoped>
.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}
.input-number{
    width: var(--input-width);
    height: var(--input-height);
    background: var(--input-background);
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    border-bottom: var(--input-border-bottom);
    color: #000;
    font-size: var(--input-filled-size);
    font-style: normal;
    line-height: 20px;
}
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.input-number[type=number] {
    -moz-appearance: textfield;
}
.input-number:focus, .input-number.filled{
    outline: var(--input-focus-outline);
    box-shadow: var(--input-focus-box-shadow);
    border: var(--input-focus-border);
    border-bottom: var(--input-focus-border-bottom);
}
.input-number::placeholder{
    color: var(--input-placeholder-color);
    font-size: var(--input-placeholder-size);
    font-style: var(--input-placeholder-font-style);
    font-weight: var(--input-placeholder-weight);
    line-height: var(--input-placeholder-line-height);
}
.input-label{
    position: absolute;
    top: 20px;
    left: 24px;
    pointer-events:none;
    transition: 0.2s ease all;
    color: #181C32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.input-number:focus ~ .input-label, .input-label.focused{
    top: 2px;
    transform: translateY(0);
    color: #035158;
    font-size: 12px;
    font-weight: 600;
}
input:read-only{
    color: #849293;
}
.input-suffix{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    z-index: 1;
}
input:read-only ~ .input-suffix{
    color: #849293;
}
.value-content{
    display: inline-block;
    height: 0;
    overflow-y: hidden;
    position: absolute;
    z-index: -1;
}
input:focus ~ .input-suffix{
    display: none;
}
</style>
