<script setup>
import {computed, onMounted, reactive, ref, watch} from "vue";
import EasyDataTable from "vue3-easy-data-table";
import TableActionButton from "@/Components/Metrionic/Buttons/TableActionButton.vue";
import DialogModal from '@/Components/DialogModal.vue';
import {usePage} from "@inertiajs/vue3";
import { useStore } from 'vuex'
import {isArray, isInteger} from "lodash";
import { useNotification } from "@kyvg/vue3-notification";
import TextInput from '@/Components/TextInput.vue';
import NumberInput from '@/Components/NumberInput.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import Selector from '@/Components/Selector.vue';
import Multiselect from '@vueform/multiselect'

const store = useStore()
const props = defineProps({
    productId: {
        type: Number,
        default: null
    },
    materialList: {
        type: Array,
        default: []
    },
    productMaterialList: {
        type: Array,
        default: []
    },
    setupEditableKey: {
        type: Boolean,
        default: false
    }
});


const { notify}  = useNotification()
const authUser = usePage().props.auth.user

const emits = defineEmits(['update'])

let newProductMaterial = reactive({
    'material_id': null,
    'quantity': 0,
})
let defaultProductMaterial = reactive({
    'material_id': null,
    'quantity': 0,
})
let errors = reactive({
    'material_id': '',
    'quantity': '',
})
let defaultErrors = reactive({
    'material_id': '',
    'quantity': '',
})

/*METHODS*/

const showError = (error) => {
    if(isArray(error)) return error[0]
    return error
}

const resetErrors = () => {
    errors = {... defaultErrors}
}

const addProductMaterial = async () => {
    let data = {
        'material_id' : newProductMaterial.material_id,
        'quantity' : newProductMaterial.quantity,
        'product_id' : props.productId
    }
    await axios.post(route('productMaterial.store'), data)
        .then(async () => {
            newProductMaterial.material_id = null
            newProductMaterial.quantity = 0
            resetErrors()
            emits('update')
        })
        .catch((error) => {
            Object.assign(errors, error.response.data.errors)
        })
}

const updateProductMaterial = async (item) => {
    let data = {
        quantity: item.pivot.quantity,
        material_id: item.id
    }
    await axios.put(route('productMaterial.update', item.pivot.product_id), data)
        .then(async () => {
            props.productMaterialList[item.key]['editable'] = false
            resetErrors()
            emits('update')
        })
        .catch((error) => {
            Object.assign(errors, error.response.data.errors)
        })

}

const removeProductMaterialRequirement = async (item) => {
    let data = {
        product_id: item.pivot.product_id,
        material_id: item.id
    }
    await axios.post(route('productMaterial.removeMaterial'), data)
        .then(async () => {
            resetErrors()
            emits('update')
        })
        .catch((error) => {
            Object.assign(errors, error.response.data.errors)
        })
}

</script>
<style src="../../../node_modules/@vueform/multiselect/themes/default.css"></style>
<template>
    <div class="product-material-header">
        <h3 class="product-material-heading">{{$t('main.global.forms.labels.required_raw_materials')}}</h3>
        <span class="product-material-create" @click="addProductMaterial"><i class="fa fa-plus"></i></span>
    </div>
    <div class="new-product-material mb-16">
        <div class="product-material-selector">
            <Selector
                v-model="newProductMaterial.material_id"
                :defaultOption="$t('main.global.forms.labels.materials')"
                :options="materialList"
            ></Selector>
            <InputError class="mt-2" :message="showError(errors.material_id)" />
        </div>
        <div class="product-material-quantity">
            <NumberInput
                v-model="newProductMaterial.quantity"
                :label="$t('main.global.forms.labels.quantity')"
            />
            <InputError class="mt-2" :message="showError(errors.quantity)" />
        </div>
    </div>
    <div class="product-material-data">
        <div class="new-product-material mb-16" v-for="(item,i) in productMaterialList">
            <div class="product-material-selector">
                <TextInput
                    v-model="productMaterialList[item.key]['title']"
                    :label="$t('main.global.forms.labels.title')"
                    :readOnly="true"
                />
            </div>
            <div class="product-material-quantity">
                <NumberInput
                    v-model="productMaterialList[item.key]['pivot']['quantity']"
                    :label="$t('main.global.forms.labels.quantity')"
                    :class="!item.editable ? 'input-readOnly' : ''"
                    :readOnly="!item.editable"
                    :suffix="productMaterialList[item.key]['measurement']"
                    :elementId="`suffix-${i}`"
                    min="0"
                />
                <InputError class="mt-2" :message="showError(errors.quantity)" />
            </div>
            <div class="product-material-action">
                <span
                    class="product-material-action-item accept"
                    v-show="item.editable"
                    @click="updateProductMaterial(item)">
                    <i class="ki-duotone ki-check"></i>
                </span>
                <span
                    class="product-material-action-item edit"
                    v-show="!item.editable"
                    @click="productMaterialList[item.key]['editable'] = true">
                    <i class="ki-duotone ki-pencil">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <span
                    class="product-material-action-item delete"
                    @click="removeProductMaterialRequirement(item)">
                    <i class="ki-duotone ki-cross">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
            </div>
        </div>
    </div>
</template>
<style scoped>
.new-product-material{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-material-selector{
    width: calc(100% - 130px);
}
.product-material-quantity{
    width: 114px;
}
.product-material-action{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.product-material-header{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-material-heading{
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}
.product-material-create{
    color: #468694;
    cursor: pointer;
    font-size: 20px;
}
.product-material-data{
    width: 100%
}
.product-material-data
.product-material-selector {
    width: calc(100% - 170px);
}
.product-material-action-item{
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
}
.product-material-action-item i{
    font-size: 10px;
}
.product-material-action-item.accept{
    background: #56A656;
    color: white
}
.product-material-action-item.delete{
    background: #F00;
    color: white
}
.product-material-action-item.edit{
    background: #DE833E;
    color: white;
}
</style>
