<script setup>
import {onMounted, reactive, ref, watch} from "vue";
import TextInput from '@/Components/TextInput.vue'
import {isArray} from "lodash";

const props = defineProps({
    modelValue: {
        type: Object,
        default: {},
    },
    data: {
        type: Array,
        default: []
    },
    error: {
        default: null
    }
})

const additional = ref([])

const emits = defineEmits(['update:modelValue', 'result', 'resetErrors']);

const selectedOption = ref(null);

watch(() => props.modelValue, () => {
    emits('update:modelValue', props.modelValue)
});

watch(() => props.data, () => {
    additional.value = props.data
});


const removeNewCustomField = (key) => {
    additional.value.splice(key, 1)
    updateData()
}

const createProductCustomField = () =>  {
    let data = {key: props.modelValue.name, value: props.modelValue.value}
    props.modelValue.name = ''
    props.modelValue.value = ''
    additional.value.push(data)
    updateData()
}

const updateProductCustomField = (key, item) => {
    additional.value[key] = item
    updateData()
    emits('resetErrors', key)
}

const updateData = () => {
    props.data = additional.value
    emits('result', JSON.stringify(props.data))
}

</script>

<template>
    <div class="repeatable-header">
        <h3 class="repeatable-heading">{{$t('main.global.forms.labels.custom_fields')}}
            <span class="custom-tooltip">
                <i class="fa fa-question" aria-hidden="true"></i>
                <div class="custom-tooltip-text">
                    Tootltip text for explanation. Text as long as it’s needed
                </div>
            </span>
        </h3>
        <span class="repeatable-create" @click="createProductCustomField"><i class="fa fa-plus"></i></span>
    </div>
    <div class="repeatable-fields-main mb-16" v-for="(item, i) in additional">
        <div class="repeatable-fields">
            <div class="repeatable-field-join">
                <TextInput
                    :class="{'input-box-error': error && error[i] && error[i]['key']}"
                    inputStyle="joinable"
                    v-model="item.key"
                    label="Key"
                    @change="updateProductCustomField(i, item)"
                />
                <TextInput
                    :class="{'input-box-error': error && error[i] && error[i]['value']}"
                    inputStyle="joinable"
                    v-model="item.value"
                    label="Value"
                    @change="updateProductCustomField(i, item)"
                />
            </div>
            <div class="repeatable-field-action">
                <span class="repeatable-remove" @click="removeNewCustomField(i)"><i class="fa fa-times"></i></span>
            </div>
        </div>
        <div v-if="error[i]" class="input-error-message">
            <p>{{error[i]['key']}}</p>
            <p>{{error[i]['value']}}</p>
        </div>
    </div>
</template>
<style scoped>
.repeatable-header{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.repeatable-heading{
    display: flex;
    align-items: center;
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}
.repeatable-create{
    color: #468694;
    cursor: pointer;
    font-size: 20px;
}
.repeatable-fields-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.repeatable-fields{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px;
}
.repeatable-field-join{
    width: 100%;
}
.repeatable-field-action{
    margin-left: 5px;
}
.repeatable-remove{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: #FF0000;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
</style>
