<script setup>

import {computed, onMounted, reactive, ref, watch} from "vue";
import Selector from '@/Components/Selector.vue';
import NumberInput from '@/Components/NumberInput.vue';
import {useStore} from "vuex";

const props = defineProps({
    productId: {
        type: Number,
        default: null
    },
    status: {
        type: Boolean,
        default: false,
    },
    error: {
        default: null
    }
})

const store = useStore()

const emits = defineEmits(['update', 'resetErrors'])

const materials = computed(() => {
    return  store.getters["material/materialList"]
})
const productMaterials = computed(() => {
    return  store.getters["product/materials"]
})

let materialList = ref([])
let productMaterialList = ref([])
let choosenMaterial = reactive({})
let materialStatus = ref(false)

/****METHODS****/

watch(() => props.productId, async () => {
    if (props.productId) {
        await updatePageData()
    }
});

watch(() => props.status, async () => {
    if (props.status) {
        materialStatus.value = true
    }
});

const updatePageData = async () => {
    await store.dispatch('material/getMaterialList')
    await store.dispatch('product/getMaterials', props.productId)
    generateEditableData()
}

const generateEditableData = () => {
    productMaterialList.value = []
    productMaterials.value.map((item,i) => {
        let data = {
            value: item.pivot.material_id,
            title: item.title,
            quantity: item.pivot.quantity,
            unit_measure: item.unit_measure,
        }
        productMaterialList.value.push(data)
    })
    if(materials.value.length){
        materialList.value = []
        materials.value.map(item => {
            materialList.value.push({value: item.id, title: item.title, unit_measure: item.unit_measure})
        })
    }

}


const addProductMaterial = async () => {
    let data = {
        'value' : null,
        'unit_measure' : 'pcs',
        'quantity' : 0,
        'product_id' : props.productId
    }

    productMaterialList.value.push(data)

    updateMaterial()
}

const updateMaterial = (key, isObj = false) => {
    if(isObj){
        productMaterialList.value[key]['value'] = choosenMaterial['value']
        productMaterialList.value[key]['unit_measure'] = choosenMaterial['unit_measure']
    }
    emits('resetErrors', key)
    emits('update', productMaterialList.value)
}

const removeProductMaterialRequirement = async (key) => {
    productMaterialList.value.splice(key, 1)
    emits('update', productMaterialList.value)
}
</script>
<template>
        <div class="product-material-header">
            <h3 class="product-material-heading">{{$t('main.global.forms.labels.required_raw_materials')}}
                <span class="custom-tooltip">
                    <i class="fa fa-question" aria-hidden="true"></i>
                    <div class="custom-tooltip-text">
                        Tootltip text for explanation. Text as long as it’s needed
                    </div>
                </span>
            </h3>
            <span class="product-material-create" @click="addProductMaterial"><i class="fa fa-plus"></i></span>
        </div>
        <div class="product-material-data" v-if="productMaterialList">
        <div class="new-product-material mb-16" v-for="(item,i) in productMaterialList">
            <div class="new-product-material-inner">
                <div class="product-material-selector">
                    <Selector
                        v-if="materialStatus"
                        v-model="choosenMaterial"
                        :defaultOption="$t('main.global.forms.labels.materials')"
                        :options="materialList"
                        :isObject="true"
                        @change="updateMaterial(i, true)"
                    ></Selector>
                </div>
                <div class="product-material-quantity">
                    <NumberInput
                        v-model="productMaterialList[i]['quantity']"
                        :label="$t('main.global.forms.labels.quantity')"
                        :class="!item.editable ? 'input-readOnly' : ''"
                        :suffix="productMaterialList[i]['unit_measure']"
                        :elementId="`suffix-${i}`"
                        min="0"
                        @change="updateMaterial(i)"
                    />
                </div>
                <div class="product-material-action">
                <span
                    class="product-material-action-item delete"
                    @click="removeProductMaterialRequirement(i)">
                    <i class="ki-duotone ki-cross">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
            </div>
            </div>
            <div v-if="error && error[i]" class="input-error-message">
                <p>{{error[i]['value']}}</p>
                <p>{{error[i]['quantity']}}</p>
            </div>
        </div>
    </div>
</template>
<style scoped>
.new-product-material{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.new-product-material-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-material-header{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-material-heading{
    display: flex;
    align-items: center;
    color: #181C32;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}
.product-material-create{
    color: #468694;
    cursor: pointer;
    font-size: 20px;
}
.product-material-data{
    width: 100%
}
.product-material-data .product-material-selector {
    width: calc(100% - 170px);
}
.product-material-action-item{
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 5px;
}
.product-material-action-item i{
    font-size: 10px;
}
.product-material-action-item.accept{
    background: #56A656;
    color: white
}
.product-material-action-item.delete{
    background: #F00;
    color: white
}
.product-material-action-item.edit{
    background: #DE833E;
    color: white;
}
</style>
