<script setup>
import {onMounted, ref, watch} from "vue";

const props = defineProps({
    modelValue: {
        type: String,
        default: null,
        required: true,
    },
    options: {
        type: Array,
        default: [],
        required: true,
    },
    defaultOption: {
        type: String,
        default: ''
    },
    favorite: {
        type: Boolean,
        default: false
    },
    grouping: {
        type: Boolean,
        default: false
    },
    isObject: {
        type: Boolean,
        default: false
    },
    error: {
        default: null
    }
})

watch(() => props.modelValue, () => {
    if (props.modelValue !== null) {
        let option = null
        if(!props.grouping){
            option = getObjectKey(props.options, props.modelValue)
        }else{
            props.options.map((item) => {
                if(!option){
                    option = getNestedObjectKey(item.data, props.modelValue)
                }
            })
        }
        if(option){
            selectedOption.value = option.title;
        }
    }
});

onMounted(() => {
    if(props.modelValue){
        let option = getObjectKey(props.options, props.modelValue)
        if(option){
            selectedOption.value = option.title;
        }
    }
})


const getObjectKey = (obj, value) => {
    let option = null
    obj.map(item => {
        if(item['value'] == value.toString()){
            option = item
        }
    })
    return option
}

const getNestedObjectKey = (obj, value) => {
    let option = null
    obj.map(item => {
        if(item.value === value.toString()){
            option = item
        }
    })
    return option
}

const emits = defineEmits(['update:modelValue', 'change']);

const selectedOption = ref(null);
const isOpen = ref(false);

const toggleDropdown = () => {
    isOpen.value = !isOpen.value;
};

const selectOption = (option) => {
    selectedOption.value = option.title;
    emits('update:modelValue', props.isObject ? option : option.value)
    emits('change')
};

const switchFavorite = async (option) => {
    option.is_favorite = !option.is_favorite
    await axios.get(route('selector.switchFavorite', option.id))
}

</script>

<template>
    <div class="selector" :class="{'selector-error': error }" @click="toggleDropdown">
        <span class="selector-label" :class="(isOpen || selectedOption !== null) ? 'focused' : ''">{{ defaultOption }}</span>
        <span class="selector-value" :class="(isOpen || selectedOption !== null) ? 'focused' : ''">{{ selectedOption ?? '' }}</span>
        <div class="options" v-show="isOpen">
            <div
                v-if="!grouping"
                class="option"
                v-for="option in options"
                :key="option.value"
                @click="selectOption(option)"
            >
                <span class="option-favorite" v-if="favorite"><i class="fa fa-star" :class="option.favorite ? 'active' : ''"></i></span>
                <span class="option-text">{{ option.title }}</span>
            </div>
            <div
                v-else
                class="option-group"
                v-for="group in options"
            >

                <span class="option-group-title">{{group.title}}</span>
                <div
                    class="option"
                    v-for="option in group.data"
                    :key="option.value"
                    @click="selectOption(option)"
                >
                    <span class="option-favorite" v-if="favorite" @click.stop="switchFavorite(option)"><i class="fa fa-star" :class="option.is_favorite ? 'active' : ''"></i></span>
                    <span class="option-text">{{ option.title }}</span>
                </div>
            </div>
        </div>
    </div>
    <div v-if="error" class="input-error-message">{{error[0]}}</div>
</template>
<style scoped>
.selector{
    position: relative;
    width: var(--selector-width);
    height: var(--selector-height);
    background: var(--selector-background);
    padding: var(--selector-padding);
    border-radius: var(--selector-border-radius);
    border: var(--selector-border);
    border-bottom: var(--selector-border-bottom);
}
.selector:before{
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
}
.selector:focus{
    outline: var(--selector-focus-outline);
    box-shadow: var(--selector-focus-box-shadow);
    border: var(--selector-focus-border);
    border-bottom: var(--selector-focus-border-bottom);
}
.selector-label{
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    pointer-events:none;
    transition: 0.2s ease all;
    color: #181C32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.selector-label.focused{
    top: 7px;
    transform: translateY(0);
    color: #035158;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

.selector-value.focused{
    width: 100%;
    display: flex;
    margin-top: 7px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: 14px;
}

.options {
    width: 100%;
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    z-index: 10;
    flex-direction: column;
    background-color: #F5EEEF;
    padding: 24px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.option-group-title{
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    color: #849293;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
    padding: 0 24px;
}

.option {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 30px;
    padding: 0 47px;
    transition: 0s;
}

.option > .option-text{
    color: #181C32;
    transition: 0s;
}

.option:hover{
    background: #468694;
}

.option:hover .option-text{
    color: #F1FAFF;
}

.option-favorite{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    color: #D9D9D9;
}
.option-favorite .active{
    color: #E4BC55;
}
</style>
