<script setup>
import {onMounted, ref, watch} from 'vue';

const props = defineProps({
    inputStyle: {
        type: String,
        default: null
    },
    modelValue: {
        type: String,
        default: ''
    },
    label: {
        type: String,
        default: ''
    },
    type: {
        type: String,
        default: 'text'
    },
    icon: {
        type: String,
        default: null
    },
    readOnly: {
        type: Boolean,
        default: false
    },
    error: {
        default: null
    }
});

defineEmits(['update:modelValue']);

const input = ref(null);

onMounted(() => {
    if (input.value.hasAttribute('autofocus')) {
        input.value.focus();
    }
});

defineExpose({ focus: () => input.value.focus() });
</script>

<template>
    <div class="input-box" :class="[inputStyle, {'input-box-error': error}]">
        <div class="input-icon" v-if="icon">
            <span v-html="icon"></span>
        </div>
        <input
            :readonly="readOnly"
            ref="input"
            class="input-text"
            :class="modelValue ? 'filled' : ''"
            :type="type"
            :value="modelValue"
            @input="$emit('update:modelValue', $event.target.value)"
        >
        <span class="input-label" :class="modelValue ? 'focused' : ''">{{ label }}</span>
        <div v-if="error" class="input-error-message">{{error[0]}}</div>
    </div>
</template>
<style scoped>
.input-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-text{
    width: var(--input-width);
    height: var(--input-height);
    background: var(--input-background);
    padding: var(--input-padding);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    border-bottom: var(--input-border-bottom);
    color: #000;
    font-size: var(--input-filled-size);
    font-style: normal;
    line-height: 20px;
}
.input-text:focus,.input-text.filled{
    outline: var(--input-focus-outline);
    box-shadow: var(--input-focus-box-shadow);
    border: var(--input-focus-border);
    border-bottom: var(--input-focus-border-bottom);
}
.input-text::placeholder{
    color: var(--input-placeholder-color);
    font-size: var(--input-placeholder-size);
    font-style: var(--input-placeholder-font-style);
    font-weight: var(--input-placeholder-weight);
    line-height: var(--input-placeholder-line-height);
}
.input-label{
    position: absolute;
    top: 19px;
    left: 24px;
    pointer-events:none;
    transition: 0.2s ease all;
    color: #181C32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.input-text:focus ~ .input-label, .input-label.focused{
    top: 2px;
    transform: translateY(0);
    color: #035158;
    font-size: 12px;
    font-weight: 600;
}
.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}
.input-icon ~ .input-text{
    padding-left: 65px;
}
.input-icon ~ .input-label{
    left: 65px;
}
input:read-only{
    color: #849293;
}
/*SEARCHABLE STYLE*/
.searchable .input-text{
    height: 34px;
    border-radius: 5px;
}
.searchable .input-label{
    top: 9px;
}
.searchable .input-text::placeholder{
    font-size: 12px;
}
.searchable .input-icon ~ .input-label{
    left: 40px;
}
.searchable .input-text:focus ~ .input-label, .input-label.focused{
    top: 2px;
}
.searchable .input-icon ~ .input-text{
    padding-left: 40px;
}
.searchable .input-icon{
    left: 17px;
    width: 15px;
    height: 15px;
}

/*JOINABLE STYLE*/
.joinable .input-text{
    height: 34px;
    padding: 0 0 0 25px;
    border: none;
    border-radius: 0;
}
.joinable .input-label{
    top: 9px;
}
.joinable .input-text:focus ~ .input-label, .input-label.focused{
    top: 2px;
}

/*AUTHENTICABLE STYLE */
.authenticable .input-text{
    height: 43px;
    background: none;
    border-radius: 7px;
    border-bottem: none;
    border: 1px solid #E1E3EA;
}
.authenticable .input-label{
    top: 10px;
}
.authenticable .input-text:focus ~ .input-label, .input-label.focused{
    top: 0px;
}
</style>
<style>
.input-icon i{
    font-size: 30px!important;
    color: #035158;
}
.searchable .input-icon i{
    font-size: 17px!important;
}
</style>
