<script setup>
import {onMounted, ref} from 'vue';

const props = defineProps({
    modelValue: {
        type: String,
        default: ''
    },
    label: {
        type: String,
        default: ''
    }
})

defineEmits(['update:modelValue']);

const input = ref(null);

onMounted(() => {
    if (input.value.hasAttribute('autofocus')) {
        input.value.focus();
    }
});

defineExpose({focus: () => input.value.focus()});
</script>

<template>
    <div class="textarea-box">
        <textarea
            ref="input"
            class="textarea"
            :class="modelValue ? 'filled' : ''"
            :value="modelValue"
            @input="$emit('update:modelValue', $event.target.value)"
        ></textarea>
        <span class="textarea-label" :class="modelValue ? 'focused' : ''">{{ label }}</span>
    </div>
</template>
<style scoped>
.textarea-box{
    width: 100%;
    display: flex;
    position: relative;
}
.textarea{
    width: var(--textarea-width);
    height: var(--textarea-height);
    background: var(--textarea-background);
    padding: var(--textarea-padding);
    border-radius: var(--textarea-border-radius);
    border: var(--textarea-border);
    border-bottom: var(--textarea-border-bottom);
    resize: none;
    padding-top: 25px;
    color: #000;
    font-size: var(--textarea-filled-size);
    font-style: normal;
    line-height: 14px;
}
.textarea:focus,.textarea.filled{
    outline: var(--textarea-focus-outline);
    box-shadow: var(--textarea-focus-box-shadow);
    border: var(--textarea-focus-border);
    border-bottom: var(--textarea-focus-border-bottom);
}
.textarea::placeholder{
    color: var(--textarea-placeholder-color);
    font-size: var(--textarea-placeholder-size);
    font-style: var(--textarea-placeholder-font-style);
    font-weight: var(--textarea-placeholder-weight);
    line-height: var(--textarea-placeholder-line-height);
}
.textarea-label{
    position: absolute;
    top: 19px;
    left: 24px;
    pointer-events:none;
    transition: 0.2s ease all;
    color: #181C32;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.textarea:focus ~ .textarea-label, .textarea-label.focused{
    top: 7px;
    transform: translateY(0);
    color: #035158;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}
</style>
