<script setup>
import { ref } from 'vue';
import { useForm } from '@inertiajs/vue3';
import ActionSection from '@/Components/ActionSection.vue';
import DangerButton from '@/Components/DangerButton.vue';
import DialogModal from '@/Components/DialogModal.vue';
import InputError from '@/Components/InputError.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { wTrans } from 'laravel-vue-i18n';

const confirmingUserDeletion = ref(false);
const passwordInput = ref(null);

const form = useForm({
    password: '',
});

const confirmUserDeletion = () => {
    confirmingUserDeletion.value = true;

    setTimeout(() => passwordInput.value.focus(), 250);
};

const deleteUser = () => {
    form.delete(route('current-user.destroy'), {
        preserveScroll: true,
        onSuccess: () => closeModal(),
        onError: () => passwordInput.value.focus(),
        onFinish: () => form.reset(),
    });
};

const closeModal = () => {
    confirmingUserDeletion.value = false;

    form.reset();
};
</script>

<template>
    <ActionSection>
        <template #title>
            <span class="theme-title">{{ $t('main.global.delete_account') }}</span>
        </template>

        <template #description>
            <span class="theme-title">{{ $t('main.global.actions.permanently_delete_your_account') }}</span>
        </template>

        <template #content>
            <div class="max-w-xl text-sm text-gray-600 theme-title">
                {{ $t('main.global.delete_user_form_text_1') }}
            </div>

            <div class="mt-5">
                <span class="modal-footer-submit" @click="confirmUserDeletion">
                    {{ $t('main.global.delete_account') }}
                </span>
            </div>

            <!-- Delete Account Confirmation Modal -->
            <DialogModal :show="confirmingUserDeletion" @close="closeModal">
                <template #title>
                    <span class="theme-title">{{ $t('main.global.delete_account') }}</span>
                </template>

                <template #content>
                    <span class="theme-title"> {{ $t('main.global.delete_user_form_text_2') }}</span>

                    <div class="mt-4">
                        <TextInput
                            ref="passwordInput"
                            v-model="form.password"
                            type="password"
                            class="mt-1 block w-3/4 theme-input"
                            :placeholder="$t('main.global.forms.placeholder.password')"
                            autocomplete="current-password"
                            @keyup.enter="deleteUser"
                        />

                        <InputError :message="form.errors.password" class="mt-2" />
                    </div>
                </template>

                <template #footer>
                    <span class="modal-footer-cancel" @click="closeModal">
                        {{ $t('main.global.cancel') }}
                    </span>

                    <button
                        class="ml-3 modal-footer-submit"
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing"
                        @click="deleteUser"
                    >
                        {{ $t('main.global.delete_account') }}
                    </button>
                </template>
            </DialogModal>
        </template>
    </ActionSection>
</template>
