<script setup>
import {computed, ref} from 'vue';
import ActionSection from '@/Components/ActionSection.vue';
import Swal from 'sweetalert2'
import {trans, wTrans} from "laravel-vue-i18n";
import SectionBorder from '@/Components/SectionBorder.vue';
import {useStore} from "vuex";
import {useNotification} from "@kyvg/vue3-notification";

const props = defineProps({
    user: Object,
    invoiceNotifications: Object
});

const emits = defineEmits(['update'])

const store = useStore()
const { notify}  = useNotification()

let invoiceNotificationList = JSON.parse(props.invoiceNotifications.value)

const updateInvoiceNotifications = async () => {
    let data = {
        _method: 'PUT',
        name: props.invoiceNotifications.name,
        value: invoiceNotificationList
    }
    await axios.post(route('settings.update', props.invoiceNotifications.id), data)
        .then((response) => {
            notify({
                type: "success",
                text: wTrans('main.global.notifications.settings_updated'),
            });
            emits('update')
        })
        .catch((error) => {
            notify({
                type: "error",
                text: wTrans('main.global.notifications.failed'),
            });

        })
};

</script>
<template>
    <ActionSection>
        <template #title>
            <span class="theme-title">{{ $t('main.global.invoice_notification') }}</span>
        </template>

        <template #description>
            <span class="theme-title">{{ $t('main.global.invoice_notification_text') }}</span>
        </template>

        <template #content>
            <div>
                <div class="notification-switcher-item" v-for="(item,i) in invoiceNotificationList">
                    <div class="notification-switcher-title">
                        <p>{{ item.name }}</p>
                    </div>
                    <div class="notification-switcher-action">
                        <span class="checkbox-slide-switcher">
                            <label class="switch" :for="`invoiceNoticeCheckbox${i}`">
                                <input class="mr-1"
                                       :id="`invoiceNoticeCheckbox${i}`"
                                       v-model="item.value"
                                       type="checkbox"
                                       :true-value="1"
                                       :false-value="0"
                                       value="1">
                                <div class="slider round theme-radio-swithcher"></div>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-end mt-4">
                <span class="modal-footer-submit" @click="updateInvoiceNotifications">
                    {{ $t('main.global.save') }}
                </span>
            </div>

        </template>
    </ActionSection>
</template>
