<script setup>
import {ref} from 'vue';
import ActionSection from '@/Components/ActionSection.vue';
import Swal from 'sweetalert2'
import {trans} from "laravel-vue-i18n";

const props = defineProps({
    user: Object,
});
const currentLanguage = ref(props.user.language)
const availableLanguages = ref([
    {prefix: 'en', title: 'English'},
    {prefix: 'ita', title: 'Italian'},
])

const swichLanguage = () => {
    axios.get(route('settings.switchLanguage', currentLanguage.value))
        .then((response) => {
            Swal.fire({
                title: trans('main.global.notifications.popup.settings.language_success_title'),
                text: trans('main.global.notifications.popup.settings.language_success_text'),
                icon: 'success',
                confirmButtonText: trans('main.global.notifications.popup.ok')
            }).then(() => {
                localStorage.setItem('currentLang', currentLanguage.value)
                location.reload()
            })
        })
}
</script>
<template>
    <ActionSection>
        <template #title>
            <span class="theme-title">{{ $t('main.global.language') }}</span>
        </template>

        <template #description>
            <span class="theme-title">{{ $t('main.global.language_text') }}</span>
        </template>

        <template #content>
            <div>
                <select id="status" class="block w-full theme-input mb-4" v-model="currentLanguage">
                    <option v-for="language in availableLanguages" :value="language.prefix">{{language.title}}</option>
                </select>
                <button class="modal-footer-submit" @click="swichLanguage">
                    {{ $t('main.global.save') }}
                </button>
            </div>
        </template>
    </ActionSection>
</template>
