<script setup>
import {computed, onMounted, ref} from 'vue';
import { Link, router, useForm } from '@inertiajs/vue3';
import ActionMessage from '@/Components/ActionMessage.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import Multiselect from '@vueform/multiselect'
import {useStore} from "vuex";

const props = defineProps({
    user: Object,
});

const store = useStore()

const form = useForm({
    _method: 'PUT',
    name: props.user.name,
    email: props.user.email,
    first_name: props.user.first_name,
    last_name: props.user.last_name,
    phone: props.user.phone,
    country_id: props.user.country_id,
    company_id: props.user.company_id,
    address: props.user.address,
    zip_code: props.user.zip_code,
    city: props.user.city,
    swift: props.user.swift,
    photo: null,
});

const countryList = computed(() => {
    return store.getters["country/countryList"]
})

onMounted(async () => {
    await store.dispatch('country/getCountryList')
})

const verificationLinkSent = ref(null);
const photoPreview = ref(null);
const photoInput = ref(null);

const updateProfileInformation = () => {
    if (photoInput.value) {
        form.photo = photoInput.value.files[0];
    }

    form.post(route('user-profile-information.update'), {
        errorBag: 'updateProfileInformation',
        preserveScroll: true,
        onSuccess: () => clearPhotoFileInput(),
    });
};

const sendEmailVerification = () => {
    verificationLinkSent.value = true;
};

const selectNewPhoto = () => {
    photoInput.value.click();
};

const updatePhotoPreview = () => {
    const photo = photoInput.value.files[0];

    if (! photo) return;

    const reader = new FileReader();

    reader.onload = (e) => {
        photoPreview.value = e.target.result;
    };

    reader.readAsDataURL(photo);
};

const deletePhoto = () => {
    router.delete(route('current-user-photo.destroy'), {
        preserveScroll: true,
        onSuccess: () => {
            photoPreview.value = null;
            clearPhotoFileInput();
        },
    });
};

const clearPhotoFileInput = () => {
    if (photoInput.value?.value) {
        photoInput.value.value = null;
    }
};
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<template>
    <FormSection @submitted="updateProfileInformation">
        <template #title>
            <span class="theme-title">{{ $t('main.global.actions.update_password') }}</span>
        </template>

        <template #description>
            <span class="theme-title">{{ $t('main.global.update_profile_information_form_text_1') }}</span>
        </template>

        <template #form>
            <!-- Profile Photo -->
            <div v-if="$page.props.jetstream.managesProfilePhotos" class="col-span-6 sm:col-span-4">
                <!-- Profile Photo File Input -->
                <input
                    ref="photoInput"
                    type="file"
                    class="hidden"
                    @change="updatePhotoPreview"
                >

                <InputLabel for="photo" :value="$t('main.global.forms.labels.photo')" class="theme-title" />

                <!-- Current Profile Photo -->
                <div v-show="! photoPreview" class="my-2">
                    <img :src="user.profile_photo_url" :alt="user.name" class="rounded-full h-20 w-20 object-cover">
                </div>

                <!-- New Profile Photo Preview -->
                <div v-show="photoPreview" class="mt-2">
                    <span
                        class="block rounded-full w-20 h-20 bg-cover bg-no-repeat bg-center"
                        :style="'background-image: url(\'' + photoPreview + '\');'"
                    />
                </div>

                <span class="mt-2 mr-2 modal-footer-submit" type="button" @click.prevent="selectNewPhoto">
                    {{ $t('main.global.actions.select_new_photo') }}
                </span>

                <span
                    v-if="user.profile_photo_path"
                    type="button"
                    class="mt-2 modal-footer-cancel"
                    @click.prevent="deletePhoto"
                >
                    {{ $t('main.global.actions.remove_photo') }}
                </span>

                <InputError :message="form.errors.photo" class="mt-2" />
            </div>

            <!-- Name -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="name" :value="$t('main.global.forms.labels.name')" class="theme-title" />
                <TextInput
                    id="name"
                    v-model="form.name"
                    type="text"
                    class="mt-1 block w-full theme-input"
                    autocomplete="name"
                />
                <InputError :message="form.errors.name" class="mt-2" />
            </div>

            <!-- Email -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="email" :value="$t('main.global.forms.labels.email')" class="theme-title" />
                <TextInput
                    id="email"
                    v-model="form.email"
                    type="email"
                    class="mt-1 block w-full theme-input"
                    autocomplete="username"
                />
                <InputError :message="form.errors.email" class="mt-2" />

                <div v-if="$page.props.jetstream.hasEmailVerification && user.email_verified_at === null">
                    <p class="text-sm mt-2">
                        {{ $t('main.global.notifications.confirm_unverified_address') }}

                        <Link
                            :href="route('verification.send')"
                            method="post"
                            as="button"
                            class="underline text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            @click.prevent="sendEmailVerification"
                        >
                            {{ $t('main.global.actions.send_verification_email') }}
                        </Link>
                    </p>

                    <div v-show="verificationLinkSent" class="mt-2 font-medium text-sm text-green-600">
                        {{ $t('main.global.update_profile_information_form_text_2') }}
                    </div>
                </div>
            </div>

            <!-- First name -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="firstname" :value="$t('main.global.forms.labels.first_name')" class="theme-title" />
                <TextInput
                    id="firstname"
                    v-model="form.first_name"
                    type="text"
                    class="mt-1 block w-full theme-input"
                />
                <InputError :message="form.errors.first_name" class="mt-2" />
            </div>

            <!-- Last name -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="lastname" :value="$t('main.global.forms.labels.last_name')" class="theme-title" />
                <TextInput
                    id="lastname"
                    v-model="form.last_name"
                    type="text"
                    class="mt-1 block w-full theme-input"
                />
                <InputError :message="form.errors.last_name" class="mt-2" />
            </div>

            <!-- phone -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="phone" :value="$t('main.global.forms.labels.phone')" class="theme-title" />
                <TextInput
                    id="phone"
                    v-model="form.phone"
                    type="text"
                    class="mt-1 block w-full theme-input"
                />
                <InputError :message="form.errors.phone" class="mt-2" />
            </div>

            <!-- country -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="country_id" :value="$t('main.global.forms.labels.country')" class="theme-title" />
                <Multiselect
                    class="multiselect-input"
                    id="country"
                    v-model="form.country_id"
                    :close-on-select="true"
                    :searchable="true"
                    label="name"
                    valueProp="id"
                    required
                    :options="countryList"
                >
                </Multiselect>
                <InputError :message="form.errors.country_id" class="mt-2" />
            </div>

            <!-- address -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="address" :value="$t('main.global.forms.labels.address')" class="theme-title" />
                <TextInput
                    id="address"
                    v-model="form.address"
                    type="text"
                    class="mt-1 block w-full theme-input"
                />
                <InputError :message="form.errors.address" class="mt-2" />
            </div>

            <!-- zip code -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="zip_code" :value="$t('main.global.forms.labels.zip_code')" class="theme-title" />
                <TextInput
                    id="zip_code"
                    v-model="form.zip_code"
                    type="text"
                    class="mt-1 block w-full theme-input"
                />
                <InputError :message="form.errors.zip_code" class="mt-2" />
            </div>

            <!-- city -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="city" :value="$t('main.global.forms.labels.city')" class="theme-title" />
                <TextInput
                    id="city"
                    v-model="form.city"
                    type="text"
                    class="mt-1 block w-full theme-input"
                />
                <InputError :message="form.errors.city" class="mt-2" />
            </div>

            <!-- swift -->
            <div class="col-span-6 sm:col-span-4">
                <InputLabel for="swift" :value="$t('main.global.forms.labels.swift')" class="theme-title" />
                <TextInput
                    id="swift"
                    v-model="form.swift"
                    type="text"
                    class="mt-1 block w-full theme-input"
                />
                <InputError :message="form.errors.swift" class="mt-2" />
            </div>

        </template>

        <template #actions>
            <ActionMessage :on="form.recentlySuccessful" class="mr-3">
                {{ $t('main.global.saved') }}
            </ActionMessage>

            <button :class="{ 'opacity-25': form.processing }" class="modal-footer-submit" :disabled="form.processing">
                {{ $t('main.global.save') }}
            </button>
        </template>
    </FormSection>
</template>
