<script setup>
import {computed, onMounted, reactive, ref} from 'vue';
import {usePage} from '@inertiajs/vue3';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import TextArea from '@/Components/TextArea.vue';
import {useStore} from "vuex";
import {isArray} from "lodash";
import { faTrash, faWarning } from "@fortawesome/free-solid-svg-icons";
import DialogModal from '@/Components/DialogModal.vue';
import Swal from 'sweetalert2'
import {trans, wTrans} from 'laravel-vue-i18n';
import SectionBorder from "@/Components/SectionBorder.vue";
import RightDialogFormModal from '@/Components/Metrionic/RightDialogFormModal.vue';

const props = defineProps({
    user: Object,
    companyStatuses: Object
});

const emits = defineEmits(['update'])

const store = useStore()

const companyStatusUsed = computed(() => {
    return  store.getters["settings/companyStatusUsed"]
})

let companyStatusList = JSON.parse(props.companyStatuses.value)

let newCompanyStatusModal = ref(false);
let editCompanyStatusModal = ref(false);
let editableCompanyStatusIndex = ref(0);
let deleteCompanyStatusModal = ref(false);
let deletableCompanyStatusIndex = ref(null);

let newCompanyStatus = reactive({
    id: '',
    name: '',
    description: '',
    color_code: '#000000',
    is_default: 0
})

let errors = reactive({
    id: '',
    name: '',
    value: {
        name: '',
        description: '',
        color_code: '',
        is_default: ''
    }
})

let companyStatusErrors = reactive({
    id: '',
    name: '',
    value: ''
})


const updateCompanyStatuses = async () => {
    let data = {
        _method: 'PUT',
        name: props.companyStatuses.name,
        value: companyStatusList
    }
    await axios.post(route('settings.update', props.companyStatuses.id), data)
        .then((response) => {
            editCompanyStatusModal.value = false
            Swal.fire({
                title: trans('main.global.notifications.settings_updated'),
                icon: 'success',
                confirmButtonText: trans('main.global.notifications.popup.ok')
            })
            emits('update')
        })
        .catch((error) => {
            showValidationMessages(error)
        })
};

const showValidationMessages = (error) => {
    let messages = []
    if(error.response.data.errors){
        for(let item in error.response.data.errors){
            messages.push("<p>" + error.response.data.errors[item] + "</p>")
        }
        Swal.fire({
            title: trans('main.global.notifications.failed'),
            icon: 'error',
            html:messages.join(''),
            confirmButtonText: trans('main.global.notifications.popup.ok')
        })
    }
}

const createCompanyStatus = async () => {
    let defaultId = 1;
    if(companyStatusList.length){
        defaultId = parseInt(companyStatusList[companyStatusList.length - 1]['id']) + 1
    }
    newCompanyStatus.id = defaultId
    if(newCompanyStatus.is_default == 1){
        companyStatusList.map(function (item,i){
            companyStatusList[i]['is_default'] = 0
        });
    }
    companyStatusList.push(newCompanyStatus)

    await updateCompanyStatuses()
    newCompanyStatus = {}
    newCompanyStatusModal.value = false

};

const confirmDeleteCompanyStatus = async (i) => {
    deletableCompanyStatusIndex = i
    deleteCompanyStatusModal.value = true
}

const editCompanyStatus = (i) => {
    editableCompanyStatusIndex.value = i
    editCompanyStatusModal.value = true
}

const checkCompanyStatus = async (i) => {
    let id = companyStatusList[i]['id']
    await store.dispatch('settings/checkCompanyStatusUsed', id)

    return companyStatusUsed.value
}

const deleteCompanySettings = async (index) => {
    if(companyStatusList.length > 2){
        if(!await checkCompanyStatus(index)){
            if(companyStatusList[index]['is_default'] === 1){
                if(index === 0){
                    companyStatusList[1]['is_default'] = 1;
                }else{
                    companyStatusList[0]['is_default'] = 1;
                }
            }
            companyStatusList.splice(index, 1)
            await updateCompanyStatuses()
            deletableCompanyStatusIndex = null
            deleteCompanyStatusModal.value = false
        }else{
            await Swal.fire({
                title: trans('main.global.notifications.cant_remove_status'),
                text: trans('main.global.notifications.confirm_remove_order'),
                icon: 'error',
                confirmButtonText: trans('main.global.notifications.popup.ok')
            })
        }
    }else{
        await Swal.fire({
            title: trans('main.global.notifications.cant_remove_status'),
            text:  trans('main.global.notifications.company_order_status'),
            icon: 'error',
            confirmButtonText: trans('main.global.notifications.popup.ok')
        })
    }
}

const setStatusIsDefault = async (index) => {
    companyStatusList.map(function (item){
        item['is_default'] = 0
    });
    companyStatusList[index]['is_default'] = 1;
    await updateCompanyStatuses()
}

</script>
<template>
    <div class="company-status-content">
        <div class="company-status-list" v-if="companyStatusList">
            <div class="company-status-item" v-for="(item,i) in companyStatusList">
                <div class="company-status-item-header">
                    <div class="company-status-title">
                        <span class="company-status-title-color" :style="`background:${item.color_code}`"></span> {{item.name}}
                    </div>
                    <div class="company-status-actions">
                        <span @click="editCompanyStatus(i)">
                            <i class="ki-duotone ki-pencil">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </span>
                        <span @click="confirmDeleteCompanyStatus(i)">
                            <i class="ki-duotone ki-trash">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                                <span class="path5"></span>
                            </i>
                        </span>
                    </div>
                </div>
                <div class="company-status-description"><b>{{$t('main.global.forms.labels.description')}}:</b> {{item.description}}</div>
                <div class="company-default-status" @click="setStatusIsDefault(i)">
                    <div class="company-default-status-box" :class="`${item.is_default ? 'checked' : ''}`">
                        <span></span>
                    </div>
                    {{$t('main.global.pipeline_starting_status')}}
                </div>
            </div>
        </div>
        <div class="company-status-action">
            <span class="company-status-action-btn" @click="newCompanyStatusModal = true">
                <i class="ki-duotone ki-plus">
                <span class="path1"></span>
                <span class="path2"></span>
            </i> {{ $t('main.global.actions.add_delivery_pipeline') }}
            </span>
        </div>
    </div>
    <RightDialogFormModal :dialogId="'statusCreateModalArea'" :width="666" :show="newCompanyStatusModal" @close="newCompanyStatusModal = false" :heading="$t('main.global.actions.create_delivery_pipeline')">
        <template #form>
            <form @submit.prevent="createCompanyStatus">
                <div class="single-field mb-16">
                    <TextInput
                        v-model="newCompanyStatus.name"
                        :label="$t('main.global.forms.labels.status_name')"
                    />
                </div>
                <div class="single-field mb-16">
                    <TextInput
                        v-model="newCompanyStatus.description"
                        :label="$t('main.global.forms.labels.status_description')"
                    />
                </div>
                <div class="single-field mb-16">
                    <InputLabel for="ncs-invoice_logo" :value="$t('main.global.forms.labels.status_color_code')" class="theme-title" />
                    <input type="color" v-model="newCompanyStatus.color_code">
                </div>
                <div class="single-field">
                    <InputLabel for="ncs-invoice_logo" :value="$t('main.global.forms.labels.is_status_default')" class="theme-title" />
                    <div class="flex align-items-start">
                        <label class="mr-4 theme-title">
                            <input class="mr-1" type="radio" v-model="newCompanyStatus.is_default" value="1">{{ $t('main.global.forms.data.yes') }}
                        </label>
                        <label class="theme-title">
                            <input class="mr-1" type="radio" v-model="newCompanyStatus.is_default" value="0">{{ $t('main.global.forms.data.no') }}
                        </label>
                    </div>
                </div>
            </form>
        </template>
        <template #action>
            <div class="flex items-center justify-end">
                <span @click="newCompanyStatusModal = false" class="modal-footer-cancel">
                    {{ $t('main.global.cancel') }}
                </span>
                <span class="ml-3 modal-footer-submit" @click="createCompanyStatus">
                    {{ $t('main.global.create') }}
                </span>
            </div>
        </template>
    </RightDialogFormModal>
    <RightDialogFormModal :dialogId="'statusUpdateModalArea'" :width="666" :show="editCompanyStatusModal" @close="editCompanyStatusModal = false" :heading="$t('main.global.actions.update_delivery_pipeline')">
        <template #form>
            <form @submit.prevent="updateCompanyStatuses">
                <div class="single-field mb-16">
                    <TextInput
                        v-model="companyStatusList[editableCompanyStatusIndex]['name']"
                        :label="$t('main.global.forms.labels.status_name')"
                    />
                </div>
                <div class="single-field mb-16">
                    <TextArea
                        v-model="companyStatusList[editableCompanyStatusIndex]['description']"
                        :label="$t('main.global.forms.labels.status_description')"
                    />
                </div>
                <div class="single-field mb-16">
                    <InputLabel for="ncs-invoice_logo" :value="$t('main.global.forms.labels.status_color_code')" class="theme-title" />
                    <input type="color" v-model="companyStatusList[editableCompanyStatusIndex]['color_code']">
                </div>
            </form>
        </template>
        <template #action>
            <div class="flex items-center justify-end">
                <span @click="editCompanyStatusModal = false" class="modal-footer-cancel">
                    {{ $t('main.global.cancel') }}
                </span>
                <span class="ml-3 modal-footer-submit" @click="updateCompanyStatuses">
                    {{ $t('main.global.update') }}
                </span>
            </div>
        </template>
    </RightDialogFormModal>
    <DialogModal :show="deleteCompanyStatusModal" @close="deleteCompanyStatusModal = false">
        <template #title>
            <span class="theme-title">{{ $t('main.global.delete_status') }}</span>
        </template>

        <template #content>
            <div class="confirm-details">
                <span class="confirm-icon"><svg-icon :fa-icon="faWarning" :size="20" flip="horizontal"></svg-icon></span>
                <h3 class="confirm-title theme-title">{{ $t('main.global.warning') }}</h3>
                <p class="confirm-text theme-title">{{ $t('main.global.notifications.confirm_delivery_status_delete') }}</p>
            </div>
            <div class="confirm-action">
                <span class="modal-footer-cancel" @click="deleteCompanyStatusModal = false">{{ $t('main.global.cancel') }}</span>
                <span class="modal-footer-submit" @click="deleteCompanySettings(deletableCompanyStatusIndex)">{{ $t('main.global.delete') }}</span>
            </div>
        </template>
    </DialogModal>
    <notifications position="bottom right"/>
</template>
