<script setup>
import {computed, onMounted, reactive, ref} from 'vue';
import {Link, router, useForm, usePage} from '@inertiajs/vue3';
import ActionMessage from '@/Components/ActionMessage.vue';
import FormSection from '@/Components/FormSection.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import Multiselect from '@vueform/multiselect'
import RightDialogFormModal from '@/Components/Metrionic/RightDialogFormModal.vue';
import {useStore} from "vuex";
import Swal from "sweetalert2";

const props = defineProps({
    user: {
        type: Object,
        default: {},
    },
    company: {
        type: Object,
        default: {}
    }
});

let company = props.company

const generalSettingsModal = ref(false);
const logoSquarePreview = ref(null);
const logoSquareInput = ref(null);

const logoWidePreview = ref(null);
const logoWideInput = ref(null);

const store = useStore()

const form = useForm({
    _method: 'PUT',
    company_name: company.company_name,
    address: company.address,
    country_id: company.country_id,
    city: company.city,
    zip_code: company.zip_code,
    vat_number: company.vat_number,
    sdi_code: company.sdi_code,
    rea_code: company.rea_code,
    mail_pec: company.mail_pec,
    email: company.email,
    phone: company.phone,
    logo_square: company.logo_square,
    logo_wide: company.logo_wide,
    invoice_logo: company.invoice_logo
});

const countryList = computed(() => {
    return store.getters["country/countryList"]
})

onMounted(async () => {
    await store.dispatch('country/getCountryList')
})

const selectNewLogo = (type = 'square') => {
    if(type === 'square'){
        logoSquareInput.value.click();
    }else{
        logoWideInput.value.click();
    }

};

const updateLogoPreview = (type = 'square') => {
    let photo
    if(type === 'square'){
        photo = logoSquareInput.value.files[0];
    }else{
        photo = logoWideInput.value.files[0];
    }


    if (! photo) return;

    const reader = new FileReader();

    reader.onload = (e) => {
        if(type === 'square'){
            logoSquarePreview.value = e.target.result;
        }else{
            logoWidePreview.value = e.target.result;
        }

    };

    reader.readAsDataURL(photo);
};

const deleteLogo = (type = 'square') => {
    router.post(route('company.removeLogo', company.id), {type: type}, {
        preserveScroll: true,
        onSuccess: () => {
            if(type === 'square'){
                logoSquarePreview.value = null;
            }else{
                logoWidePreview.value = null;
            }
            clearLogoFileInput(type);
        },
    });
};

const clearLogoFileInput = (type = 'square') => {
    if(type === 'square') {
        if (logoSquareInput.value?.value) {
            logoSquareInput.value.value = null;
        }
        document.getElementsByClassName('square-logo-img')[0].setAttribute('src','')
    } else {
        if (logoWideInput.value?.value) {
            logoWideInput.value.value = null;
        }
        document.getElementsByClassName('wide-logo-img')[0].setAttribute('src','')
    }
};

const updateCompanyInformation = () => {
    if (logoSquareInput.value) {
        form.logo_square = logoSquareInput.value.files[0];
    }
    if (logoWideInput.value) {
        form.logo_wide = logoWideInput.value.files[0];
    }
    form.post(route('company.update', company.id), {
        errorBag: 'updateCompanyInformation',
        preserveScroll: true,
        onSuccess: () => {
            location.reload();
        }
    });
};

</script>
<template>
    <div class="company-settings-content">
        <div class="company-settings-action">
            <span class="company-status-action-btn" @click="generalSettingsModal = true">
                <i class="ki-duotone ki-pencil mr-1">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i> {{ $t('main.global.actions.edit_information') }}
            </span>
        </div>
        <div class="company-settings-info">
            <div class="company-settings-info-side media-side">
                <div class="company-settings-info-title">{{ $t('main.global.forms.labels.logo_square') }}</div>
                <div class="company-media-area">
                    <img class="company-media-logo" :src="company.logo_square ? `/storage/${company.logo_square}` : ''" :alt="company.company_name">
                </div>
                <div class="company-settings-info-title">{{ $t('main.global.forms.labels.logo_wide') }}</div>
                <div class="company-media-area">
                    <img class="company-media-logo" :src="company.logo_wide ? `/storage/${company.logo_wide}` : ''" :alt="company.company_name">
                </div>
            </div>
            <div class="company-settings-info-side fiscal-side">
                <div class="company-settings-info-title">{{ $t('main.global.forms.head_title.fiscal_information') }}</div>
                <div class="company-settings-info-list">
                    <p><span>{{$t('main.global.forms.labels.country')}}:</span> {{ company.country ? company.country.name : '' }}</p>
                    <p><span>{{$t('main.global.forms.labels.company_name')}}:</span> {{ company.company_name }}</p>
                    <p><span>{{$t('main.global.forms.labels.vat_number')}}:</span> {{ company.vat_number }}</p>
                    <p><span>{{$t('main.global.forms.labels.sdi_code')}}:</span> {{ company.sdi_code }}</p>
                    <p><span>{{$t('main.global.forms.labels.rea_code')}}:</span> {{ company.rea_code }}</p>
                </div>
            </div>
            <div class="company-settings-info-side contact-side">
                <div class="company-settings-info-title">{{ $t('main.global.forms.head_title.contact_information') }}</div>
                <div class="company-settings-info-list">
                    <p><span>{{$t('main.global.forms.labels.address')}}:</span> {{ company.address }}</p>
                    <p><span>{{$t('main.global.forms.labels.phone')}}:</span> {{ company.phone }}</p>
                    <p><span>{{$t('main.global.forms.labels.email')}}:</span> {{ company.email }}</p>
                    <p><span>{{$t('main.global.forms.labels.pec_email')}}:</span> {{ company.mail_pec }}</p>
                </div>
            </div>
        </div>
    </div>
    <RightDialogFormModal :dialogId="'companyGeneralInfoModalArea'" :width="666" :show="generalSettingsModal" @close="generalSettingsModal = false" :heading="$t('main.global.actions.company_information')">
        <template #form>
            <!-- NAME -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.company_name"
                    :label="$t('main.global.forms.labels.company_name')"
                />
            </div>

            <!-- LOGO SQUARE -->
            <div class="single-field mb-16">
                <div class="upload-box">
                    <h3>{{$t('main.global.forms.labels.logo_square')}}</h3>
                    <label @click.prevent="selectNewLogo('square')">
                        <span v-if="!logoSquarePreview" class="upload-choose-btn"><i class="fa fa-plus"></i></span>
                        <span v-else class="selected-main-image-change-btn">{{$t('main.global.change')}}</span>
                    </label>
                </div>
            </div>
            <div class="single-field mb-16">
                <input
                    ref="logoSquareInput"
                    type="file"
                    class="hidden"
                    @change="updateLogoPreview('square')"
                >
                <div v-show="!logoSquarePreview" class="company-media-area justify-content-center">
                    <img :src="company.logo_square ? `/storage/${company.logo_square}` : ''" :alt="company.company_name" class="company-media-logo">
                </div>
                <div v-show="logoSquarePreview" class="mt-2">
                    <span
                        class="block rounded-full w-20 h-20 bg-cover bg-no-repeat bg-center"
                        :style="'background-image: url(\'' + logoSquarePreview + '\');'"
                    />
                </div>
            </div>

            <div class="single-field mb-16">
                <div class="upload-box">
                    <h3>{{$t('main.global.forms.labels.logo_wide')}}</h3>
                    <label @click.prevent="selectNewLogo('wide')">
                        <span v-if="!logoWidePreview" class="upload-choose-btn"><i class="fa fa-plus"></i></span>
                        <span v-else class="selected-main-image-change-btn">{{$t('main.global.change')}}</span>
                    </label>
                </div>
            </div>
            <!-- LOGO WIDE -->
            <div class="single-field mb-16">
                <input
                    ref="logoWideInput"
                    type="file"
                    class="hidden"
                    @change="updateLogoPreview('wide')"
                >
                <div v-show="! logoWidePreview" class="company-media-area justify-content-center">
                    <img :src="company.logo_wide ? `/storage/${company.logo_wide}` : ''" :alt="company.company_name" class="company-media-logo">
                </div>
                <div v-show="logoWidePreview" class="mt-2">
                    <span
                        class="block w-20 h-20 bg-cover bg-no-repeat bg-center"
                        :style="'background-image: url(\'' + logoWidePreview + '\');'"
                    />
                </div>
            </div>

            <!-- INVOICE LOGO -->
            <div class="single-field mb-16" v-if="form.logo_wide || form.logo_square">
                <InputLabel for="invoice_logo" :value="$t('main.global.forms.labels.invoice_logo_type')" class="theme-title" />
                <div class="flex align-items-start">
                    <label class="mr-4 theme-title">
                        <input class="mr-1" type="radio" v-model="form.invoice_logo" value="wide">{{ $t('main.global.forms.data.wide') }}
                    </label>
                    <label class="theme-title">
                        <input class="mr-1" type="radio" v-model="form.invoice_logo" value="square">{{ $t('main.global.forms.data.square') }}
                    </label>
                </div>
                <InputError :message="form.errors.invoice_logo" class="mt-2" />
            </div>

            <h3 class="form-section-title mt-60">{{$t('main.global.forms.head_title.contact_information')}}</h3>

            <!-- phone -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.phone"
                    :label="$t('main.global.forms.labels.phone')"
                />
            </div>

            <!-- Address -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.address"
                    :label="$t('main.global.forms.labels.address')"
                />
            </div>

            <!-- ZIP CODE -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.zip_code"
                    :label="$t('main.global.forms.labels.zip_code')"
                />
            </div>

            <!-- City -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.city"
                    :label="$t('main.global.forms.labels.city')"
                />
            </div>

            <!-- Email -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.email"
                    :value="$t('main.global.forms.labels.emil')"
                />
            </div>

            <!-- PEC EMAIL -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.mail_pec"
                    :label="$t('main.global.forms.labels.pec_email')"
                />
            </div>

            <!-- country -->
            <div class="multiselect-single-field mb-16">
                <span class="selector-label" :class="form.country_id ? 'focused' : ''">
                    {{$t('main.global.forms.labels.country')}}
                </span>
                <Multiselect
                    class="multiselect-field"
                    id="country"
                    v-model="form.country_id"
                    :close-on-select="true"
                    :searchable="true"
                    label="name"
                    valueProp="id"
                    required
                    :options="countryList"
                >
                </Multiselect>
            </div>

            <h3 class="form-section-title mt-60">{{$t('main.global.forms.head_title.contact_information')}}</h3>

            <!-- VAT number -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.vat_number"
                    :label="$t('main.global.forms.labels.vat_number')"
                />
            </div>

            <!-- SDI code -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.sdi_code"
                    :label="$t('main.global.forms.labels.sdi_code')"
                />
            </div>

            <!-- REA code -->
            <div class="single-field mb-16">
                <TextInput
                    v-model="form.rea_code"
                    :label="$t('main.global.forms.labels.rea_code')"
                />
            </div>

        </template>
        <template #action>
            <div class="flex items-center justify-end">
                <span @click="generalSettingsModal = false" class="modal-footer-cancel">
                    {{ $t('main.global.cancel') }}
                </span>
                <ActionMessage :on="form.recentlySuccessful" class="mr-3">
                    {{ $t('main.global.saved') }}
                </ActionMessage>

                <button class="modal-footer-submit" :class="{ 'opacity-25': form.processing }" :disabled="form.processing" @click="updateCompanyInformation">
                    {{ $t('main.global.save') }}
                </button>
            </div>
        </template>
    </RightDialogFormModal>
</template>
