<script setup>
import {computed, onMounted, reactive, ref} from 'vue';
import {usePage} from '@inertiajs/vue3';
import FormSection from '@/Components/FormSection.vue';
import RightDialogFormModal from '@/Components/Metrionic/RightDialogFormModal.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import TextArea from '@/Components/TextArea.vue';
import {useStore} from "vuex";
import {isArray} from "lodash";
import { faTrash, faWarning } from "@fortawesome/free-solid-svg-icons";
import DialogModal from '@/Components/DialogModal.vue';
import Swal from 'sweetalert2'
import {trans, wTrans} from 'laravel-vue-i18n';

const props = defineProps({
    user: Object,
    salesPipelines: Object
});

const emits = defineEmits(['update'])

const store = useStore()

const salesPipelineUsed = computed(() => {
    return  store.getters["settings/salesPipelineUsed"]
})

let salesPipelineList = JSON.parse(props.salesPipelines.value)

let newSalesPipelineModal = ref(false);
let editSalesPipelineModal = ref(false);
let deleteSalesPipelineModal = ref(false);
let deletableSalesPipelineIndex = ref(null);
let editableSalesPipelineIndex = ref(0);

let newSalesPipeline = reactive({
    id: '',
    name: '',
    description: '',
    color_code: '#000000',
    is_default: 0
})

let errors = reactive({
    id: '',
    name: '',
    value: {
        name: '',
        description: '',
        color_code: '',
        is_default: ''
    }
})

let salesPipelineErrors = reactive({
    id: '',
    name: '',
    value: ''
})


const updateSalesPipelines = async () => {
    let data = {
        _method: 'PUT',
        name: props.salesPipelines.name,
        value: salesPipelineList
    }
    await axios.post(route('settings.update', props.salesPipelines.id), data)
        .then((response) => {
            editSalesPipelineModal.value = false
            Swal.fire({
                title: trans('main.global.notifications.settings_updated'),
                icon: 'success',
                confirmButtonText: trans('main.global.notifications.popup.ok')
            })
            emits('update')
        })
        .catch((error) => {
            showValidationMessages(error)
        })
};


const showValidationMessages = (error) => {
    let messages = []
    if(error.response.data.errors){
        for(let item in error.response.data.errors){
            messages.push("<p>" + error.response.data.errors[item] + "</p>")
        }
        Swal.fire({
            title: trans('main.global.notifications.failed'),
            icon: 'error',
            html:messages.join(''),
            confirmButtonText: trans('main.global.notifications.popup.ok')
        })
    }
}

const createSalesPipeline = async () => {
    let defaultId = 1;
    if(salesPipelineList.length){
        defaultId = parseInt(salesPipelineList[salesPipelineList.length - 1]['id']) + 1
    }
    newSalesPipeline.id = defaultId
    if(newSalesPipeline.is_default == 1){
        salesPipelineList.map(function (item,i){
            salesPipelineList[i]['is_default'] = 0
        });
    }
    salesPipelineList.push(newSalesPipeline)

    await updateSalesPipelines()
    newSalesPipeline = {}
    newSalesPipelineModal.value = false

};

const confirmDeleteSalesPipeline = async (i) => {
    deletableSalesPipelineIndex = i
    deleteSalesPipelineModal.value = true
}

const checkSalesPipeline = async (i) => {
    let id = salesPipelineList[i]['id']
    await store.dispatch('settings/checkSalesPipelineUsed', id)

    return salesPipelineUsed.value
}

const editSalesPipeline = (i) => {
    editableSalesPipelineIndex.value = i
    editSalesPipelineModal.value = true
}

const deleteSalesPipelines = async (index) => {
    if(salesPipelineList.length > 2){
        if(!await checkSalesPipeline(index)){
            if(salesPipelineList[index]['is_default'] === 1){
                if(index === 0){
                    salesPipelineList[1]['is_default'] = 1;
                }else{
                    salesPipelineList[0]['is_default'] = 1;
                }
            }
            salesPipelineList.splice(index, 1)
            await updateSalesPipelines()
            deletableSalesPipelineIndex = null
            deleteSalesPipelineModal.value = false
        }else{
            await Swal.fire({
                title: wTrans('main.global.notifications.cant_remove_status'),
                text: wTrans('main.global.notifications.confirm_remove_estimate'),
                icon: 'error',
                confirmButtonText: wTrans('main.global.notifications.popup.ok')
            })
        }
    }else{
        await Swal.fire({
            title: wTrans('main.global.notifications.cant_remove_status'),
            text: wTrans('main.global.notifications.company_sales_status'),
            icon: 'error',
            confirmButtonText: wTrans('main.global.notifications.popup.ok')
        })
    }
}

const checkStatusIsDefault = async (index) => {
    salesPipelineList.map(function (item){
        item['is_default'] = 0
    });
    salesPipelineList[index]['is_default'] = 1;
    await updateSalesPipelines()
}

</script>
<template>
    <div class="company-status-content">
        <div class="company-status-list" v-if="salesPipelines">
            <div class="company-status-item" v-for="(item,i) in salesPipelineList">
                <div class="company-status-item-header">
                    <div class="company-status-title">
                        <span class="company-status-title-color" :style="`background:${item.color_code}`"></span> {{item.name}}
                    </div>
                    <div class="company-status-actions">
                        <span @click="editSalesPipeline(i)">
                            <i class="ki-duotone ki-pencil">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </span>
                        <span @click="confirmDeleteSalesPipeline(i)">
                            <i class="ki-duotone ki-trash">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                                <span class="path5"></span>
                            </i>
                        </span>
                    </div>
                </div>
                <div class="company-status-description"><b>{{$t('main.global.forms.labels.description')}}:</b> {{item.description}}</div>
                <div class="company-default-status" @click="checkStatusIsDefault(i)">
                    <div class="company-default-status-box" :class="`${item.is_default ? 'checked' : ''}`">
                        <span></span>
                    </div>
                    {{$t('main.global.pipeline_starting_status')}}
                </div>
            </div>
        </div>
        <div class="company-status-action">
            <span class="company-status-action-btn" @click="newSalesPipelineModal = true">
                <i class="ki-duotone ki-plus">
                <span class="path1"></span>
                <span class="path2"></span>
            </i> {{ $t('main.global.actions.add_sales_pipeline') }}
            </span>
        </div>
    </div>
    <RightDialogFormModal :dialogId="'pipelineCreateModalArea'" :width="666" :show="newSalesPipelineModal" @close="newSalesPipelineModal = false" :heading="$t('main.global.actions.create_sales_pipeline')">
        <template #form>
            <form @submit.prevent="createSalesPipeline">
                <div class="single-field mb-16">
                    <TextInput
                        v-model="newSalesPipeline.name"
                        :label="$t('main.global.forms.labels.status_name')"
                    />
                </div>
                <div class="single-field mb-16">
                    <TextInput
                        v-model="newSalesPipeline.description"
                        :label="$t('main.global.forms.labels.status_description')"
                    />
                </div>
                <div class="single-field mb-16">
                    <InputLabel for="ncs-invoice_logo" :value="$t('main.global.forms.labels.status_color_code')" class="theme-title" />
                    <input type="color" v-model="newSalesPipeline.color_code">
                </div>
                <div class="single-field">
                    <InputLabel for="ncs-invoice_logo" :value="$t('main.global.forms.labels.is_status_default')" class="theme-title" />
                    <div class="flex align-items-start">
                        <label class="mr-4 theme-title">
                            <input class="mr-1" type="radio" v-model="newSalesPipeline.is_default" value="1">{{ $t('main.global.forms.data.yes') }}
                        </label>
                        <label class="theme-title">
                            <input class="mr-1" type="radio" v-model="newSalesPipeline.is_default" value="0">{{ $t('main.global.forms.data.no') }}
                        </label>
                    </div>
                </div>
            </form>
        </template>
        <template #action>
            <div class="flex items-center justify-end">
                <span @click="newSalesPipelineModal = false" class="modal-footer-cancel">
                    {{ $t('main.global.cancel') }}
                </span>
                <span class="ml-3 modal-footer-submit" @click="createSalesPipeline">
                    {{ $t('main.global.create') }}
                </span>
            </div>
        </template>
    </RightDialogFormModal>
    <RightDialogFormModal :dialogId="'pipelineUpdateModalArea'" :width="666" :show="editSalesPipelineModal" @close="editSalesPipelineModal = false" :heading="$t('main.global.actions.update_sales_pipeline')">
        <template #form>
            <form @submit.prevent="updateSalesPipelines">
                <div class="single-field mb-16">
                    <TextInput
                        v-model="salesPipelineList[editableSalesPipelineIndex]['name']"
                        :label="$t('main.global.forms.labels.status_name')"
                    />
                </div>
                <div class="single-field mb-16">
                    <TextArea
                        v-model="salesPipelineList[editableSalesPipelineIndex]['description']"
                        :label="$t('main.global.forms.labels.status_description')"
                    />
                </div>
                <div class="single-field mb-16">
                    <InputLabel for="ncs-invoice_logo" :value="$t('main.global.forms.labels.status_color_code')" class="theme-title" />
                    <input type="color" v-model="salesPipelineList[editableSalesPipelineIndex]['color_code']">
                </div>
            </form>
        </template>
        <template #action>
            <div class="flex items-center justify-end">
                <span @click="editSalesPipelineModal = false" class="modal-footer-cancel">
                    {{ $t('main.global.cancel') }}
                </span>
                <span class="ml-3 modal-footer-submit" @click="updateSalesPipelines">
                    {{ $t('main.global.update') }}
                </span>
            </div>
        </template>
    </RightDialogFormModal>
    <DialogModal :show="deleteSalesPipelineModal" @close="deleteSalesPipelineModal = false">
        <template #title>
            <span class="theme-title">Delete Status</span>
        </template>

        <template #content>
            <div class="confirm-details">
                <span class="confirm-icon"><svg-icon :fa-icon="faWarning" :size="20" flip="horizontal"></svg-icon></span>
                <h3 class="confirm-title theme-title">{{ $t('main.global.warning') }}</h3>
                <p class="confirm-text theme-title">{{ $t('main.global.notifications.confirm_company_settings_delete') }}</p>
            </div>
            <div class="confirm-action">
                <span class="modal-footer-cancel" @click="deleteSalesPipelineModal = false">{{ $t('main.global.cancel') }}</span>
                <span class="modal-footer-submit" @click="deleteSalesPipelines(deletableSalesPipelineIndex)">{{ $t('main.global.delete') }}</span>
            </div>
        </template>
    </DialogModal>
</template>

